[2021-04-15 06:48] swartz-k opened #140 "[Discuss] Easy Way to Deploy in Single/Cluster Mode."
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Support an easy way to start OpenSearch in local machine or K8S, such as docker compose、Helm Chart or something

**Describe alternatives you've considered**
Support Helm Chart and docker deploy docs

[2021-07-22 21:09] dblock opened #14 "Publish helm charts"
Coming from opensearch-project/opensearch-devops#10 and opensearch-project/opensearch-devops#4

consider https://github.com/helm/chart-releaser-action

[2021-07-27 06:35] TheAlgo opened #12 "Examples of Deployment that can be done using Helm Chart"
We can add examples of different values for different kinds of deployment for OpenSearch stack. It will be great for end users to directly edit those example deployment values for their use-case/purpose.

[2021-08-05 18:02] TheAlgo opened #15 "[Documentation] Documentation of Helm Charts for OpenSearch"
It will be great if we can have a well written README describing the different options Helm Charts have. It should contain the following components:
1. Instructions about setting up the local dev environment
2. Instructions about installing the chart of k8s
2. Description about different params in `values.yaml` and how to use them.
2. How to use the charts to do different kind of deployments.

P:S

[2021-08-18 22:11] peterzhuamazon opened #11 "[Enhancement][Helm] Parameterize the path instead of hardcoding"
**Is your feature request related to a problem? Please describe.**
We have hardcoded several paths in Helm Charts.
It would be better if we parameterize them.

Example: https://github.com/opensearch-project/opensearch-devops/blob/ab0d2494f062de0e9b12037ba77e2dc845d156de/Helm/opensearch/templates/statefulset.yaml#L305

**Describe the solution you'd like**
A clear and concise description of what you

[2021-08-25 23:21] peterzhuamazon opened #2 "[Migration] Migrate Helm-Charts from opensearch-devops repo to this repo"
https://github.com/opensearch-project/opensearch-devops/issues/53

[2021-08-27 02:11] DandyDeveloper opened #4 "[Test] Create GitHub Actions for basic tests / Test Deployments on Kubernetes"
This is an example on my charts repository, it does the job. Maybe there are better more in-depth options available nowadays;

https://github.com/DandyDeveloper/charts/blob/master/.github/workflows/test.yaml

[2021-08-31 16:48] TheAlgo opened #5 "[Enhancement][OpenSearch Dashboards] Enhance demo configuration for TLS enablement"
**Is your feature request related to a problem? Please describe.**
There is no sample configuration for TLS enabled in Dashboards charts. The chart directly disables SSL in its default config unlike OpenSearch chart

**Describe the solution you'd like**
A sample demo configuration for TLS enabled using demo certificates something like [this](https://github.com/opendistro-for-elasticsearch/opendist

[2021-08-31 16:52] TheAlgo opened #6 "[New Chart][Logstash]"
**Is your feature request related to a problem? Please describe.**
A chart for Logstash will be helpful in deploying OpenSearch stacks to Kubernetes

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
This will help cater many use-cases for log ingestion, analytics etc.

[2021-08-31 18:02] peterzhuamazon commented on #2
https://github.com/opensearch-project/helm-charts/pull/7

[2021-09-06 09:26] jasodeep opened #16 "[Helm] If cluster name is set anything apart from "opesearch-cluster", getting an error OpenSearch Security not initialised."
**Describe the bug**
I tried deploying OpenSearch using the helm chart, it’s working fine when the cluster name is set to default opesearch-cluster, but when it’s set to something custom, it’s throwing error -
`OpenSearch Security not initialised`

**Values which resulting error -**
[code]

**Working Values**
[code]

[2021-09-07 18:26] #2 closed

[2021-09-07 18:26] #5 closed

[2021-09-08 05:47] alborotogarcia opened #8 "[BUG][Opensearch] Invalid volume permissions plus securityConfigSecrets"
**Describe the bug**
A clear and concise description of what the bug is.
Failed to mount multiple secrets at once from securityConfigSecrets.config.data plus volume permissions
**To Reproduce**
Steps to reproduce the behavior:
1. Having set
[code]
Returns the following:
[code]
Due to fsgroup permissions..

**Expected behavior**
A clear and concise description of what you expected to happen.

**Cha

[2021-09-08 08:37] peterzhuamazon opened #13 "[Onboarding][helm] Onboarding Kubernetes Logging Helm Charts to opensearch-project/helm-charts repo"
**Is your feature request related to a problem? Please describe.**
We have contacted @nickytd about onboarding his helm repo to opensearch helm-charts.
https://github.com/nickytd/kubernetes-logging-helm
https://github.com/opensearch-project/helm-charts

Since we are still in the process of migrating Helm to helm-charts repo.
What would be a good way for this onboarding to be smooth.

**Describe th

[2021-09-08 08:42] TheAlgo commented on #14
@mprimeaux We have completed the migration. You should be good to contribute now. Thanks.

[2021-09-08 10:52] jasodeep commented on #16
@TheAlgo Issue is resolved now.

Actually I was trying form a opensearch cluster, so I had multiple node groups e.g. master, data. And elasticsearch need at least one master eligible node to bootstrap the cluster and that was misconfigured so while I was deploying other node groups it was failing to identify the master node and was leading to the mentioned issue.

[2021-09-08 10:52] #16 closed

[2021-09-08 11:37] avthart opened #17 "Helm upgrade path from Opendistro-for-Elasticsearch 1.13"
We have a couple of questions regarding the new Opensearch project and 1.0.0 release.

We are currently using Opendistro-for-Elasticearch 1.13.x.

- What are the plans with the Helm chart for opendistro-for-es? Will this Helm chart be (re)used for Opensearch?
- When can we expect a release for Opensearch 1.0.0?

Also see https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/780

[2021-09-08 14:21] smlx opened #26 "[BUG][Opensearch] Keystore init container exits with error"
**Describe the bug**
The keystore init container doesn't work because the `opensearch-keystore` binary is not in `$PATH`.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure some `keystore` values in the chart values.
2. Apply the chart.
3. See error in init container.

**Expected behavior**
Specified values should be added to the keystore.

**Chart Name**
Opensearch.

**Screenshots**

[2021-09-08 14:32] smlx opened #28 "[BUG][Opensearch Dashboards] Inconsistent indentation in rendered templates"
**Describe the bug**
The rendered templates for `opensearch-dashboards` cause `yamllint` warnings due to inconsistent indentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `helm template --namespace dashboards dashboards ./charts/opensearch-dashboards > /tmp/dashboards.yaml`
2. Open `/tmp/dashboards.yaml` with and editor that has `yamllint` integration, or just run `yamllint /tmp/

[2021-09-08 14:34] smlx opened #29 "[BUG][Opensearch] Inconsistent indentation in rendered templates"
**Describe the bug**
The rendered templates for `opensearch` cause `yamllint` warnings due to inconsistent indentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `helm template --namespace opensearch opensearch ./charts/opensearch > /tmp/opensearch.yaml`
2. Open `/tmp/opensearch.yaml` with and editor that has `yamllint` integration, or just run `yamllint /tmp/opensearch.yaml`
3. Se

[2021-09-08 14:39] smlx opened #30 "[BUG][Opensearch] Rendered template has a line containing only spaces"
**Describe the bug**
The rendered chart has a line containing only spaces, which causes `yamllint` warnings.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `helm template --namespace opensearch opensearch ./charts/opensearch > /tmp/opensearch.yaml`
2. Open `/tmp/opensearch.yaml` with and editor that has `yamllint` integration, or just run `yamllint /tmp/opensearch.yaml`
3. See `trailing

[2021-09-08 14:45] smlx opened #31 "[BUG][Opensearch] secretMount parameters are not validated"
**Describe the bug**
I specified an array of `secretMount` values, but one of them was missing a required key. When the chart was applied it created a resource missing a required field.

**To Reproduce**
Steps to reproduce the behavior:
1. Specify a `secretMount` values missing a parameter such as `secretName`
2. Apply the chart.
3. Chart will either fail to apply or will apply but the pod will ne

[2021-09-08 14:52] smlx opened #32 "[BUG][Opensearch] Major version label doesn't work for unofficial images"
**Describe the bug**
I created a custom image based on the official `opensearchproject/opensearch` docker image.
When I specified this image in the chart the `majorVersion` annotation was not set correctly.

**To Reproduce**
Steps to reproduce the behaviour:
1. Build a custom image and give it the same tag as the latest `opensearchproject/opensearch` image.
2. Specify this image in the chart.
3. S

[2021-09-08 15:02] smlx opened #33 "[BUG][Opensearch Dashboards] Setting a chart version containing a + results in invalid rolebinding template"
**Describe the bug**
I use a version of this chart internally and carry some patches locally. I use the standard SemVer scheme for this: `v1.0.0+localpatches.1`. This causes the installation to fail with an error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set a valid SemVer chart version containing a `+`
2. Install chart.
3. See error

**Expected behavior**
The chart version st

[2021-09-08 15:10] smlx opened #34 "[BUG][Opensearch Dashboards] Chart does not install on EKS v1.19+"
**Describe the bug**
The chart does not install on EKS v1.19+ if you have `ingress` enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Apply the chart to the EKS cluster with ingress enabled.
2. See error.

[code]

**Expected behavior**
Ingress object should be valid.

**Chart Name**
Opensearch Dashboards

**Screenshots**
n/a

**Host/Environment (please complete the following informati

[2021-09-08 15:15] smlx opened #35 "[BUG][Opensearch] Redundant line in networkpolicy template"
**Describe the bug**
The networkpolicy template contains a redundant line.

**To Reproduce**
Steps to reproduce the behavior:
1. Click [here](https://github.com/opensearch-project/helm-charts/blob/9872c5de9e13a2d4d553b62453d340314fe362ae/charts/opensearch/templates/networkpolicy.yaml#L4)
2. See redundant line.

**Expected behavior**
`creationTimestamp` should not be in templates since it only make

[2021-09-09 16:19] #35 closed

[2021-09-09 16:21] #33 closed

[2021-09-09 16:23] #26 closed

[2021-09-09 16:25] #29 closed

[2021-09-10 03:23] smlx opened #36 "[BUG][Opensearch] Non-standard labels on chart objects"
**Describe the bug**
Helm and Kubernetes recommend a standard set of labels. The Opensearch chart does not follow that recommendation.

https://helm.sh/docs/chart_best_practices/labels/#standard-labels
https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

**To Reproduce**
 Compare the labels on the templates in the Opensearch chart to the recommended set of labels.

**E

[2021-09-10 03:33] smlx opened #38 "[BUG][Opensearch] Setting esJavaOpts has no effect"
**Describe the bug**
Setting the chart value `esJavaOpts` has no effect on the Java Options used by the running Opensearch process.

**To Reproduce**
Steps to reproduce the behavior:
1. Set `esJavaOpts` to a non-default value.
2. Install the chart
3. Watch the startup messages from Opensearch
4. See that the configuration set in `esJavaOpts` is ignored.

**Expected behavior**
I expect the `esJavaO

[2021-09-10 05:22] smlx opened #40 "[BUG][Opensearch] Difficult to share securityconfig between StatefulSets"
**Describe the bug**
It is difficult to share `securityConfig` values between Opensearch chart installs which are part of the same Opensearch cluster, when using the combined `securityConfig.config.data` value.

Currently the secret name must be defined in the `securityConfig.config.securityConfigSecret`, but it cannot be the same name for different chart installs in the same namespace.

**To Repr

[2021-09-10 17:22] sastorsl opened #42 "[BUG][opensearch] Deprecated node role settings"
**Describe the bug**
The old roles was deprecated in 7.8, and has been replaced by node roles.
This gives a deprecation warning in the opensearch logs.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Would expect the chart to use a non-deprecated configuration.

**Chart Name**
opensearch

**Screenshots**

[code]

**Host/Environment (please complete the following i

[2021-09-10 17:30] #31 closed

[2021-09-10 17:34] #30 closed

[2021-09-10 17:36] #38 closed

[2021-09-10 20:08] peterzhuamazon commented on #8
@TheAlgo @smlx any idea on this issue here? Thanks.

[2021-09-10 20:09] peterzhuamazon commented on #42
Hi @sastorsl would you like me to move this issue to OpenSearch repo?
Or is it something we can fix directly in helm-charts?
Thanks.

[2021-09-10 20:11] hgoscenski-imanage opened #44 "[Enhancement][opensearch][opensearch-dashboards] Lifecycle Probes"
**Is your feature request related to a problem? Please describe.**
I think there ought to be liveness/readiness/startup probes for the opensearch statefulset and the opensearch-dashboards deployment.

Currently the pods are immediately marked ready on startup, leading to more than one of the nodes being unavailable which can lead to instability especially with lots of data.

**Describe the solutio

[2021-09-10 20:12] peterzhuamazon commented on #44
Transfer to Helm-Charts repo for new PR #43

[2021-09-11 14:33] TheAlgo opened #45 "[New Chart][Data Prepper]"
**Is your feature request related to a problem? Please describe.**
Chart for Data Prepper which can be used with the OpenSearch Helm Chart

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
https://opensearch.org/docs/monitoring-plugins/trace/data-prepper/

[2021-09-12 14:08] sastorsl commented on #42
@peterzhuamazon Yes, thank you.
Giving this more thought it probably belongs in the opensearch-repo. Fixing the defaults and docs there first makes sense, then fixing the chart.

[2021-09-13 20:22] #28 closed

[2021-09-13 21:20] peterzhuamazon commented on #14
Hi @mprimeaux is there any progress on this task to make helm charts publish?
Thanks.

[2021-09-14 11:16] mprimeaux commented on #14
Hi @peterzhuamazon. I will issue a PR today. My apologies for the delay.

[2021-09-14 16:58] peterzhuamazon commented on #14
np, thanks.

[2021-09-17 20:13] #32 closed

[2021-09-18 14:08] #8 closed

[2021-09-20 06:47] DandyDeveloper opened #50 "[Enhancement][Opensearch] Support OpenSearch Prometheus Exporter"
**Is your feature request related to a problem? Please describe.**
Ported from: https://github.com/opensearch-project/opensearch-devops/issues/68

Add support for the exporter.

**Describe the solution you'd like**
Best done by mounting an initContainer that will write the plugins. This can be a bit of a pain for persistence between containers, but I will look into using the existing PVC volume to

[2021-09-20 07:19] DandyDeveloper commented on #50
I have a tenantive branch ready for this. I need a little more testing. Will be done later today.

[2021-09-20 17:37] alborotogarcia opened #51 "[Enhancement][Opensearch] Register snapshot repository"
**Is your feature request related to a problem? Please describe.**
Let chart to take snapshots (eg. to volume mounts/s3 buckets)

**Describe the solution you'd like**
Register a repository as described [here](https://opensearch.org/docs/opensearch/snapshot-restore/#register-repository)

**Describe alternatives you've considered**
An InitContainer that sets the repo

**Additional context**
Add any

[2021-09-20 18:52] alborotogarcia opened #54 "[BUG] Opensearch SSL transport error, master not discovered or elected yet"
**Describe the bug**
Can't reproduce default demo setup on kubernetes.

**To Reproduce**
Steps to reproduce the behavior:
1. Install helm chart with defaults (optional) from https://github.com/opensearch-project/helm-charts
2. Copy all configuration yaml from /usr/share/opensearch/plugins/opensearch-security/securityconfig to local
3. Paste contents to securityConfig.config.data file templates
4.

[2021-09-20 21:25] sastorsl opened #52 "[BUG][opensearch] Adding extraEnvs to values throws YAML parse error in statefulset.yaml"
**Describe the bug**
Adding any `extraEnvs` to the opensearch values.yaml throws a YAML parse error during `helm install` / `helm upgrade`.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit `values.yaml`
2. Add extraEnvs
3. Run `helm install --values=charts/opensearch/values.yaml mycluster charts/opensearch`
4. Error is trown.

**Expected behavior**
Would expect the extra environment vari

[2021-09-20 22:00] DandyDeveloper commented on #50
@alochym01 Need to wait for some input from the maintainer see above.

I have this working, BUT, I don't agree that authentication is needed. If it is, then we need to rely on users setting up scrape_configs themselves.

Waiting to see what the maintainer says

[2021-09-21 03:01] smlx commented on #50
Does the native metrics exporter plugin have much overlap with the metrics exposed by https://github.com/prometheus-community/elasticsearch_exporter ?

[2021-09-21 03:26] DandyDeveloper commented on #50
@smlx We'll still have the same problem, won't we? Just that people will have an easier time adding the credentials through the chart.

I'd like to see the input from the plugin side because a more native plugin to support metrics would be better then an exporter.

Especially if it can work around the security aspects of it.

Based on: https://github.com/aparo/opensearch-prometheus-exporter/blob/m

[2021-09-21 04:52] TheAlgo commented on #50
@DandyDeveloper

Yes this is third part. IMO we should not go ahead with a third party plugin, rather have a plugin under the `opensearch-project` umbrella and then support it in our charts. There are 2 ways :
1. We can develop the plugin ourselves and add the facility in the chart.
2. Ask the third party maintainers if they are willing to move it under the umbrella.

I am fine with this generic a

[2021-09-21 05:30] DandyDeveloper commented on #50
@TheAlgo Thank you. IMO there shouldn't be any reason to not bring in third party options. This is OSS after all.

If Amazon has rules specific to this, fair enough. I'm not sure I agree there should be an expectation for someone to bring in an exporter and relicense it as such. Of course, building ourselves isn't a problem but why double the efforts and close off other options?

I guess more inpu

[2021-09-21 16:25] #15 closed

[2021-09-21 16:34] divyanshuch1 opened #53 "How to move from Opendistro helm to Opensearch helm"
Hello,
Can I use  exactly the same helm values to deploy **Opensearch** that I had used to deploy [Opendistro](https://github.com/opendistro-for-elasticsearch/opendistro-build/tree/main/helm/opendistro-es)?
What differences should I keep in mind.
Thanks

[2021-09-21 18:40] peterzhuamazon commented on #54
Never seen this issue before from me, @DandyDeveloper @TheAlgo any idea on this issue from @alborotogarcia ?
Thanks.

[2021-09-21 19:52] #14 closed

[2021-09-21 19:56] #34 closed

[2021-09-21 20:06] peterzhuamazon opened #55 "[BUG] Helm repo add not working as expected"
**Describe the bug**
Helm repo add not working as expected in https://github.com/opensearch-project/helm-charts#installation

**To Reproduce**
`$ helm repo add opensearch https://opensearch-project.github.io/helm-charts/`
Error: looks like "https://opensearch-project.github.io/helm-charts/" is not a valid chart repository or cannot be reached: failed to fetch https://opensearch-project.github.io/h

[2021-09-22 02:26] DandyDeveloper commented on #54
That specific bug can be ignored, its a known thing in Search Guard: https://bugs.openjdk.java.net/browse/JDK-8221218

Shouldn't have any impact on the cluster working.

Is this actually causing problem? You mention the cluster being green.

If you are just trying to run a single cluster;

[code]

Uncomment these it'll work.

If not, we need the full log.

[2021-09-22 02:33] DandyDeveloper commented on #53
@divyanshuch1 In short:  No. No assumption should be made there and a number of changes are needed to reflect the exact older OpenDistro helm chart.

As long as you keep you PVCs and replace the STS `volumeClaimTemplate` to match what the previous `OpenDistro` statefulset created. You should be fine and will not lose the cluster state / index data.

However, you cannot do a direct `helm upgrade` f

[2021-09-22 03:38] alborotogarcia commented on #54
I meant green state as desired, not really reached unfortunately, as securityconfig doesn't get started
I've created a gist with the values.yaml and the full trace of the three nodes [here](https://gist.github.com/alborotogarcia/427f996665b591e62db30a7fc6b4ba47) , please could you take a look @DandyDeveloper ?
If there's something else I'm missing let me know :)

Thanks for the help @peterzhuamazo

[2021-09-22 03:45] alborotogarcia commented on #54
FWIW @DandyDeveloper @peterzhuamazon , I forgot to mention, internal users and other configurations added works if they're kept in their volumes and I redeploy the helm chart one more time with no securityConfig.config.data.

[2021-09-22 08:31] smlx commented on #53
This is not a safe procedure as there is no guarantee that the data is consistent. The only safe method I'm aware of is to snapshot the old cluster and restore into the new cluster.

https://www.elastic.co/guide/en/elasticsearch/reference/7.10/snapshot-restore.html#snapshot-restore

[2021-09-22 08:37] smlx commented on #54
this seems to be the problem
[code]

[2021-09-22 09:08] TheAlgo commented on #53
@DandyDeveloper
If people really want to migrate to OpenSearch via Helm, this tweak looks good to me as well and I remember this was raised when I had raised the initial PR. We can do this

@smlx

We have an official [blog](https://opensearch.org/blog/technical-posts/2021/07/how-to-upgrade-from-opendistro-to-opensearch/) for guidance w.r.t the migration written by @saratvemulapalli .
Also IMO, sna

[2021-09-22 09:19] TheAlgo opened #56 "[Clean up][OpenSearch]"
**Describe the bug**
A stale readme is present [here](https://github.com/opensearch-project/helm-charts/blob/main/charts/README.md) which is not required as we already have chart level [README](https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/README.md)

**To Reproduce**
N/A

**Expected behavior**
Stale README should be removed

**Chart Name**
OpenSearch

**Screenshots

[2021-09-22 11:53] divyanshuch1 commented on #53
@DandyDeveloper @TheAlgo, Okay Thanks. And suppose I am not migrating a running cluster, I want to  deploy the **opensearch** on a different environment and concern is about that can I use the same helm values that I had set ( for eg; certs, oidc configurations) in "opendistro's helm" to deploy "opensearch" ? Are the fields locations changed in values yaml and what are their impact?
For eg; "secur

[2021-09-22 13:09] DandyDeveloper commented on #53
@smlx This is subjective to the individuals experience and capabilities.

It is better to snapshot and restore, but that isn't feasible for people with 10s or 100s of terabytes of data.

I was able to migrate a askari test cluster wth very little downtime. However, again, your need to know what you're doing with both helm and opensearch.

[2021-09-22 13:12] DandyDeveloper commented on #53
@divyanshuch1 i will try and help you out in my morning wth some details, but if you have a relatively small cluster. Snapshot after bringing down your data nodes and preventing incoming document ingestion is the way to go.

[2021-09-22 15:39] alborotogarcia commented on #54
@smlx I see, since kubernetes version 1.9.6 and forth, volumeMounts behavior on secret, configMap, downwardAPI and projected have changed to Read-Only by default as stated here https://github.com/kubernetes/kubernetes/issues/62099 But I don't understand why just leaving as the default chart template it doesn't complain about RO filesystem.. is it another UID that initiates the process? the current

[2021-09-22 19:49] mprimeaux commented on #55
@peterzhuamazon It appears the GitHub pages branch is private. Do you mind confirming that it is set to public?

[2021-09-22 22:34] mprimeaux commented on #55
You will first need to create a branch named `gh-pages` and push it. Then the branch will be available in the "Pages" settings of this repository.

[2021-09-23 00:20] mprimeaux commented on #55
@peterzhuamazon It seems the chart releaser workflow is [failing](https://github.com/opensearch-project/helm-charts/runs/3667741166?check_suite_focus=true).

[2021-09-23 01:23] smlx commented on #53
I just migrated a cluster with over 10T data via S3 snapshots. The procedure was quick and simple.

My point is that trying to "cross-grade" the old opendistro helm chart to the new opensearch helm chart is both slower and way more complex. It also requires deep knowledge of opensearch, helm, and kubernetes and if anything goes wrong there is no rollback procedure other than restoring from snapsho

[2021-09-23 05:05] peterzhuamazon commented on #55
Thanks @mprimeaux for the detailed comments.
Thanks for that.

I will try to enable this tomorrow.

[2021-09-23 05:16] mprimeaux commented on #55
If you’d like to pair on it, then please let me know. Happy to jump on a Zoom or whatever.

[2021-09-23 08:13] FeizBenhabel commented on #52
@sastorsl , I've used extraEnvs parameteres i didnt get this behavior .Try to delete the double quotes in value as follow:

[code]

[2021-09-23 08:27] FeizBenhabel opened #58 "[BUG][Chart Name] JAVA_HOME env"
**Is your feature request related to a problem? Please describe.**

securityadmin.sh cant assing a value to the JAVA_HOME env and it uses the which command to find the path for java but the which command doenst exist also in the container.

**Describe the solution you'd like**
i would suggest to add the java_home by default in the container.
**Describe alternatives you've considered**
You can use

[2021-09-23 09:05] TheAlgo commented on #55
@mprimeaux For now we have reverted the PR, after creating the branch, we will merge the PR again.

[2021-09-23 13:58] mprimeaux commented on #55
[Here](https://github.com/helm/chart-releaser/issues/115#issuecomment-824368139) is a minor update to watch. While I do not believe it applies to us since we have a public repository, we ran into the issue in our private repository.

[2021-09-23 16:53] peterzhuamazon commented on #55
Hi @mprimeaux another question if you dont mind.
Please bare with me as I am still learning about this cr thing.

I assume gh-pages branch is synced with main.
Then is there any reasons to create branches like 1.0.0 for OpenSearch 1.0.0, and so on?
If user wants to install specific version such as 1.0.0, 1.0.1, or later 1.1.0, will this be supported by helm repo?

If so, how do we approach to enab

[2021-09-23 16:57] mprimeaux commented on #55
@peterzhuamazon No worries. Happy to provide more detail.

The Chart Releaser Github action is what pushes the index to the `gh-pages` branch and after creating releases for the related charts.

There is not a **need** to create and maintain version-specific branches but more of a stylistic question to be answered by the maintainers. The Chart Releases tags with the version number and then generat

[2021-09-23 17:05] peterzhuamazon commented on #55
Thanks @mprimeaux this does raise a concern from me.

The release show as `opensearch-dashboards-1.0.2` and so on which is chart version, internally use dashboards 1.0.0.
This is quite confusing to users as they can probably take it as dashboard version 1.0.2.
In reality we havent even release dashboards 1.0.2 yet.

I am wondering if we can have a fix to this before we enable the repo?
I can alrea

[2021-09-23 17:06] mprimeaux commented on #55
@peterzhuamazon The reason for the versions at 1.0.2 is because I was playing around in my forked repository.

[2021-09-23 17:10] TheAlgo commented on #55
@mprimeaux @peterzhuamazon Till we have it working end to end can we revert the commit for linting and releasing as we have put the wrong installation instructions in the README. Once we fix we can re-merge.

[2021-09-23 17:12] peterzhuamazon commented on #55
I understand that is your own fork, but still if Semver version bumping is required now, you will have situation where `opensearch-1.0.9` is actually using docker image `1.0.0` internally. And if the release show as `opensearch-1.0.9` community can mistakenly think it is running docker image 1.0.9 which doesnt exist.

[2021-09-23 17:16] mprimeaux commented on #55
@peterzhuamazon I would sincerely prefer to work through this simple fix, which I described in [this](https://github.com/opensearch-project/helm-charts/issues/55#issuecomment-925421426) comment.

The `version` attribute of the chart is on a separate lifecycle from the `appVersion` and the `image` in the `values.yaml`.

A way forward would be to disable the version checking in the Helm Chart releas

[2021-09-23 17:18] mprimeaux commented on #55
@peterzhuamazon This is usual as the `version` is the Chart Version, `appVersion` is the backing "applications" version and the `image` attribute in the `values.yaml` is the container image (i.e. Docker image).

[2021-09-23 18:02] TheAlgo commented on #55
@mprimeaux

I reel chart version and imageTag should match. It makes things clearer and simpler, and I don't care much about the `appVersion` though.

[2021-09-23 18:15] peterzhuamazon commented on #55
@TheAlgo and I have some concerns on release happen on every small changes.
It is a moving target on every release and it becomes uncertain if the release is stable.
We can probably remove the auto release workflow and just release manually, but keep the repo function of helm.

@DandyDeveloper @smlx please let us know your thoughts on this.
I apologize that I am not fully aware of the complete pic

[2021-09-23 18:25] mprimeaux commented on #55
Please take this comment as nothing but constructive as it is often difficult to understand tone and intention in written words but this is not how the Kubernetes community broadly works. I can provide countless examples (i.e. [here](https://github.com/prometheus-community/helm-charts/blob/7c2df1b8c7442ba0c2646c1bbb26ba68563e43d4/charts/kube-prometheus-stack/Chart.yaml#L21) and [here](https://gith

[2021-09-23 18:44] TheAlgo commented on #55
Not sure if I am understanding correct but the chart version and the underlying docker image version is matching for 2 latest versions of AWS Load Balancer Controller.

[2021-09-23 18:46] mprimeaux commented on #55
@TheAlgo I believe you are comparing the `appVersion` and the `imageTag` attributes and not the `version` attribute and the `imageTag`, which are `1.2.8` and `v2.2.4`, respectively.

[2021-09-23 18:49] TheAlgo commented on #55
@mprimeaux Apologies I believe I mis-interpreted at first 😅. Need to restart myself. `appVersion` and `imageTag` I wanted to refer to at start.

~~I think chart version and imageTag should match. It makes things clearer and simpler, and I don't care much about the appVersion though~~

[2021-09-23 18:53] mprimeaux commented on #55
@TheAlgo No worries, mate. Ah yes, that sounds good. I do believe quite a few Helm charts do also prefer to keep the `appVersion` and `imageTag` the same for simplicity.  IMHO, and to reduce the conversation a bit, I think it is important to allow the chart's `version` to evolve at a different pace than that of `appVersion` and `imageTag`.

[2021-09-23 19:17] GaneshbabuRamamoorthy opened #59 "[BUG][Unable to deploy Opensearch using opendistro-build helm charts]"
Hi All,

I am trying to deploy OpenSearch in kubernetes environment.

below is the helm chart I am using it,

https://github.com/opendistro-for-elasticsearch/opendistro-build/tree/main/helm/opendistro-es

**Helm version**
[code]
**Kubernetes version**
[code]

I have changed the images of kibana and elasticsearch in values.yaml and I used the opensearch 1.0.0 for elasticsearch and opensearch-dashbo

[2021-09-23 22:25] mprimeaux commented on #55
@TheAlgo As a follow-up and for completeness, the Helm Chart Releaser only validates the `version` attribute in `Chart.yaml` and does not consider the `appVersion` or `imageTag`.

[2021-09-24 01:19] DandyDeveloper commented on #55
Assuming I'm reading right, I agree wholly with @mprimeaux on this. Version is distinctly different from the imageTag referenced by the `appVersion` and its much easier to trace changes and automated things if we define chart version increments in a PR.

Example, just to be clear. I make a PR updating the StatefulSet with some simple changes, and I update the `Chart.yaml` -> `version` field from `

[2021-09-24 01:36] smlx commented on #55
I agree with @DandyDeveloper and @mprimeaux. The Helm community and tooling is highly opinionated regarding development and release workflow:

* Chart version is critically important and _must_ follow SemVer. Chart versions are immutable and version bumps are required for _any_ change. Major version bumps are required for breaking changes. Consumers of the chart rely on this to determine upgrade s

[2021-09-24 01:41] smlx commented on #59
Hi, this repository has a different set of helm charts for Opensearch. I believe the Opendistro helm chart is deprecated. Could you try installing using the helm charts in this repository?

[2021-09-24 01:42] DandyDeveloper commented on #54
@alborotogarcia

I just deployed locally with your exact values and its working for me and able to write to that directory.

[code]

In relation to your specific issue though, I am a bit concerned we're not using `subPath` to define the specific files in the `data` dir:

[code]

Because yes, on the surface, I would expect this to report read-only FS because we're mounting a configMap to the data d

[2021-09-24 01:48] DandyDeveloper commented on #59
@smlx Correct. Those wanting to migrate to OpenSearch need to migrate their charts over as well. Per discussion here:

https://github.com/opensearch-project/helm-charts/issues/53

[2021-09-24 03:27] divyanshuch1 commented on #53
Hi @DandyDeveloper , if there is any update on this,please let me know, Thanks for your help

[2021-09-24 05:21] TheAlgo commented on #55
@smlx @mprimeaux @DandyDeveloper I understand the view point of some of the community charts.

Also,
Chart version can be bumped but we should have a description of the `Changelog` we did. We should have a consensus on what changes we should bump. Also it should mention the underlying docker image powering it. Sometimes people think those versions as OpenSearch/Dashboards versions so a proper desc

[2021-09-24 05:32] mprimeaux commented on #55
@TheAlgo I agree and recommend for consideration that we embrace the [Keep A Change Log](https://keepachangelog.com/en/1.0.0/) format, which, in a nutshell, covers:

* **Added** for new features.
* **Changed** for changes in existing functionality.
* **Deprecated** for soon-to-be removed features.
* **Removed** for now removed features.
* **Fixed** for any bug fixes.
* **Security** in case of vuln

[2021-09-24 05:38] GaneshbabuRamamoorthy commented on #59
@smlx

I tried to install the opensearch helm charts in the same k8s environment,

https://github.com/opensearch-project/helm-charts/tree/main/charts/opensearch

Executed the below command to install the chart,

 **sudo helm3 install opensearch ./ -n t253-u000265**

Below is the logs of master-0 pod logs

[code]

Below is the master-1 pod logs,

[code]

below is the master-2 pod logs,

[code]

Att

[2021-09-24 05:39] mprimeaux commented on #55
@peterzhuamazon @TheAlgo @smlx @DandyDeveloper If you are supportive, I will submit a PR tomorrow (US Central Time) to address this thread and issue. I appreciate your consideration.

[2021-09-24 05:52] peterzhuamazon commented on #55
In the meantime @TheAlgo has raised a #60 PR so that users wont get confused on issues with `helm add`.
They can still use the old package method to install.

[2021-09-24 07:32] TheAlgo commented on #55
Added for new features.
Changed for changes in existing functionality.
Deprecated for soon-to-be removed features.
Removed for now removed features.
Fixed for any bug fixes.
Security in case of vulnerabilities.
This format also subscribes to Semver.

This is neat and clean @mprimeaux . I am fine with this.

[2021-09-24 14:53] sastorsl commented on #52
In addition `helm lint` fails when adding `extraEnvs`.

[code]

**Diff**
[code]

[2021-09-24 14:59] FeizBenhabel commented on #52
@sastorsl did you delete this line from your values file?
-extraEnvs: []

[2021-09-24 15:03] mprimeaux commented on #55
Please ignore PR #62 as it was an inadvertent mistake on my part. PR #61 is ready for review. Thanks again for your help and support.

[2021-09-24 18:13] mprimeaux opened #64 "[BUG][OpenSearch]"
**Describe the bug**
The Stateful Set template specifies an incorrect indentation of 10 for `extraEnvs`. The correct value should be 8.

<details>
  <summary>Error</summary>
  <p>

[code]
</p>
</details>

**To Reproduce**
Steps to reproduce the behavior:

Specify values for the `extraEnvs` stanza in the `values.yaml` file for the OpenSearch chart. For example,

<details>
  <summary>extraEnvs Examp

[2021-09-24 21:08] mprimeaux commented on #64
This appears to be a duplicate of #52 for which I see an [existing](https://github.com/opensearch-project/helm-charts/pull/63) PR.

[2021-09-25 11:45] sastorsl opened #65 "[BUG][OpenSearch] Incorrect indentation for `extraVolumeMounts` in `statefulset.yaml`"
**Describe the bug**
The Stateful Set template specifies an incorrect indentation of 10 for extraVolumeMounts. The correct value should be 8.

**To Reproduce**
Steps to reproduce the behavior:

Specify values for the `extraVolumeMounts` stanza in the `values.yaml` file for the OpenSearch chart. For example,

<details>
  <summary>extraVolumeMounts example</summary>

[code]
</details>

**Expected be

[2021-09-25 11:46] sastorsl commented on #65
Related to #52 and #64

[2021-09-26 07:01] alborotogarcia commented on #54
Sorry for the delay @DandyDeveloper, I had some issues with my IdP and had to spent time on it.. I am running a 3 node k3s cluster and yes I am aware that all config files are needed otherwise it will complain.. I run longhorn as storage class.. but IMHO I suspect that If I turn it to subpaths for each file mounts it may be less error prone.. as you said earlier it may affect to the folder that it

[2021-09-26 12:35] mprimeaux commented on #54
@DandyDeveloper We are running into what I perceive as the same or similar issue with the `1.0.0` charts with a similar config as @alborotogarcia, though we are using Keycloak as our idP.

Would you mind reviewing the permissions in the `/usr/share/opensearch/plugins/opensearch-security` folder?  It appears the `securityconfig` is owned by `root` and not `opensearch`, which might be the cause.

[c

[2021-09-26 12:48] mprimeaux commented on #54
It seems my previous assumption is incorrect. Applying an older version of the OpenSearch Helm chart with the same values file works even with the same folder and file permissions as above.

``shell
-rw-r--r-- 1 opensearch opensearch  452868 Jul  8 22:32 saaj-impl-1.5.2.jar
drwxrwsrwt 3 root       opensearch     260 Sep 26 12:44 securityconfig
-rw-r--r-- 1 opensearch opensearch   41203 Jul  8 22:3

[2021-09-26 12:53] mprimeaux commented on #54
When using the latest version of the OpenSearch chart with the same values file as above, these are the exceptions we receive, which prevent `security_admin` from succeeding:

<details>
  <summary>Error</summary>
  <p>

[code]

</p>
</details>

If this turns out to be a different issue than the issue that's the topic of this thread then I'll open a separate issue.

[2021-09-26 13:49] mprimeaux commented on #54
I believe I found the issue.

It appears the behavior of the `majorVersion` chart value changed from computing the value `7` to a value of `1`. The workaround (for me, anyway) was to explicitly set the `majorVersion` in the values file to `7`. i.e. ` majorVersion: 7`

If the `majorVersion` attribute remains at its default of `""`, then the stateful set computes the `env:` stanza as:

[code]

...ra

[2021-09-26 16:54] alborotogarcia commented on #54
@mprimeaux @DandyDeveloper I followed your suggestions, and here's what it worked for me
[code]
and let majorVersion: ""

though I can't still login with my IdP

[2021-09-26 16:56] TheAlgo commented on #54
@mprimeaux @alborotogarcia I did not try out the config and installation as I am away from work for some time. But I am thinking out loud. Can this be something related to the core engine and not the chart? Maybe we might need to look at the security repository to understand more because ideally `7` should not fix the issue as OpenSearch starts with `1`.

[2021-09-26 17:36] mprimeaux commented on #54
@TheAlgo [Here](https://github.com/opensearch-project/helm-charts/blob/dd0c692a9ca1dc97baa5931b67187bdfc333824a/charts/opensearch/templates/statefulset.yaml#L295) is logic. It *appears* to be, in part, an issue with the chart logic since we [SHOULD](https://tools.ietf.org/html/rfc2119) be using different discovery `env:` values.

However, I agree with you that something deeper is likely going on a

[2021-09-26 17:38] mprimeaux commented on #54
@alborotogarcia Thanks, mate. I will try your suggestion in the above [reply](https://github.com/opensearch-project/helm-charts/issues/54#issuecomment-927336270).

[2021-09-26 17:52] TheAlgo commented on #54
@mprimeaux We need to change the Helm logic for sure.  As part of #21 we changed it at 1 place and did not change the others which seemed to breaking.

Coming to the `OpenDistro` docs , yes it is stale and we should follow the official OpenSearch docs as much as possible.

[2021-09-26 18:08] mprimeaux commented on #54
It appears the following `env:` stanza used in OpenSearch testing at [ZenDiscoveryUnitTests.java](https://github.com/opensearch-project/OpenSearch/blob/0ba0e7cc26060f964fcbf6ee45bae53b3a9941d0/server/src/test/java/org/opensearch/discovery/zen/ZenDiscoveryUnitTests.java#L284) is being deprecated.

See the cluster settings logic [here](https://github.com/opensearch-project/OpenSearch/blob/072ccda932

[2021-09-26 18:22] alborotogarcia commented on #54
@DandyDeveloper Also an ingress api upgrade from networking.k8s.io/v1beta1 to networking.k8s.io/v1 on kubernetes 1.22+

[2021-09-26 18:29] mprimeaux commented on #54
@alborotogarcia Coincidentally, I noticed this also, *and*, in addition it seems `IngressClassName` support was removed from the latest OpenSearch charts when migrated from the old repository. The ingress template should add this back as per [Kubernetes 1.18+](https://kubernetes.io/docs/concepts/services-networking/ingress/#deprecated-annotation):

[code]

I will create a new issue and related PR

[2021-09-26 18:40] mprimeaux opened #66 "Support IngressClassName in OpenSearch and OpenSearch Dashboards charts."
**Is your feature request related to a problem? Please describe.**
Kubernetes 1.18 and greater support the [`IngressClassName`](https://kubernetes.io/docs/concepts/services-networking/ingress/#deprecated-annotation) `spec` stanza as part of the Ingress kind.

**Describe the solution you'd like**
If defined in the chart values file, the Ingress `spec` stanza [should](https://datatracker.ietf.org/do

[2021-09-27 09:51] bitnik opened #67 "[Enhancement][opensearch] make initcontainer image of persistency configurable"
**Is your feature request related to a problem? Please describe.**

Right now when persistent volume for opensearch is enabled, chart uses a hard-coded image for an initcontainer:

https://github.com/opensearch-project/helm-charts/blob/dd0c692a9ca1dc97baa5931b67187bdfc333824a/charts/opensearch/templates/statefulset.yaml#L216-L219

Since we can use images only from our own registry, we can't deploy

[2021-09-27 12:13] ypogeios opened #68 "[BUG][Chart Name]"
Deployment Error

On a Kubernetes Cluster Version 1.21.3 i tried to deploy OpenSearch with Helm.
- Cloned https://github.com/opensearch-project/helm-charts
- run in the folder helm package .
- run helm install --generate-name opensearch-1.0.1.tgz

All pods deploy.

When i run
`kubectl exec -it opensearch-cluster-master-0 -- /bin/bash`
i get at first the message: Defaulted container "opensearch" ou

[2021-09-27 15:51] mprimeaux commented on #68
@ypogeios We ran into this exact issue and had quite a discussion on it in in PR #54. See [this](https://github.com/opensearch-project/helm-charts/issues/54#issuecomment-927309686) commend, in particular and the related reply chain.

[2021-09-27 18:41] GaneshbabuRamamoorthy commented on #68
Hi @mprimeaux

I am also facing this same issue in [helm charts](https://github.com/opensearch-project/helm-charts). I have tried followed [YOUR](https://github.com/opensearch-project/helm-charts/issues/54#issuecomment-927309686) comment in PR #54 below is the way I have configured in values.yaml,

by setting the major version to "7" instead of "" and set the values of cluster initial master nodes

[2021-09-27 19:26] mprimeaux commented on #68
@GaneshbabuRamamoorthy Hi there.  I am reviewing your `values.yaml` file.  Would you please comment out the `imageTag: "1.0.1"` attribute, retry, and let me know?

[2021-09-28 03:22] GaneshbabuRamamoorthy commented on #68
Hi @mprimeaux

Yes I tried comment out the imageTag and redeployed.

Below is the responses I got from log pods,

**master-0 pod logs**

[code]

**_master-1 pod logs_**

[code]

**_master-2 pod logs,_**

[code]

Attaching the helm package which I tried with values.yaml

[opensearch.zip](https://github.com/opensearch-project/helm-charts/files/7240756/opensearch.zip)

Please let me know if I am doin

[2021-09-28 04:15] alochym01 commented on #50
Hi. @DandyDeveloper

Is there a way to work around to enable plugin when waiting the author of prometheus exporter response.

Thank you

[2021-09-28 08:07] DandyDeveloper commented on #50
@alochym01 Added a tentative PR above. Pending approval from others.

[2021-09-28 11:15] divyanshuch1 opened #72 "Unable to find the field "existingCertSecret" to configure transport-TLS"
Hello
I am unable to find the field "existingCertSecret" in ````plugins.security.ssl````  in opensearch helm chart to configure transport TLS for nodes.
Earlier , as in **opendistro** , we got it at [here](https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/4d440b7473e58651608070f0f5d446c4736e1ccf/helm/opendistro-es/values.yaml#L227)
But not in **opensearch**.
Due to which I am n

[2021-09-28 12:09] TheAlgo commented on #72
@divyanshuch1 I guess you can add it in the [values.yaml](https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/values.yaml#L44). In the current chart the sample value is not given but TLS is configurable.

[2021-09-29 01:08] peterzhuamazon commented on #66
@mprimeaux could you please change the title to reflect this issue? Thanks.

[2021-09-29 01:09] peterzhuamazon commented on #55
Hi @mprimeaux this page is now working but still could not add helm repo
https://opensearch-project.github.io/helm-charts/

[code]

Seems like the yaml still not existing.

Thanks.

[2021-09-29 01:12] mprimeaux commented on #55
Thanks, @peterzhuamazon . I will review it now. Would you please confirm the gh-pages branch is not set to private access?

[2021-09-29 12:18] GaneshbabuRamamoorthy commented on #68
Hi @mprimeaux

I have tested the same in my other k8s environment where it was working fine without any issues. I was able to see the cluster health status.

[code]
This is my k8s nodes details where its working fine and without any issues

[code]
and when I tested the same **in other k8s environment with IPv6 cluster** I am getting SSL error and below is the k8s node details,

[code]
and below is

[2021-09-29 13:46] smlx commented on #68
Not sure about upstream Opensearch, but this chart doesn't. You'll need to use dual stack or IPv4 for now.

[2021-09-29 13:48] mprimeaux commented on #68
Thanks, @smlx. I was just about to reply with the dual stack option. FWIW, we currently just use single stack (IPv4).

[2021-09-29 16:25] peterzhuamazon commented on #55
It works @mprimeaux:
[code]

[2021-09-29 16:27] mprimeaux commented on #55
Great news! I sincerely appreciate you and all of the maintainers diligence and help. Once you're comfortable then I will submit a PR with the new installation instructions.

[2021-09-29 16:29] peterzhuamazon commented on #55
Thanks everyone in the thread for help, especially @mprimeaux who put such efforts into getting it running.
I will close this issue soon as we can already install it.
However, I want to check out if there is any extra steps beside the installation instructions that we want to add?

Thanks.

[2021-09-29 16:32] mprimeaux commented on #55
I am not aware of any other steps in this repository other than to update the installation steps. I do see the OpenSearch docs also would need to be updated to reflect the new installation steps but believe this is outside the scope of this repo.

Will wait for @smlx @DandyDeveloper and @TheAlgo to review.

[2021-09-29 17:56] peterzhuamazon commented on #55
I will contact the doc team to make the changes on OpenSearch docs once we have installations steps ready in this repo, so they can update with the same process.

Thanks.

[2021-09-29 18:26] mprimeaux commented on #55
Thanks, @peterzhuamazon. In advance, I'll submit a PR for review and should any of the maintainers prefer additional changes then I'm happy to address in the PR. Again, thanks for your support and coordination.

[2021-09-29 18:35] mprimeaux commented on #55
@peterzhuamazon I did notice that [CHANGELOG.md](https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/CHANGELOG.md) needs to reflect chart versions `1.0.3` so I'll add that to the PR for alignment.

[2021-09-29 18:52] mprimeaux commented on #55
@peterzhuamazon There are a few other observations:

1. The `opensearch-dashboard` chart does not have a `README.md` in its directory.
2. There is a `README.md` in the [/charts](https://github.com/opensearch-project/helm-charts/blob/main/charts/README.md) directory but it looks fairly out of date or, at least, needs a bit of cleanup.

I'll address bullet 1 in the PR. However, it seems to me that w

[2021-09-29 21:28] peterzhuamazon commented on #55
If each chart folder has a corresponding changelog, I am in support of removing the root changelog.

[2021-09-29 21:29] peterzhuamazon commented on #55
I think @TheAlgo worked on the README of charts, needs his input on 2 here.

[2021-09-29 21:35] mprimeaux commented on #55
Absolutely. The content of the README in the charts folder seemed more applicable to the `opensearch` chart and not the `opensearch-dashboards` charts so I 'took a chance' but expected a review. No worries at all.

[2021-09-29 22:50] mprimeaux commented on #58
@FeizBenhabel We ran into the same 'issue'. To work around this, you can included the following stanza in your `opensearch` values file:

[code]

Let me know if this fails. Happy to help.

[2021-09-30 07:16] GaneshbabuRamamoorthy commented on #68
@smlx @mprimeaux

Thanks for your response.

So I tried deploying [opendistro helm chart](https://opendistro.github.io/for-elasticsearch-docs/docs/install/helm/) in the same IPv6 k8s cluster and I am getting the below responses in pod logs

pod status were showing as running

[code]

below is the logs,

**data pod logs**

[code]

**master pod logs,**

[code]

**client pod logs**

[code]

checked t

[2021-09-30 13:02] smlx commented on #68
No, it currently does not.

[2021-09-30 17:20] peternied opened #76 "Ensure DCO Workflow Check"
Coming from https://github.com/opensearch-project/project-meta/issues/17

A Developer Certificate of Origin is required on commits in the OpenSearch-Project.

See [doc.yml](https://github.com/opensearch-project/.github/blob/main/workflow/dco.yml) for an example workflow.  Ensure CONTRIBUTING.md to has a section on the DCO per the [project template](https://github.com/opensearch-project/.github/blo

[2021-10-01 12:24] etenzy opened #78 "Add namespace to opensearch resources"
**Is your feature request related to a problem? Please describe.**
Resources render with namespace "" which results to current namespace of the current context.

**Describe the solution you'd like**
Add namespace to the resources as {{ .Release.Namespace | quote }}

[2021-10-01 13:54] TheAlgo commented on #78
@etenzy Which helm version are you using because this feature is available in helm versions greater than 3.2 in according to this [PR](https://github.com/helm/helm/pull/7648). Thanks

[2021-10-01 16:27] TheAlgo commented on #78
Closing this issue as well as the PR was closed by the author. Feel free to re-open

[2021-10-01 16:27] #78 closed

[2021-10-01 16:28] TheAlgo commented on #72
@divyanshuch1 can we close this issue?

[2021-10-01 16:58] #56 closed

[2021-10-01 17:10] peterzhuamazon opened #79 "[Enhancement][GitHub Actions] Add GitHub Action to auto bump chart version"
**Is your feature request related to a problem? Please describe.**
[Enhancement][GitHub Actions] Add GitHub Action to auto bump chart version

Right now we require PR creator to bump the chart version when they raise the PR,
so that the chart releaser can release a new version after merge.

It will be much easier to have a version autobumper, take action after a PR is merged,
and will resolve edge

[2021-10-02 07:37] smlx commented on #79
One way this could work is to start enforcing a standard like https://www.conventionalcommits.org/en/v1.0.0/

[2021-10-04 09:12] TheAlgo commented on #72
@divyanshuch1 the PR #80 is merged, let me know if we are good to close this issue. Thanks!

[2021-10-04 09:34] divyanshuch1 commented on #72
@TheAlgo  Yes sure, we can close this issue.

[2021-10-04 15:10] mprimeaux commented on #79
I've been reasoning about this a bit and believe the options partially depend on how the maintainers prefer this repository to operate.

For example, do you prefer to (1) use `feature`, `defect`, `technical debt`, and `technical risk` branches **only** or (2) also prefer to represent `release` branches? Other?

Kubernetes employs [long-lived release branches](https://github.com/kubernetes/kubernet

[2021-10-04 15:47] peterzhuamazon commented on #72
Close the issue as @divyanshuch1 requested. Thanks.

[2021-10-04 15:47] #72 closed

[2021-10-04 16:53] hfuss opened #82 "[BUG][opensearch] DISABLE_INSTALL_DEMO_CONFIG not respected"
**Describe the bug**
The env var `DISABLE_INSTALL_DEMO_CONFIG` is not respected at deploy time. This is really due to a fixed bug in the underlying image, see https://github.com/opensearch-project/opensearch-build/pull/478, but it is not available in a released image yet so currently the Helm chart cannot be used for production / production-like scenarios without building a custom image.

**To Rep

[2021-10-05 01:59] ashish1099 commented on #68
the `majorVersion: 7` fixed it for me :)

[2021-10-05 12:15] sastorsl commented on #67
Will also affect where image requests are proxied internally to ensure proper licensing.
A big :+1:

[2021-10-06 02:48] DandyDeveloper commented on #79
@mprimeaux The only thing to remember is you'll have people all over contributing here.

Definitely defining something already familiar to the OSS (particularly Kubernetes/CNCF) communities would hopefully be easier to take onboard for most.

I'm not going to weigh in with any additional options as all the above are good. I think owners need to make the call on what gets done.

+1 in favour of lon

[2021-10-06 07:04] TheAlgo commented on #79
@mprimeaux @DandyDeveloper
I am totally with you guys on `long-lived branches`. Initially we started off with `1.0.0` but never followed it after that. In my opinion this will help us draw a line on the number of releases we want to make as well.

Thinking loud, we can release charts weekly or biweekly and have special slots for any serious bugs or issues. This can streamline the releases and redu

[2021-10-06 12:54] smlx commented on #79
The helm CI tooling is geared for fully automated continuous releases on every MR instead of a manual release process. Is there a problem with automating releases that way?

[2021-10-06 18:08] TheAlgo commented on #79
There is no problem if we can reach on a consensus on how version bump can be automated. I don't mind agile way of releases any day

[2021-10-06 19:11] peterzhuamazon commented on #79
As of now there are multiple `1.0.5` version bump PRs in this repo, and we need to constantly ask people to bump their version because another PR has taken over his bumped version number already.

This is a bit worrying to me.
We either disable the version bump requirement or we have an automated way to do this.

Any thoughts?

Thanks.

[2021-10-07 01:03] smlx commented on #79
Another option is to focus on getting PRs reviewed and merged much more rapidly. I'm thinking in the order of days rather than weeks,.

[2021-10-07 03:25] smlx opened #85 "[Enhancement][n/a] Use Merge commits instead of rebasing PRs"
**Is your feature request related to a problem? Please describe.**
I have difficulty following the git history of the repository because merged PRs are rebased on top of `main`. This means that the commit IDs change and git doesn't know that two commits with different IDs represent the same change.

**Describe the solution you'd like**
Please use merge commits and avoid rebasing/rewriting the git

[2021-10-07 17:37] dyipon opened #87 "forbidden sysctl: "vm.max_map_count" not whitelisted"
Hi,

i've tried to install opensearch via helm, but pods are pending with this message:
forbidden sysctl: "vm.max_map_count" not whitelisted

I've tried to override the security settings, but did not help:
[code]

Im try to migrate from ES, but theirs helm using a bit different method:
they are using a fully privileges initcontainer to set the vm.max_map_count:
[code]

What would be the best pract

[2021-10-08 21:31] sdwerwed commented on #87
Maybe try this init container as a workaround

[code]

[2021-10-11 06:03] DandyDeveloper opened #88 "[Enhancement][NA] Contributors need a Slack channel or SNS mechanism to communicate"
**Is your feature request related to a problem? Please describe.**
Issues / PRs are getting spammed with so much unnecessary discussion which can be great but makes thing so much slower.

Can we get an official channel? If not, I'll make an unofficial one somewhere.

**Describe the solution you'd like**
A Slack channel / Instant message option for communication with the community.

[2021-10-11 06:03] DandyDeveloper commented on #88
@TheAlgo @peterzhuamazon @mprimeaux @smlx Since you are all active, super helpful and great at what you do.

Can you give your two cents? I think we need this.

[2021-10-11 06:52] DandyDeveloper commented on #88
@TheAlgo Forums don't help us as much for general discussions about issues IMO.

I just want a way to talk to people quickly about things. Hard to get things done with the current way we do things.

We can link slack threads if they become relevant to the github issue. I'm open to anything, just want a more relaxed and efficient way to communicate with fellow collaborators.

[2021-10-11 16:52] peterzhuamazon commented on #88
@stockholmux ^^

[2021-10-11 16:53] #50 closed

[2021-10-12 14:27] erSitzt opened #89 "[Enhancement][opensearch / opensearch_dashboard] Option to disable security"
Hi

both docker and helm instructions a quite simple to follow, but from what i read and experienced they lead to some situation where nothing works as expected

- ssl as a default causing problems
- login form for dashboard with no easy hint on where to set the username/password

It would be nice to provide a *non-production" values.yaml for both as a quickstart that disable ssl and authentiation

[2021-10-13 00:54] DandyDeveloper commented on #89
@erSitzt We did originally have this but it was overruled in favour of having SSL enabled by default for a reason I don't remember.

https://opensearch.org/docs/latest/dashboards/install/tls/

This outlines how to disable the different settings available (specifically `server.ssl.enabled` and `opensearch.ssl.verificationMode` should do the trick).

[2021-10-13 01:03] DandyDeveloper commented on #87
@dyipon @sdwerwed By default;

https://github.com/opensearch-project/helm-charts/blob/8aaa89e2ed43896910dd50a57a50e05380ddea71/charts/opensearch/values.yaml#L373

This enabled will result in this being enabled on the sts;

[code]

As explained in those values, your kubelet / node needs to be allowed to access these things (Per the comments):
https://www.elastic.co/guide/en/elasticsearch/reference/

[2021-10-13 06:40] smlx commented on #85
My reason for raising this is that it breaks `git branch --merged`, but if no-one else cares about that it's not a huge deal :slightly_smiling_face:

[2021-10-13 07:31] dyipon commented on #87
@DandyDeveloper  ES Helm chart using
https://github.com/elastic/helm-charts/blob/e077086c74d3b9e121cec1d93f04d8418599bae4/elasticsearch/templates/statefulset.yaml#L166
``` privileged: true ```

[2021-10-13 07:33] DandyDeveloper commented on #87
@dyipon That doesn't make it safe ;)

[2021-10-14 16:20] dgonsan opened #91 "[Enhancement][opensearch] Make volume permissions init container optional with persistence enabled"
**Is your feature request related to a problem? Please describe.**
We were using helm chart version 1.0.0 from the old repository and trying to migrate to the newer versions from this one we found out that a new init container to set the file system permissions was added when persistence is enabled. We are using in some of our k8s instances EFS with dynamic provisioning which doesn't allow to set

[2021-10-14 17:23] hfuss opened #92 "[BUG][opensearch] Fixing Service Name References When Using fullnameOverride For Masters"
**Describe the bug**

If using `fullnameOverride` when creating the `masterService`, the StatefulSet and Ingress would target a Service that did not exist. So then you cannot create a working Ingress that points to the masters when using `fullnameOverride`, and the StatefulSet references an non-existent headless Service.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the `opensearch

[2021-10-14 17:56] hfuss opened #93 "[Enhancement][opensearch] Use Latest API Versions for Policy and Ingress Resources"
**Is your feature request related to a problem? Please describe.**

When installing the chart on K8s 1.21+, I receive the following minor warnings:
[code]

Also noticing that although in the `opensearch-dashboards` chart there is support for using `Ingress.networking.k8s.io/v1`, there is not in the `opensearch` chart which would be easy to add.

**Describe the solution you'd like**

Add support fo

[2021-10-18 19:00] acjohnson commented on #87
Sadly on GKE adding `vm.max_map_count` to the kublet `--allowed-unsafe-sysctls` arg is not a supported option as `vm.max_map_count` is an "unsupported" kernel parameter...

This is the error you'll get if you try to set it using `gcloud beta container node-pools create`
[code]
So it looks like the privileged sysctl init container is the only decent option currently for opensearch...

[2021-10-19 14:03] TheAlgo opened #97 "[Enhancement][OpenSearch/OpenSearch Dashboards] Make 1.1 as default image for opensearch helm charts"
**Is your feature request related to a problem? Please describe.**
Plans for moving the default App Version of charts to use the latest OpenSearch version.

**Describe the solution you'd like**
Change [this](https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/Chart.yaml#L24) to `1.1`

**Describe alternatives you've considered**
N/A

**Additional context**
It has been clos

[2021-10-19 16:30] GaneshbabuRamamoorthy opened #119 "Opensearch elasticsearch is not working in IPv6 k8s cluster"
Hi All,

I tried deploying opensearch helm chart in my **IPv6 k8s cluster** and I am getting the below responses in pod logs and I was able to see the cluster health status.

[code]
This is my k8s nodes details where its working fine and without any issues

[code]
and when I tested the same in other k8s environment with IPv6 cluster I am getting SSL error and below is the IPv6 k8s node details,

[

[2021-10-20 15:12] peterzhuamazon opened #100 "Ensure DCO Workflow Check"
Coming from https://github.com/opensearch-project/project-meta/issues/17

A Developer Certificate of Origin is required on commits in the OpenSearch-Project.

See [doc.yml](https://github.com/opensearch-project/.github/blob/main/workflow/dco.yml) for an example workflow.  Ensure CONTRIBUTING.md to has a section on the DCO per the [project template](https://github.com/opensearch-project/.github/blo

[2021-10-20 15:22] peterzhuamazon commented on #85
@smlx as of now I think all opensearch project repos is doing that.
If no concerns please close this issue :)

[2021-10-20 15:26] peterzhuamazon commented on #97
Can you please change the title to reflect the content? Thanks.

[2021-10-21 00:11] DandyDeveloper commented on #89
@erSitzt It's not ideal, I get that. But at least with SSL, even using the demo certificates. You're safer and "closer to production" in terms of functionality.

[2021-10-21 00:12] DandyDeveloper commented on #97
@TheAlgo As long as the rollout works with the default values. Definitely go for it.

[2021-10-21 00:33] DandyDeveloper commented on #91
@peterzhuamazon @dgonsan Added a basic condition to support disabling this.

[2021-10-21 09:52] PaulLesur opened #104 "[BUG][opensearch]"
**Describe the bug**
When using `keystore` value I get an invalid YAML error :
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use the `keystore` value
2. helm template
4. See error

**Expected behavior**
No error should be thrown and templating should be a successs.

**Chart Name**
opensearch

**Screenshots**
Not Applicable.

**Host/Environment (please complete the following informat

[2021-10-21 12:47] TheAlgo commented on #97
@peterzhuamazon @DandyDeveloper Thanks , I will make a PR for this

[2021-10-21 14:39] #100 closed

[2021-10-21 18:49] mprimeaux opened #105 "[BUG] OpenSearch chart fails when RBAC is enabled."
**Describe the bug**
A defect was introduced in release 1.2.0 involving `role.yaml` with [this](https://github.com/opensearch-project/helm-charts/commit/09f1b4c01e4bfa9b99339f1f2c20c828e5aebaff) commit.

When setting `rbac.create: true`, the following error occurs:

[code]

I haven't debugged it yet but suspect it has to do with how `opensearch.labels` is being computed in `_helpers.tpl` or indent

[2021-10-21 23:16] mprimeaux commented on #105
Thanks, @peterzhuamazon . Appreciate you and the maintainers support.

[2021-10-21 23:23] mprimeaux opened #107 "[Enhancement] Remove root-level CHANGELOG"
**Is your feature request related to a problem? Please describe.**
This request is cleanup from a previous merge in an attempt to reduce complexity with respect to the CHANGELOG.

**Describe the solution you'd like**
We currently have separate CHANGELOGs and READMEs for both charts.
* OpenSearch [CHANGELOG.md](https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/CHANGELOG.

[2021-10-25 16:32] sastorsl opened #108 "[dockerRegistry][opensearch-dashboards] Add common dockerRegistry"
**Description.**
Add option / value to set a common docker-registry URL for opensearch-dashboards.
Use-cases:

* Organizations have a proxy docker registry
* ...have setup login to handle licenses behind a proxy docker registry
* etc

See #70 for reference.

**Describe the solution you'd like**

* Add `dockerRegistry` to `values.yaml` for opensearch-dashboards
* Add `dockerRegistry` reference to `

[2021-10-28 00:35] #105 closed, assigned to mprimeaux

[2021-10-28 01:58] marco210 opened #109 "[ opensearch-prometheus-exporter] Add plugin to pod opensearch"
I deploy a opensearch cluster using Helm. I want to add plugin opensearch-prometheus-exporter to monitor this cluster. I don't see any guide or example for this. Please help me. Thank you.

[2021-10-28 11:22] #91 closed, assigned to DandyDeveloper

[2021-10-28 13:05] sastorsl opened #110 "[BUG][opensearch] log4j2.properties in values.yaml does not work with toYaml in configmap.yaml"
**Describe the bug**
In the current chart for `opensearch-dashboards` it is not possible to template `log4j2.properties` as the `configmap.yaml` expects input to _be_ in yaml.
log4j2.properties is not yaml but has a `key = value` structure.

This makes it not possible to override the log4j configuration with the current chart.

**To Reproduce**
Steps to reproduce the behavior:
1. Add helm repo
2.

[2021-10-29 16:17] Sebor opened #111 "[BUG][opensearch] Parameter discovery.type does not wotk"
**Describe the bug**
When I want to setup a single node cluster I set the [options](https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/values.yaml#L42) `discovery.type: single-node`. But after that cluster is not started and shows the error:
`setting [cluster.initial_master_nodes] is not allowed when [discovery.type] is set to [single-node]"`

**To Reproduce**
1. Set par

[2021-10-29 16:24] Sebor opened #112 "[Enhancement][opensearch-dashboards] Add k8s readiness probe"
**Is your feature request related to a problem? Please describe.**
At the present time there are no any probes in this chart.  However, for example, this [section](https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/values.yaml#L306) in `values.yaml` is presented

**Describe the solution you'd like**
it would be nice to have a readiness probe in the chart

[2021-10-30 01:16] mprimeaux commented on #107
@TheAlgo I don't mind. I'll take care of it.

[2021-10-31 11:59] Sebor commented on #111
Hi @TheAlgo !
Seems it works. But it's not intuitive

[2021-11-01 07:26] doge95 opened #115 "[BUG][OpenSearch Dashboards] Mounted Certificates with wrong file permissions"
**Describe the bug**
I was testing self-signed certificates and found that mounted certificates were with wrong permissions and pod crashes due to this issue.

**To Reproduce**
1. Create self-signed certificates and create secrets in Kubernetes.
[code]
2. Deploy OpenSearch Dashboards with values.yaml
[code]
3. Exec into the container. Found that all mounted certificates with wrong file permissions

[2021-11-01 17:29] TheAlgo commented on #111
@Sebor I agree to this. We need to specify these things in our `values.yaml` so that it does not create any confusion. Some settings have been deprecated there it seems and needs to be removed. I will have a look on them.

[2021-11-01 17:55] #97 closed

[2021-11-02 18:57] sastorsl commented on #44
Regarding `opensearch` there is an example of `lifecycle.postStart`, but none for `opensearch-dashboards`.

For `opensearch-dashboards` I've implemented this, and it works.
Dashboards takes over 60 seconds to start, depending on your HW of course, but leave plenty of leeway in the TIMEOUT setting.

[code]

[2021-11-02 18:59] sastorsl commented on #112
Duplicate of #44 ?

[2021-11-02 21:59] DanielHajduk2-TomTom opened #120 "[BUG][opensearch] 403 when installing plugins from https://artifacts.opensearch.org/releases/plugins/*"
**Describe the bug**
When I try to download the plugin I get 403 response..

**To Reproduce**
Steps to reproduce the behavior:
1. wget https://artifacts.opensearch.org/releases/plugins/repository-azure/1.0.0/repository-azure-1.0.0.zip

**Expected behavior**
Plugins are actually downloadable.

**Chart Name**
All chart versions.

**Screenshots**
https://i.imgur.com/At4ePuK.png

**Host/Environment (p

[2021-11-03 06:45] doge95 opened #121 "[Enhancement][OpenSearch & OpenSearch Dashboards] Request for Helm Repo"
**Describe the solution you'd like**
Can we have the helm repo for OpenSearch projects? So that we can install charts easily by adding the repo.
Something like:
[code]

[2021-11-03 07:37] TheAlgo commented on #121
We already have one setup. You can refer [this](https://github.com/opensearch-project/helm-charts#installation)

[2021-11-03 07:39] doge95 commented on #121
Oh thank you!! I missed that.

[2021-11-03 07:39] #121 closed

[2021-11-03 07:41] TheAlgo commented on #79
Seeing the current scenario I feel we can start off with long lived release branches. If everyone is okay with it I can create one. We can have those branches merged to main after the patch is ready so one and so forth.

[2021-11-03 07:45] TheAlgo commented on #44
@sastorsl As far as I know the probes that are added are not present in the [statefulset](https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/templates/statefulset.yaml). I will take a look and fix it.

[2021-11-03 08:21] sastorsl commented on #44
@TheAlgo I see my previous comment was unclear.
There is no example in `values.yaml` for `opensearch-dashboards`, but the above example addition to `values.yaml` works just fine, and the `postStart` is added and works quite well.

Ref https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch-dashboards/templates/deployment.yaml#L130

[liveness and readiness](https://kubernetes.

[2021-11-03 14:32] Sebor commented on #112
You are right. But the title of the old issue looks a bit strange imho.
So I've renamed this issue to be more specific

[2021-11-03 17:37] Sebor opened #122 "[BUG][opensearch] Deprecation warnings about node roles"
**Describe the bug**
Configuration node roles via boolean parameters is deprecated.
Old definition:
[code]
New definition:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy helm chart
2. Open logs
3. See warnings:
[code]

**Expected behavior**
No warnings in logs

**Chart Name**
opensearch

**Host/Environment (please complete the following information):**
 - Helm Version: 3.7.1

[2021-11-03 18:12] peterzhuamazon commented on #79
Do you have a flow in mind of how long lived branches would work?
For example, a simple few lines on how do we backport changes to these long-lived branch and maintain them alongside the main branch.

Thanks.

[2021-11-03 18:15] peterzhuamazon commented on #44
@sastorsl do you mind I link this issue to #117 and close this issue when that PR merged?

Thanks.

[2021-11-03 18:17] peterzhuamazon commented on #115
@DandyDeveloper @TheAlgo any insight on this issue with certificates?
Thanks.

[2021-11-03 18:19] sastorsl commented on #44
Fine by me, however I'm not OP though...

[2021-11-03 18:47] peterzhuamazon commented on #44
You guys have similar profile identicons...... @hgoscenski-imanage please check ^^

[2021-11-03 19:23] sastorsl commented on #44
No worries, I think we cleared this one up nicely :-)

[2021-11-04 00:30] DandyDeveloper commented on #115
@doge95 Just to verify, can you provide the `securityContext` from the container and whether this is `hostNetwork: true`?

This should be in the manifest of the nodes.

[2021-11-04 10:13] trondhindenes opened #125 "[Enhancement][opensearch] Document how to use the security config.yml with Helm charts"
I'm just getting aquainted wiht Opensearch and its Helm charts. The default installation works well, but I'm specifically looking into security and for instance trying to hook up an OpenID auth provider. The Opensearch documentation describes configuring these things using the `config.yml` file in the security-plugin folder.

Problem: it's not clear from the documentation how to add settings to th

[2021-11-04 10:31] trondhindenes commented on #125
Looking closer at the values.yml file I'm seeing there's a  `securityConfig.config.data` and from the description it looks like there might be a way to configure the `config.yml`. However it looks like those are "basic" string values so it basically expects yaml-in-yaml which is pretty terrible from a user perspective. It's also unclear if the default `config.yml` values will get overwritten if th

[2021-11-04 13:33] erbzn opened #126 "[Enhancement][opensearch]Add image definition of initcontainer to values.yaml"
**Is your feature request related to a problem? Please describe.**

In feature request https://github.com/opensearch-project/helm-charts/issues/67 a private registry definition was added for initcontainer busybox.
As we are using a Harbor instance as private registry, busybox will be mirrored as a single level repository in contrast to opensearch, which is a multi level repository. This resolves a

[2021-11-04 23:21] #93 closed

[2021-11-05 07:51] doge95 commented on #115
Hi @DandyDeveloper,
Is this what you are looking for?
[code]

[2021-11-09 00:25] oszymanski commented on #89
Well you can successfully override the image used for deployment, but attempting to override imageTag property produces an error:

Error: INSTALLATION FAILED: template: opensearch/templates/statefulset.yaml:9:22: executing "opensearch/templates/statefulset.yaml" at <include "opensearch.majorVersion" .>: error calling include: template: opensearch/templates/_helpers.tpl:93:18: executing "opensearch

[2021-11-09 01:01] #122 closed

[2021-11-09 01:16] CEHENKLE commented on #76
This looks resolved to me (contributing points to .github's contributing, which mentions the DCO) and there's a dco.yaml.  Any reason we can't close this out?

Thanks,
/C

[2021-11-09 01:18] peternied commented on #76
This was done in https://github.com/opensearch-project/helm-charts/pull/101 Closing out

[2021-11-09 01:18] #76 closed

[2021-11-09 08:09] bitnik commented on #44
What about opensearch chart and liveness and readiness probes? That PR doesn't cover these parts.

Here I want to explain shortly the issue we experienced today with opensearch chart:

After deploying opensearch chart in ansible we request `/_cluster/health` to check if `number_of_nodes == 3 and status == 'green'` and it failed, because `number_of_nodes` was actually 2. When we checked the pods, a

[2021-11-09 10:05] TheAlgo commented on #44
@bitnik I agree with you. Readiness is a must for production use cases, it can be a basic one but it is must. It already exists in opensearch chart but it is not properly refactored so is not usable. I will try to fix it.

[2021-11-09 10:22] TheAlgo opened #129 "[Enhancement][OpenSearch Dashboards] Add Configuration Section in README"
**Is your feature request related to a problem? Please describe.**
Add Configuration section in README for OpenSearch Dashboards same as we have for OpenSearch

**Describe the solution you'd like**
Add a section same as [here](https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/README.md#configuration)

**Describe alternatives you've considered**
N/A

**Additional context

[2021-11-09 16:51] samirmajen opened #132 "[BUG] java.lang.IllegalArgumentException: unknown setting [node] please check that any required plugins are installed"
**Describe the bug**
Running the latest version of opensearch (1.1.0) as a helm template in kubernetes gives the following error in the logs:

uncaught exception in thread [main]
java.lang.IllegalArgumentException: unknown setting [node] please check that any required plugins are installed, or check the breaking changes documentation for removed settings
        at org.opensearch.common.settings.A

[2021-11-09 19:43] Kevc1 opened #131 "Add max_primary_shard_size as a rollover action in State Management Policy"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
We need a way to rollover our indices if the shard size is >50gb as recommended by AWS.  This option exists in Elasticsearch and would be very beneficial to have available in Opensearch.

**Describe the solution you'd like**
A clear and con

[2021-11-09 19:47] CEHENKLE commented on #132
moving to helm-charts.  If you think that was an error, please lmk. :)

[2021-11-09 20:18] samirmajen commented on #132
Not sure if it's helm specifically or a problem with the codebase itself

[2021-11-10 14:21] TheAlgo commented on #132
@samirmajen Did you use the official helm chart for opensearch?

[2021-11-10 14:56] samirmajen commented on #132
Yep

[2021-11-10 14:57] samirmajen commented on #132
Looks like it doesn't like the env vars node.0 node.1 and node.2

[2021-11-10 15:51] tomasodehnal commented on #132
Faced the same issue, removing the env vars ([these lines](https://github.com/opensearch-project/helm-charts/blob/d45f215b72c84f331e0d6344b9c82749c012a41c/charts/opensearch/templates/statefulset.yaml#L318-L321) from the statefulset definition) helped.

[2021-11-10 16:46] tomasodehnal commented on #132
@samirmajen Beside the env vars I performed no other changes and fresh installation without any custom values worked. Are you using demo certs?

[2021-11-10 19:39] #126 closed

[2021-11-10 20:31] #110 closed

[2021-11-11 08:24] erbzn commented on #132
I am also facing this problem when moving from Chart 1.2.4 to 1.3.0.
Are [these](https://github.com/opensearch-project/helm-charts/commit/d45f215b72c84f331e0d6344b9c82749c012a41c) changes causing problems?

[2021-11-11 09:45] samirmajen commented on #132
yes these values are the issue, as @tomasodehnal mentioned switching to a previous helm version fixes the issue. The only changes between versions are those env vars. Erbzn your values are the wrong way round, the incorrect ones are:

- name: node.0
    value: "master"
  - name: node.1
    value: "ingest"
  - name: node.2
    value: "data"
  - name: node.3
    value: "remote_cluster_client"

These

[2021-11-11 10:52] 66545shiwo opened #135 "[BUG]IllegalArgumentException: unknown setting [node]"
**Describe the bug**
Hello,
I install OpenSearch using Helm by default config , but got an error :
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]
[code]

I only change "image" and "storageclass"  config in values.yml file

**Host/Environment (please complete the following information):**
 - Kubernertes:  1.20.6
 - Helm:  v3.5.0

[2021-11-11 17:29] peterzhuamazon commented on #132
Thanks guys for the investigation, would love if any of you could issue a PR for the fix.

@erbzn @samirmajen @tomasodehnal

Thanks.

[2021-11-11 23:28] bbarani opened #133 "[BUG] Correct copyright notices to reflect Copyright OpenSearch Contributors"
Coming from opensearch-project/.github#21.

The correct copyright for open-source projects in opensearch-project is "Copyright OpenSearch Contributors". Please correct any places that say otherwise, especially where it says copyright Amazon. Make sure NOTICE.txt and README match. See opensearch-project/.github#24 for an example.

[2021-11-11 23:31] bbarani commented on #133
Fixed in https://github.com/opensearch-project/helm-charts/pull/134

[2021-11-12 17:10] tomasodehnal commented on #132
@peterzhuamazon PR sent. The new environment variable `node.roles` is now set to comma separated values from the helm `roles` list.

[2021-11-13 09:24] TheAlgo commented on #133
Looks like the PR is already merged. @bbarani we are good to close this I believe.

[2021-11-15 17:20] #132 closed

[2021-11-16 05:39] TheAlgo commented on #133
Closing this. Feel free to reopen if issue persists.

[2021-11-16 05:39] #133 closed

[2021-11-16 11:19] sastorsl opened #141 "[BUG][opensearch] Discovery documentation deprecated"
**Describe the bug**
[values.yaml](https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/values.yaml) and README, etc reference the deprecated (since 7.x) Zen discovery type.

**To Reproduce**
Steps to reproduce the behavior:

Since upstream version 7.0 the Zen discovery type has been deprecated.
I.e. the `discovery.zen.minimum_master_nodes` setting is allowed but ignored.

[2021-11-16 12:31] sastorsl commented on #68
Something to do with #141 ?

[2021-11-16 12:33] sastorsl commented on #141
The `minimumMasterNodes` setting in `values.yaml` does not seem to be relevant anymore either. Was used with zen and the old `discovery.zen.minimum_master_nodes` setting.

[2021-11-16 17:27] TheAlgo commented on #141
I believe this needs to be omitted from `values.yaml` and README needs to be updated

[2021-11-17 08:01] doge95 commented on #115
@DandyDeveloper hey Dandy, any luck on this issue? :)

[2021-11-17 11:49] TheAlgo commented on #135
@66545shiwo Are you still facing this issue?

[2021-11-17 14:44] sastorsl commented on #141
Agree.
An no need for ppl to add the values I've mentioned in my post as it is handled by the [`statefulset`](https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/templates/statefulset.yaml#L307)

[2021-11-18 02:03] 66545shiwo commented on #135
@TheAlgo It has been fixed. Thank you !

[2021-11-18 02:03] #135 closed

[2021-11-22 00:41] DandyDeveloper commented on #115
@doge95 The problem is just a fundamental problem with Kubernetes when mounting.

The solution - `initContainer` that'll update permissions. I don't think we want this as default in the repo just yet (as this is the first report), but because of how mounts work, we'll need to do it in a frustrating way.

Unfortunately, I don't have any self-signed certs to hand and don't wanna make a root CA / scr

[2021-11-24 22:11] bluehawk27 commented on #51
If you are running opensearch on an aws node/instance in the same account as the s3 bucket you can omit the credentials and the repository-s3 plugin will use the role attached to the instance or pod.

[2021-11-24 22:48] bluehawk27 opened #143 "[BUG][opensearch] setting vm.max_map_count=262144 on GKE fails"
**Describe the bug**
setting vm.max_map_count=262144 on gke with the security context via the helm chart currently does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. set sysctlVmMaxMapCount: 262144
2. set sysctl.enabled: true
3. Apply helm chart
4. sysctl error on GKE

**Expected behavior**
Sysctl should set the vm.max_map_count

**Chart Name**
opensearch

**Screenshots**
If appl

[2021-11-24 22:51] bluehawk27 opened #144 "[Enhancement][opensearch-dashboards] Add lifecycle: block to values file"
**Is your feature request related to a problem? Please describe.**
Add `lifecycle:` block to values file to support helm template

**Describe the solution you'd like**
Add `lifecycle:` block to values file

**Describe alternatives you've considered**
none

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-11-25 14:04] dotdc opened #146 "[BUG][opensearch] Added default value to securityConfigSecret"
**Describe the bug**

Hi, I've initially been unable to load a custom `internal_users.yml` to my kubernetes helm chart deployment using both presented method in the values file (issue refer to the `elasticsearch.securityConfig.config.data.internal_users.yml` method).

To make it work, you need to add a default value to securityConfigSecret, here's the PR : https://github.com/opensearch-project/hel

[2021-11-25 22:49] bluehawk27 opened #147 "[BUG]sysctlVmMaxMapCount: 262144 fails to set on GKE"
**What is the bug?**
setting vm.max_map_count=262144 on gke with the security context via the helm chart currently does not work.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. set sysctlVmMaxMapCount: 262144
2. set sysctl.enabled: true
3. Apply helm chart
4. sysctl error on GKE

**What is the expected behavior?**
Sysctl should set the vm.max_map_count

**What is your host

[2021-11-25 22:49] #147 closed

[2021-11-26 10:28] aschi1 commented on #66
Hi, is there any update for this? IngressClassName is blocking us to migrate to this helm chart (which we would very much like to)

Thank you!

[2021-11-26 14:33] mprimeaux commented on #66
I'll review and update today.

[2021-11-26 15:25] smlx commented on #146
Could you try setting `internal_users.yml`, leaving `securityConfigSecret` empty, and installing the `opensearch` chart from this repository? Does the bug occur?

[2021-11-26 17:33] mprimeaux commented on #66
@aschi1 PR #149 has been submitted for community review.

@peterzhuamazon @TheAlgo @DandyDeveloper @smlx FYI and thanks for your continued support.

[2021-11-29 00:58] davidshtian opened #150 "[BUG][opensearch] Helm notes as the pod label key has changed"
**Describe the bug**
Helm notes as the pod label key has changed from _"app"_ to _"app.kubernetes.io/component"_.

**To Reproduce**
Steps to reproduce the behavior:
Just deploy using this chart and the notes will show.

**Expected behavior**
The new label key _"app.kubernetes.io/component"_ should be used.

**Chart Name**
charts/opensearch/templates/NOTES.txt

**Screenshots**
N/A

**Host/Environme

[2021-11-29 16:33] sevenval-admins commented on #125
Hi, I am also trying to configure the security plugin (I want to bind my opensearch to LDAP, so I have to write my own config.yml) and I think that all that has with security plugin to do can be configured with the parameters starting by this line https://github.com/opensearch-project/helm-charts/blob/773a413af09e8d2141c9359838b6cd5d76a095a4/charts/opensearch/values.yaml#L288 until line.
I still d

[2021-11-29 17:38] TheAlgo commented on #146
@dotdc Did you try installing the chart as per the advise from @smlx ?

[2021-11-29 19:12] peterzhuamazon opened #151 "[Enhancement][OpenSearch/OpenSearch Dashboards] Make 1.2 as default image for opensearch helm charts"
**Is your feature request related to a problem? Please describe.**
Plans for moving the default App Version of charts to use the latest OpenSearch version.

**Describe the solution you'd like**
Change [this](https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/Chart.yaml#L24) to `1.2`

**Describe alternatives you've considered**
N/A

**Additional context**
It has been clos

[2021-11-30 00:54] DandyDeveloper commented on #143
@bluehawk27 I am going to close this as a duplicate of https://github.com/opensearch-project/helm-charts/issues/87

Theres a slow discussion surrounding this there.

For GKE, it seems marking the initContainer as a `privileged: true` is the only workaround for this.

[2021-11-30 00:54] #143 closed

[2021-11-30 01:05] DandyDeveloper commented on #107
@TheAlgo I missed this. Yes, it should be removed.

[2021-11-30 01:09] DandyDeveloper commented on #87
Unfortunately, regarding GKE, there's just not many other options. I don't like the idea of `privileged: true` on a initContainer, but it does seem to be the only option here.

Per the above comment though, there definitely needs to be some understanding that either;

* Nodes have to be prepared beforehand with the `vm.max_map_count` specifically for OpenSearch
* Kubelet needs to have explicitly a

[2021-12-01 02:10] smlx commented on #87
At least scoping it to an init container is a reasonable compromise for now - as long as we can enable the init container via a flag.

[2021-12-01 09:29] #66 closed

[2021-12-01 10:29] dotdc commented on #146
Sorry I didn't see the new comment, I tried with the new chart and @smlx was right, you can only set one or you'll get an error.

What I missed is that you need to run `securityadmin.sh` after the initial `helm install ...` to load your custom configuration.

Closing the issue, everything works now! :smile:

[2021-12-01 10:29] #146 closed

[2021-12-01 11:20] NybbleHub opened #154 "[BUG][opensearch] Demo certificates found but allow_unsafe_democertificates is false."
**Describe the bug**
Helm install is failling when I'm using my own certificates and I set `allow_unsafe_democertificates` to `false`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create the secrets containing the certificates with CertManager.
2. Use `secretMounts` in value.yml file to mount the secrets created with CertManager:
[code]
3. Use mounted certificates in SSL configuration, di

[2021-12-01 15:36] sevenval-admins opened #155 "[BUG] destination for configSecret is a table. Ignoring non-table value <nil>"
**Describe the bug**
Hi, I am trying to deploy opensearch with Helm but I run in the over mentioned error.

**To Reproduce**
Steps to reproduce the behavior:
1. create a custom-value.yml file where all my parameters are defined
2. run helm install with --values flag in order to pass my custom-value.yml file
3. errors:
[code]
The line 72 refers to the default opensearch.yml config, so it should be

[2021-12-01 17:34] NybbleHub commented on #154
Apparently the "install_demo_configuration.sh" script is launched by default:

[code]

Is there a way do disable the `install_demo_configuration.sh` script and use the `securityadmin.sh` script ?

[2021-12-02 05:16] smlx commented on #154
This bug is actually in the upstream `opensearch` docker image. A workaround is to build a custom image based on upstream which removes those certificates. Something like this:
[code]

[2021-12-02 08:48] NybbleHub commented on #154
I tried to remove the certificates with an extraInitContainer :

[code]

But it's not working because Demo certificates are generated directly by `install_demo_configuration.sh`, they are hardcoded in the script.

I will try to find why and from which place this script is automatically launched.

[2021-12-02 10:23] #155 closed

[2021-12-02 12:13] NybbleHub commented on #154
I found a workaround for this issue.

The `install_demo_configuration.sh` is runned at start via the `opensearch-docker-entrypoint.sh` script if `DISABLE_INSTALL_DEMO_CONFIG` is not `true`.

`DISABLE_INSTALL_DEMO_CONFIG` value is set in Dockerfile with `ARG DISABLE_INSTALL_DEMO_CONFIG=true` and is not kept as environment variable at start.

So the solution is to simply set an extraEnv :
[code]

Wi

[2021-12-03 02:04] smlx commented on #154
oh nice find! this should probably be added to a FAQ for the chart.

[2021-12-03 09:43] doge95 commented on #115
hi @DandyDeveloper, thanks for the workaround. I tried your settings in my local environment but still experienced the same issue.

When I exec into the container, the file/ directory permissions are shown as below.
[code]
Looks like the directory and certificate file permissions are not correct.
[code]
[code]

[2021-12-03 10:03] doge95 commented on #115
hi @DandyDeveloper, is there any recommended way to use certificates (other than self-signed certs) for opensearch-dashboards to enable security?

[2021-12-03 10:52] StefanSa opened #156 "[BUG][opensearch-dashboards] configMap does not renderd correctly"
**Describe the bug**
configMap does not renderd correctly

**To Reproduce**
with this values.yaml the configMap is not rendered correctly.

-snip-
[code]
-snap-

in the generated configMap there is one "Pipe Symbol" too much.
Result ConfigMap:
[code]
The same works with the opensearch chart without problem.
What i have seen, is that opensearch and opensearch-dashboards have different configmap.yam

[2021-12-03 13:47] aschi1 commented on #66
@mprimeaux Thank you!

[2021-12-04 20:22] chbmuc opened #157 "[BUG][opensearch] Chart not installing in PSP enabled kubernetes clusters >= 1.21."
**Describe the bug**
Chart not installing in Kubernetes clusters >= 1.21 with PodSecurityPolicies enabled.

This is because the chart want's to use `apiVersion: policy/v1`. However there is no such apiVersion and there never will be. podSecurityPolicys have been deprecated, because they will be removed completely in future Kubernetes versions.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2021-12-06 11:10] sevenval-admins opened #158 "[BUG][OpenSearch] - [ERROR][o.o.s.c.ConfigurationLoaderSecurity7]"
**Describe the bug**
Hi,
I´am trying to setup Opensearch but I am not able to get the service up and running.
This is the errors that shows up in Logs:
[code]

Than when I run securityadmin script, it fails with this message:
[code]
Hier is my config:

[code]

**Chart Name**
OpenSearch

**Host/Environment (please complete the following information):**
 - Helm Version: 3.4.0
 - Kubernetes Version:

[2021-12-06 11:23] TheAlgo commented on #157
@chbmuc Thanks for bringing this up. Do you plan of raising PR for it?

[2021-12-06 11:26] TheAlgo commented on #154
@NybbleHub would you mind updating this finding in the README of the chart.

[2021-12-06 11:27] TheAlgo commented on #158
@sevenval-admins Can you manually create the index `opendistro_security` and try once?

[2021-12-06 11:34] sevenval-admins commented on #158
Hi, thanks for your quick reply. I have already tried to delete the index and manually recreate it, but the error remains the same:
[code]

[2021-12-06 12:39] sevenval-admins commented on #158
I think this is the relevant part of the error message:
[code]
What is this java.lang.NullPointerException Exception that cause the error while retrieving the configuration?

[2021-12-06 14:14] dmpe opened #160 "[Enhancement][opensearch/opensearch-dashboard] switch from image/imageTag to a different (helm default) formatting of YAML keys/values"
**Is your feature request related to a problem? Please describe.**

I would like that both helm charts, for `opensearch` and `opensearch-dashboard`, changed how they work with `image` and `imageTag` keys.

So instead of current way of:

[code]

I would like this to become, more helm-native, to:

[code]

I am fully aware that there are helm charts which vary in how they approach things, however, I

[2021-12-06 15:03] ognjen-it opened #161 "[BUG][opensearch/opensearch] securityadmin.sh is failing to update admin password"
**Describe the bug**
Hi guys, I'm trying to deploy the OpenSearch cluster with no default password (password should be ognjen).

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy OpenSearch cluster: `helm install opensearch-search opensearch/opensearch`
2. Ssh to pod and generate hashed password: `helm install opensearch-search opensearch/opensearch`
    - output example: $2y$12$kJXD1/8s

[2021-12-07 15:12] smlx commented on #158
You are missing a `config_version: 2` in `action_groups.yml`.

[2021-12-08 10:32] kunal-parsewar commented on #111
Hi , I am also facing the same issue even after making the suggested changes by @TheAlgo .

K8S : 1.22
Virtual Box --> Ubuntu

Also , I am also getting below error

 suggested_max_allocation_size=256kb, factors={opensearch.unsafe.use_unpooled_allocator=null, g1gc_enabled=true, g1gc_region_size=1mb, heap_size=512mb}]
[2021-12-08T10:30:50,090][INFO ][o.o.d.DiscoveryModule    ] [opensearch-cluster-ma

[2021-12-09 00:37] peterzhuamazon commented on #161
@DandyDeveloper @TheAlgo any input on this one? Seems like more or less related to docker not helm?
Thanks.

[2021-12-09 00:40] peterzhuamazon commented on #160
I am not afraid of breaking changes, as long as it is in good faith.
My concern is how urgent or needed is this change?
I would get more opinions on community members on this.
@smlx @mprimeaux @DandyDeveloper that are your thoughts on this?

Thanks.

[2021-12-09 00:41] peterzhuamazon commented on #158
Is that solve your problem @sevenval-admins and thanks @smlx for pointing out a solution.
If so could you consider close this?

Thanks.

[2021-12-09 00:41] peterzhuamazon commented on #107
Hi @mprimeaux not sure if there a PR already open for this?

Thanks.

[2021-12-09 00:43] peterzhuamazon commented on #156
Hi @StefanSa great find.
Would you consider opening a PR for this?
Thanks.

[2021-12-09 00:47] DandyDeveloper commented on #160
@peterzhuamazon I'm all for it but it is a frustrating breaking change.

I'm not sure why we didn't use the standard convention in the first place.

[2021-12-09 00:48] smlx commented on #160
I am in favour of this change, it is the standard helm way of doing things. It is breaking in the sense that people have to restructure their values files but not in the sense that it will make it impossible to upgrade an existing installation.

I'm guessing `helm chart create` wasn't used.

[2021-12-09 00:50] mprimeaux commented on #107
Hi Peter. I will submit this today

[2021-12-09 00:55] DandyDeveloper commented on #161
@ognjen-it This is somewhat expected behaviour.

If `.securityConfig.config.data` is passed into the yaml, this will generate a `opensearch-securityconfig` secret which will then be mounted like this:

[code]

The nature of this means the baked in values will be overwritten. This is by design, as the expectation is all configs are passed in that section.

A better option for you might be to define

[2021-12-09 08:55] sevenval-admins commented on #158
Sorry, yes this solved my problem, thank you very much @smlx :)

[2021-12-09 18:37] dmpe commented on #160
Thanks everyone for quick responses.

Not urgend, but the change would be very welcome. The opendistro helm chart had also the same structure, and with the switch to opensearch project, this is the time (being still quite young) that we could make a good and reasonble (breaking) change as well.

[2021-12-09 18:42] mprimeaux commented on #160
Likewise, I am in favor of the change to align with the standard Helm way of structuring that specific stanza.  Granted, we **could** make the change in a backward-compatible manner in the spirit of a deprecation policy.

Regardless, I don't perceive this breaking change as requiring a material effort for consumers.

[2021-12-09 19:17] derek-diaz commented on #151
I had updated this already on my local fork of OpenSearch helm charts since I am currently in the process of getting OpenSearch running in GKE with Security and NGINX. Might as well push it to the main project haha

[2021-12-10 05:58] #109 closed

[2021-12-10 05:59] TheAlgo commented on #111
@kunal-parsewar can you increase `vm.max_map_count` to `262144`

[2021-12-10 08:46] duggiralateja opened #166 "[BUG]sed: cannot rename /usr/share/opensearch/config/sedjjKuYY: Device or resource busy"
**Describe the bug**

tee: /usr/share/opensearch/config/opensearch.yml: Permission denied
Enabling OpenSearch Security Plugin
sed: cannot rename /usr/share/opensearch/config/sedjjKuYY: Device or resource busy
Killing performance analyzer process 47
./opensearch-docker-entrypoint.sh: line 128:    46 Killed                  $OPENSEARCH_HOME/bin/opensearch "${opensearch_opts[@]}"
OpenSearch exited wi

[2021-12-10 13:00] rursprung opened #167 "[BUG][opensearch] dead "minimum_master_nodes" setting still listed"
**Describe the bug**
the opensearch chart still contains the commented-out `discovery.zen.minimum_master_nodes`:
https://github.com/opensearch-project/helm-charts/blob/12e6af67dd6e0e3945c9b3064579dd76381160d3/charts/opensearch/values.yaml#L50-L52

however, since Elasticsearch 7.0 this setting has been ignored: [release notes for 7.0](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/bre

[2021-12-10 13:18] TheAlgo commented on #167
Yes this needs to be removed from the `values.yaml` as per my knowledge to avoid any confusion

[2021-12-10 13:22] rursprung commented on #167
i'm not planning to contribute a PR here because i'm not familiar enough with what the proper settings would be for this use-case.
i'm actually hoping to see what you'll be doing :D

[2021-12-10 17:01] peterzhuamazon opened #168 "[BUG]Log4j CVE-2021-44228 needs to update OpenSearch/Dashboards patch once it is up"
**Describe the bug**

Related to this:
https://discuss.opendistrocommunity.dev/t/log4j-patch-for-cve-2021-44228/7950

OpenSearch is actively working on a patch, will need to change our Ansible playbook to it once it is ready.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descript

[2021-12-10 17:17] TheAlgo commented on #168
@peterzhuamazon Users can just set the chart image as the update image for OpenSearch and upgrade I believe. By default we can change the helm chart version to the latest OpenSearch version in which the issue will be fixed.

[2021-12-10 18:00] peterzhuamazon commented on #168
As we are currently having patch versions for old releases, I am not sure if the `latest` tag still preserve pointing to the highest version. It might point to 1.1.1 while 1.2.1 is out, for example, if 1.1.1 release after 1.2.1 with the current scripts.

And I also recommend we change the default to 1.2.1, if it goes out in public so that new users wont download the older version.

[2021-12-10 18:14] TheAlgo commented on #168
Yes once the patch is ready we can do that in #164

[2021-12-10 19:16] #107 closed

[2021-12-11 05:23] #150 closed

[2021-12-11 07:33] TheAlgo opened #169 "[Documentation][OpenSearch/OpenSearch Dashboards] Add Contribution guidelines for the repository"
**Is your feature request related to a problem? Please describe.**
Add a detailed guideline for contribution so that it need not be pointed out in every PR. This will make things hassle free for maintainers and contributors

**Describe the solution you'd like**
 Make contribution [guidelines](https://github.com/opensearch-project/helm-charts/blob/main/CONTRIBUTING.md) more detailed.

**Describe al

[2021-12-11 07:34] TheAlgo commented on #169
@peterzhuamazon @DandyDeveloper @mprimeaux What do you guys think about it?

[2021-12-11 20:53] peterzhuamazon commented on #168
OpenSearch 1.2.1 out, Dashboards stays 1.2.0.

[2021-12-11 21:02] #157 closed

[2021-12-12 07:42] TheAlgo opened #170 "[Enhancement][OpenSearch] Add readiness Probe to the chart"
**Is your feature request related to a problem? Please describe.**
Have a [readiness probe](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/) for OpenSearch charts

**Describe the solution you'd like**
Add readiness probe in Stateful set template which can check for the cluster health status to be green. It will have some timeout which can be co

[2021-12-12 09:44] trondhindenes commented on #166
same happens to me.

[2021-12-12 13:34] #151 closed

[2021-12-13 08:19] sastorsl opened #173 "[Enhancement][opensearch] Release notes"
**Is your feature request related to a problem? Please describe.**
Release notes include the name of the component and version number, but no release notes.
This means you have to go hunting for what was released / changed / breaking.

Example https://github.com/opensearch-project/helm-charts/releases/tag/opensearch-1.5.4

**Describe the solution you'd like**
Automatically include release notes fo

[2021-12-13 08:32] StefanSa opened #174 "[BUG][general] upgrade to 1.5.1, Error message "no chart version found for opensearch""
**Describe the bug**
We get this error message when upgrading helm chart.
"no chart version found for opensearch-xxxx".

**Expected behavior**
helm chart upgrade without error message

**Chart Name**
general

**Host/Environment (please complete the following information):**
 - Helm Version: [e.g. 3.x.x]
 - Rancher RK: [e.g. 2.6.2]

[2021-12-14 14:07] #174 closed

[2021-12-14 15:15] sevenval-admins commented on #161
Hi @DandyDeveloper, so do you mean that if I define my internal_users.yml under .securityConfig.config.data with an hashed password for my admin account, will this password not be taken into account by opensearch and I have to define an extra secret for that?

[2021-12-14 19:56] peterzhuamazon commented on #168
As #164 merged, issue mitigated now.
Thanks.

[2021-12-14 19:56] #168 closed

[2021-12-14 19:59] Rubemlrm opened #176 "[Enhancement][Opensearch] Add possibility to enable/disable network policy creation"
**Is your feature request related to a problem? Please describe.**
At this moment i have a case, where a user want to deploy  the opensearch chart on a kubernetes clusters, but due to the existent policies, users can't create a network policy.

**Describe the solution you'd like**
The solution that i was thinking is adding a flag to enable/disable the network policy creation on the helm install.

[2021-12-14 20:03] k3a opened #177 "[Enhancement][OpenSearch Dashboards] Do not hardcode imageTag in values.yaml"
**Is your feature request related to a problem? Please describe.**
`imageTag` should not be hard-codded to specific version (like 1.0.0).

**Describe the solution you'd like**
By default, the chart should use the `appVersion` tag from `Chart.yaml` just like in `openserach` Heml chart.
Helm config variable `imageTag` can still be used for manual overrides if someone needs to use a specific version.

[2021-12-14 21:57] peterzhuamazon commented on #173
Hi @sastorsl so you mean we should include the release notes in the release page, not just in the CHANGELOG.md file?
If so, do you have any solutions that can contribute as a PR?
Thanks.

[2021-12-14 21:58] peterzhuamazon commented on #167
@TheAlgo any progress?
Thanks.

[2021-12-14 23:24] peterzhuamazon opened #178 "[CVE] CVE-2021-45046 & CVE-2021-45105 in preparation for new OpenSearch patch"
**Describe the bug**
New CVE: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-45046
                 https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-45105

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Chart Name**
Spe

[2021-12-15 09:02] sastorsl commented on #173
I don't have a solution ready on hand no, but I guess there are at least some examples around.
I.e. the latest release from Prometheus https://github.com/prometheus/prometheus/releases/tag/v2.32.0

[2021-12-15 12:53] Oznup opened #180 "[BUG][OpenSearch] Can't use my own certificates mounted as secrets in the opensearch.yml"
Hello,

First of all, congratulations for this beautiful fork ^^
I've tried it with the demo configuration and everything is working well.
Now, I try to use a more production ready configuration, and then use the certificates registered in secrets (created by cert-manager).

To do so, I use extraVolumes and extraVolumesMounts (I've tried secretMounts, but I don't have better results) to mount my c

[2021-12-15 13:40] duggiralateja commented on #166
Installation steps provided in "https://discuss.elastic.co/t/apache-log4j2-remote-code-execution-rce-vulnerability-cve-2021-44228-esa-2021-31/291476" was not working to run OpenSearch in Kubernetes. I tried to install helm chart and run with root user privileges and the same above errors persist.

We are struck with pods going Crashloop with above specified.

[2021-12-15 15:41] sevenval-admins commented on #161
So I have the same problem, here is my config:
[code]
Then I do an upgrade of my chart:
`/opt/rke-tools/bin/helm upgrade opensearch opensearch/opensearch --version "1.5.0" --values /opt/rke-tools/etc/opensearch-values.yml --namespace opensearch-test`
and run the securityadmin script:
`./securityadmin.sh -cd "/usr/share/opensearch/plugins/opensearch-security/securityconfig" -icl -key "/usr/share/op

[2021-12-15 17:52] #177 closed

[2021-12-17 09:18] kunal-parsewar opened #181 "[bug][Opensearch][OCI runtime create failed: container_linux.go:370: starting container process caused: mounting "/var/lib/kubelet/pods//volume-subpaths/config/opensearch/2" to rootfs at /run/containerd/io.containerd.runtime.v1.linux/k8s.io/opensearch/rootfs/usr/share/opensearch/config/opensearch.yml caused: not a directory: unknown]Unable to deploy opensearch through helm chart"
**Describe the bug**
We are trying to deploy the opensearch helm chart on AKS cluster . But while deploying below errors it is throwing when i m describing the pods.

 Error: failed to create containerd task: OCI runtime create failed: container_linux.go:370: starting container process caused: process_linux.go:459: container init caused: rootfs_linux.go:59: mounting "/var/lib/kubelet/pods/9a2d2d61

[2021-12-17 13:33] thanatas commented on #115
Any luck on this issue, I am stuck! Thanks.

[2021-12-17 16:54] NybbleHub commented on #125
Hi !

Here is how to be able to use custom Security Config and in particular for LDAP or OpenID provider, using Kubernetes Secret.

1. Create a secret containing your `config.yaml` content:
[code]
2. Use your newly created secret in `values.yml` file:
[code]
3. That's it, your config should be applied at start.

I hope this can help.

[2021-12-17 17:08] NybbleHub commented on #115
Hello !

On my side I solved permissions issues with the following configuration:

1. Create a secret containing ca cert, tls cert, tls key:
[code]
2. Mount your secret in separated folder and specify mode with the following configuration in `values.yml`:
[code]
3. Add the following configuration in `opensearch_dashboards.yml:` section in `values.yml`:
[code]

With that you should not need an Extr

[2021-12-17 17:16] NybbleHub commented on #161
Hi @sevenval-admins

You should create a separated secret containing your configuration and then specify your secret name in `securityConfig.internalUsersSecret`

I've just posted an example of the configuration in issue #125

Example is for the `config.yml` but the process is the same for 'internal_users.yml'

[2021-12-20 08:56] thanatas commented on #166
Is there any suggestion, I also could not load TLS files. I am getting same error while loading files :  "file read permission".
I tried to solve afterwards' script, nothing worked.

[2021-12-20 12:16] sevenval-admins commented on #161
@NybbleHub thank you very much , it worked for me. I was just wondering why there is the possibility to write the configuration directly in yml files under securityConfig.config.data when it has to be defined through secrets otherwise it doesn't work?

[2021-12-20 12:24] #176 closed

[2021-12-20 13:32] NybbleHub commented on #161
If you provide configuration with `securityConfig.config.data` this should create a secret named `{{ include "opensearch.uname" . }}-securityconfig`.

Did you check if the secret was created and if yes, what was inside ?

[2021-12-20 14:34] dmpe commented on #160
I have created a PR for my proposed changes - see #184

[2021-12-20 19:36] sastorsl commented on #173
Could for instance commit messages since the last merge be included in the release notes?

[2021-12-20 20:20] SamuelBagattin commented on #166
I am getting the same error with chart version opensearch-1.5.5 on a kubeadm cluster running kubernetes 1.23.
This would be great if the chart could work out of the box 👍

[2021-12-21 06:23] sevenval-admins commented on #161
Yes the secret was created and inside are all the .yml files (internal_users, config, roles etc etc)

[2021-12-22 11:47] NybbleHub commented on #161
Hi @sevenval-admins,

I've tested to use your config and providing this one directly by using `securityConfig.config.data` and everything is working fine.

The only difference I have is an extra env to disable use of Demo script:
[code]

[2021-12-23 09:05] doge95 opened #186 "[BUG][opensearch] Authentication failed for opensearch dashboards with updated kibanaserver password"
**Describe the bug**
I create a separated secret containing my ```internal_users.yml``` (changed the default password for ```kibanaserver``` user) configuration and then specify the secret name in ```securityConfig.internalUsersSecret```.

I update```opensearch.password``` in ```opensearch_dashboards.yml```

However, the opensearch dashboards pod **fails to authenticate** to the opensearch master

[2021-12-23 10:11] rveeranki06 opened #187 "Unable to deploy a pod using security context read only file system to true"
Hi Team,

Some how I am not able to deploy or install a pod with security context read only file system to true. Do you have any alternative or solution to adhere to security context in k8s

sed: couldn't open temporary file /usr/share/opensearch/config/sedJSnoBz: Read-only file system
Exception in thread "main" org.opensearch.bootstrap.BootstrapException: java.nio.file.FileSystemException: /usr/s

[2021-12-23 23:53] smlx commented on #186
This could be a problem with your shell treating part of your password as a variable:
[code]
Could you try a different password with only alphanumeric characters?

[2021-12-24 06:41] doge95 commented on #186
hi @smlx, thank you for the quick reply! It works for me when I use a password with alphanumeric and number characters.

[2021-12-24 06:41] #186 closed

[2021-12-24 07:48] #92 closed

[2021-12-24 08:05] #178 closed

[2021-12-28 06:24] duggiralateja commented on #187
Facing the same issue while deploying into Kubernetes. struck with above error while running.

https://github.com/opensearch-project/helm-charts/issues/166

[2021-12-30 02:54] volserverRay opened #188 "Steps to resize the persistent volume"
Hi there,
any idea how to resize the persistent volume used by the statefulset after the chart installed?
I have tried to modify the values and run "helm upgrade", but it shows error " Forbidden: updates to statefulset spec for fields other than 'replicas', 'template', and 'updateStrategy' are forbidden".

[2021-12-30 10:42] doge95 opened #189 "[Opensearch] Question about Fluentd configurations on data streams"
**Describe the bug**
I am trying to use the Fluentd plugin [fluent-plugin-elasticsearch](https://github.com/uken/fluent-plugin-elasticsearch) to write logs to Opensearch **data streams** index but encounter some errors.

May I get some advices on how to configure Fluentd and use Opensearch data streams index?

The same configurations works for Elasticsearch but failed for Opensearch.
I am getting

[2021-12-30 11:13] sevenval-admins commented on #161
I @NybbleHub thank you, I will try this :)

[2022-01-02 08:27] peterzhu1992 commented on #187
@rveeranki06 @duggiralateja
https://github.com/opensearch-project/opensearch-build/pull/1130

[2022-01-03 05:48] doge95 commented on #189
I am able to resolve it by upgrade the plugin **fluent-plugin-elasticsearch** to **5.1.1** and specify the **data_stream_template_name** & **data_stream_ilm_name**

[code]

[2022-01-03 05:48] #189 closed

[2022-01-04 12:50] ichasco-heytrade opened #213 "OpenSSL SSL_connect: SSL_ERROR_SYSCALL in connection"
I am getting errors when triying to connect to opensearch from opensearch-dashboard:

[code]

If I connect from my local host:

[code]

Versions:
Opensearch : 1.2.3
Opensearch-Dashboard: 1.2.0

Opensearch-Dashboard config:
[code]

[2022-01-05 03:08] peterzhuamazon commented on #187
Fixed in https://github.com/opensearch-project/opensearch-build/pull/1130

[2022-01-05 03:08] #187 closed

[2022-01-05 09:21] life-learner1 commented on #180
Is that solved @Oznup ,could you check if  there is '\n' at the end of the pem file?

[2022-01-05 10:48] life-learner1 commented on #161
@sevenval-admins Is that working for you?

[2022-01-05 10:50] life-learner1 commented on #161
I set the var to "true", but service was down, and told me cannot find "esnode.pem"
Caused by: org.opensearch.OpenSearchException: Unable to read /usr/share/opensearch/config/esnode.pem (/usr/share/opensearch/config/esnode.pem). Please make sure this files exists and is readable regarding to permissions. Property: plugins.security.ssl.transport.pemcert_filepath
	at org.opensearch.security.ssl.Defa

[2022-01-07 05:07] #154 closed

[2022-01-07 08:02] sastorsl commented on #173
@peterzhuamazon would more examples help?
I'm not personally familiar with how to achieve this, but there are examples in upstream of the _outcome_, both on what is included in the releases page on github, but also what is included in the RSS feeds.

It is really helpful when following the RSS-feeds since we are constantly reviewing tens / hundres of packages.

[2022-01-07 16:25] #160 closed

[2022-01-07 16:27] peterzhuamazon commented on #173
@DandyDeveloper @smlx thoughts?

[2022-01-10 10:52] sevenval-admins commented on #161
@life-learner1 , still not tested, I will give you feedback as soon as I will give it a try.

[2022-01-11 23:04] cshields opened #191 "[BUG][opensearch] securityConfigSecret not volumeMount(ed)"
**Describe the bug**
There is an option to use a predefined Secret for securityConfig (with the individual files within) at securityConfig.config.securityConfigSecret - setting this with the name of the Secret that contains the configs adds the secret to the list of volumes in the StatefulSet as security-config-complete, but does not add it to the list of VolumeMounts.

**To Reproduce**
Steps to r

[2022-01-12 17:08] joblanc opened #192 "[BUG][opensearch-dashboards] referenced role does not exist"
**Describe the bug**
Rolebinding "{chart_name}-dashboards-rolebinding" references role "{chart_name}-dashboards" which does not exists.
Helm install command sometimes fails with message "failed to create resource: roles.rbac.authorization.k8s.io "{chart_name}-dashboards" not found"

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy opensearch-dashboards with "serviceAccount.create" and "

[2022-01-13 10:14] kunal-parsewar opened #193 "[Feature][opensearch] need to create the multi role deployment for opensearch cluster 3 master and 2 data nodes. How to create that using single values.yaml."
I am trying to setup the three master and two data node cluster using the official helm chart of opensearch.

How to create the multi role deployment using single values.yaml. We need to automate the process of the cluster setup hence we cannot execute two different yaml files for the data and master nodes.

How can we do that using single values.yaml file and having template files for data and ma

[2022-01-13 10:41] TheAlgo commented on #193
@kunal-parsewar For multi-node cluster to my knowledge this helm chart needs to be installed multiple times. Wrote a [blog](https://opensearch.org/blog/technical-posts/2021/11/setup-multinode-cluster-kubernetes/) sometime back. Not sure of this helps though.

[2022-01-13 11:44] kunal-parsewar commented on #193
Hi @TheAlgo I looked at this blog , but we wanted to have everything in one file. This one alternative I did check.

I solved the above error anyhow , looks like , but facing below error.

$ helm lint
==> Linting .
[INFO] Chart.yaml: icon is recommended
[ERROR] templates/data_statefulset.yaml: unable to parse YAML: error converting YAML to JSON: yaml: line 67: could not find expected ':'
[ERROR] t

[2022-01-14 12:52] TheAlgo commented on #193
Can you attach the whole file, it is a bit tough to draw conclusive evidence from the snippet?

[2022-01-14 15:38] rursprung opened #194 "[BUG][opensearch] unused readinessProbe in values.yaml"
**Describe the bug**
the following definition from the `values.yaml` (same also in the three CI-related value yaml files) is unused:
https://github.com/opensearch-project/helm-charts/blob/63847ee78834063f5f79d2f575c22e6301ea6244/charts/opensearch/values.yaml#L324-L329

this is not referenced anywhere in [`statefulset.yaml`](https://github.com/opensearch-project/helm-charts/blob/63847ee78834063f5f7

[2022-01-17 12:04] ganilmca opened #196 "Opensearch-1.2.3 images not able to deploy in kubernates"
Hi Team,

We have tried to deploy opensearch-1.2.3 image ( which was downloaded from "docker pull opensearchproject/opensearch:1.2.3 ") as a helm based deployments, we couldn't able to deploy the cluster.

We have followed the bellow process:

1.Deploy the cluster as a helm charts:
<img width="571" alt="opensearch123-deploy" src="https://user-images.githubusercontent.com/84953972/149765979-3810080

[2022-01-17 13:01] smlx commented on #188
This is a kubernetes limitation and the only way I'm aware of to do this is along the lines of https://serverfault.com/a/989665

Maybe you could instead snapshot to S3, create the new cluster with larger volumes, and then restore into it?

[2022-01-17 13:03] smlx commented on #193
I'd recommend [helmfile](https://github.com/roboll/helmfile) for this use case.

[2022-01-19 02:59] volserverRay commented on #188
hi @smlx ,
understood.
yes. currently i'm doing the same as the link suggest. and it working very well.
thank you!

[2022-01-19 02:59] #188 closed

[2022-01-20 22:10] peterzhuamazon commented on #196
Hi @ganilmca have you manually try to deploy a docker container to verify whether it can run on your system?
We have fairly amount of docker changes leading to 1.2.4, but 1.2.3 should have the same scripts as 1.2.1.

Thanks.

[2022-01-20 22:11] peterzhuamazon commented on #194
@DandyDeveloper @TheAlgo is this something we missed at any point?
Thanks.

[2022-01-20 22:12] peterzhuamazon commented on #191
@DandyDeveloper @TheAlgo any thoughts?

[2022-01-20 22:13] peterzhuamazon commented on #192
Hi @joblanc thanks for reporting this issue.
Have you discovered any workaround to this issue?
@DandyDeveloper @TheAlgo please take a look at it.

Thanks.

[2022-01-21 12:36] TheAlgo commented on #194
Yes `liveness` probe needs to be removed until we have something in place. I have a pending PR on me for `readinessProbe` #172 . Will try to complete it asap.

[2022-01-21 21:31] deng47 opened #198 "[BUG][Opensearch] helm upgrade cause all master pods killed almost simultaneously and breaks the cluster"
**Describe the bug**
How I deployed my Onpensearch cluster: pulled the OpenSearch helm chart to local, and modified the values.yaml, then did `helm install <name> -f values.yaml --create-namespace -n <name>`

I have 3 master pods in my Opensearch cluster. They are all persistence disabled. I updated the content of `opensearch.yml` in values.yaml, and did a `helm upgrade <name> -f values.yaml --cre

[2022-01-22 09:35] peterzhuamazon commented on #198
Hi @deng47 do you have any logs to show whether this is a normal termination of master nodes or some other errors?
@DandyDeveloper @TheAlgo

[2022-01-22 09:42] TheAlgo commented on #181
@kunal-parsewar which version of the chart are you using, I will need that to reproduce the issue.

[2022-01-22 14:24] trondhindenes opened #199 "[BUG][opensearch] its not possible to use a custom opensearch image"
**Describe the bug**
Because of how complex opensearch is to configure, we find it easuer to build a custom image. However, the Helm chart is constructed in such a way that it's impossible to change the opensearch image without also changing the busy box image ref.

[2022-01-22 19:23] deng47 commented on #198
Below are logs from one of my new master pods. I noticed that it complained about `opensearch.yml: Permission denied`. In my previous post, I suspected the root cause was new master pods didn't really join the cluster because k8s killed old pods too early. But it seems the real cause is Opensearch can't start with a `opensearch.yml'.
I am a beginner of Opensearch, so please correct me if I am wron

[2022-01-22 20:33] peterzhuamazon commented on #198
We have some changes between 1.2.1 to 1.2.3 to introduce some variable in env to disable security plugin.
They are using inline modification of sed.
https://github.com/opensearch-project/opensearch-build/blob/opensearch-1.2.3/docker/release/config/opensearch/opensearch-docker-entrypoint.sh#L67-L74
https://github.com/opensearch-project/opensearch-build/tree/opensearch-1.2.3/docker/release#disable-s

[2022-01-22 21:03] deng47 commented on #198
@peterzhuamazon Thank you for your quick reply.
[code]
In the stateful set, it's the config dir is mounted with 420 permission. Can I change that in values.yaml? If not, sounds like upgrading to 1.2.4 is the best option
[code]

[2022-01-22 23:46] peterzhuamazon commented on #198
Is there any chance for you to check out 1.2.4 just to see if it runs?
1.2.3 has shown an issue in https://github.com/opensearch-project/OpenSearch/issues/768#issuecomment-968140380 that mounts in docker prevents new inode to be created, which is exactly what 1.2.4 fix is addressing.

And I am quite confused why `opensearch.yml` and `cert.pem` in your docker is having root user but opensearch grou

[2022-01-23 00:11] deng47 commented on #198
I did a `helm upgrade` with `1.2.4` in Chart.yaml, and also tried changing the `defaultMode` for configMap and secret to 0600 or 0660 by doing `kubectl edit -n test statefulset.apps/opensearch-cluster-master`. But non of these help. I will try creating a new 1.2.4 cluster
[code]

[2022-01-23 00:24] deng47 commented on #198
I created a 1.2.4 cluster(appVersion: 1.2.4;Chart version: 1.5.4) from scratch, then updated the content of `opensearch.yml` in `values.yaml`, did a `helm upgrade` with the new `values.yaml` and hit the same permission issue.
[code]

[2022-01-23 00:25] peterzhuamazon commented on #198
Is there a way you can cat the content of opensearch after the failure of sed?

I have seen tee failure like this: https://github.com/opensearch-project/opensearch-build/issues/1529

But never see a sed failure in 1.2.4.

Please try to create a 1.2.4 and let me know the results.
I will have an env of k8s next week when I am back to office to test out the upgrade scenario.

Thanks.

[2022-01-23 00:28] peterzhuamazon commented on #198
Oops, you post it right when I was typing.

Can you let me know if you can start a normal cluster with 1.2.4 follow this guide without mounting any specific devices?
https://opensearch.org/docs/latest/opensearch/install/helm/#install-opensearch-using-helm

I was testing on kind and minikube but never seen any issues like in your case.

[2022-01-23 00:35] peterzhuamazon commented on #198
Are you using a specific user to run the deployment?
I think the issue is it defaults to 1000 user, but since the file is owned by 0, it has permission denied issue after all.

I suspect the folder is changed the perm to 660 but the file still own by 0:1000, with 644 perm, thus prevent modifying.

[2022-01-23 00:37] peterzhuamazon commented on #198
I think we need to figure out why the file is changed to 0 user on the 1st place, I just verified on my side it is 1000 user on my side.
[code]

[code]

[2022-01-23 00:40] peterzhuamazon commented on #198
`cert.pem` is not a part of the demo certs.
What is your setting to create your own cert?
I think if the file is not exist and you are asking docker to create it, then the default to root here:
https://github.com/moby/moby/issues/3206

[2022-01-23 00:47] deng47 commented on #198
I created `cert.pem` by adding the content below in values.yaml. It's used for the ssl communication with LDAP
[code]
I think you are right. If I can get the permission of those two files right, I should be able to fix it

[2022-01-23 21:20] UXabre opened #202 "[BUG][OpenSearch] Service Account during creation differs from consumed in statefulset"
**Describe the bug**
As it seems to be possible to create and attach a serviceacount (using rbac.create and rbac.serviceAccountName), I noticed that the created service account does follow the name set in serviceAccountName; but when it is consumed in the statefulset it takes the value from opensearch.uname which is not consistent with the expectation.

**To Reproduce**
Steps to reproduce the beha

[2022-01-23 23:58] deng47 commented on #198
Tried `securityadmin.sh` in the new master pod
[code]

[2022-01-24 21:02] peterzhuamazon opened #205 "[CI] Need automate version bump PR to be opened once OpenSearch/Dashboards release new versions"
As of now, we are relying on human efforts to bump OS/OSD versions once there is a new release.
This could delay the release on these platforms and could add to human errors.
We need a github action to automatically open a PR after detecting the new releases.

[2022-01-24 21:24] rparini opened #206 "[BUG][Opensearch] Unable to set `imagePullPolicy` for "opensearch" container"
**Describe the bug**
The value in the Helm values.yaml is `image.pullPolicy` but the value in the template is `image.PullPolicy` so the generated yaml for the opensearch statefulset will always have `imagePullPolicy: ""` no matter the value of `image.pullPolicy` that the user specifies.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `helm template charts/opensearch`
2. The templated YAM

[2022-01-24 22:48] bkomraz1 opened #207 "[BUG][opensearch] default files are disappear from securityConfig folder after mount of custom security file"
**Describe the bug**
Mount of at least one securityConfig files hides all other default files from securityConfig folder

**To Reproduce**
1. `helm install opensearch ./opensearch`

2. `kubectl exec -it opensearch-0 -- ls -l /usr/share/opensearch/plugins/opensearch-security/securityconfig`
Defaulted container "opensearch" out of: opensearch, fsgroup-volume (init), keystore (init)
total 64
-rw-r--r

[2022-01-25 20:49] #206 closed

[2022-01-28 12:32] skeggr opened #208 "[BUG][opensearch] log4j2 configuration error"
**Describe the bug**
Possibly it's not a bug, but if you enable trace logging for openid issues debugging as described here: https://opensearch.org/docs/latest/troubleshoot/openid-connect/#set-log-level-to-debug - opensearch cannot start

**To Reproduce**
1. Add helm repo
2. Add logger.plugins.security* lines to log4j2 configuration section of values file:
[code]
3. Try to install chart
Install fa

[2022-01-28 18:59] pgier commented on #161
@life-learner1 I ran into the same error as you when I set DISABLE_INSTALL_DEMO_CONFIG="true".
And if I set it to false, then the admin:admin password still works, and the one I set seems to be ignored.

[2022-01-28 21:09] JunaidChaudry opened #210 "[Security Config Mount on providing securityConfigSecret][OpenSearch]"
**Describe the bug**
The security-config-complete was not mounting when an external secret was passed using `Values.securityConfig.config.securityConfigSecret`.
According to the docs, a user should be able to pass in a pre-created secret under Values.securityConfig.config.securityConfigSecret, which can be used to provide securityConfig config files. However, a bug in the statefulset.yaml was skip

[2022-02-02 20:25] TheAlgo commented on #205
I am still of the opinion to have release branches for charts 😄

The maintainers can branch out from `main` and have releases enabled only on branches apart from `main`.

I

[2022-02-03 00:54] #202 closed

[2022-02-03 14:16] erSitzt opened #211 "[BUG][opensearch] trying to disable security config / docker-entrypoint incompatible with helm chart"
Using the current chart version 1.7.3

What is the correct way to disable the security plugin ?

If using
[code]
as stated in the README i get this
[code]

Which seems correct as that is a mounted ConfigMap ? Is this intended ?

If i set DISABLE_SECURITY_PLUGIN too  it still wont work...

[2022-02-04 13:49] malcolm061990 commented on #156
Hi guys.
I deployed opensearch-dashboards-1.2.0 helm chart in EKS. It successfully connects to AWS Managed OpenSearch.
Here is a piece of yaml file (all other values are default):
[code]

[2022-02-08 09:11] vijay2308 commented on #135
i have facing same issue , @66545shiwo  or @TheAlgo can you please let me know how to fix this error ?

i am getting this exception:

`org.opensearch.bootstrap.StartupException: java.lang.IllegalArgumentException: unknown secure setting [esnode.pem] please check that any required plugins are installed, or check the breaking changes documentation for removed settings`

i have rootca, esnode cert an

[2022-02-08 09:43] 66545shiwo commented on #135
@vijay2308 opensearch CHART VERSION 1.4.0 maybe have this problem ， i solved this by updating chart version to 1.4.3

[2022-02-08 09:46] vijay2308 commented on #135
currently, the chart version is `1.7.4` i dont know to which chart version i should go to!

[2022-02-08 10:32] TheAlgo commented on #135
Are you using the latest version of the chart?

[2022-02-08 11:12] vijay2308 commented on #135
i am usinbg chart version `1.7.1`

[2022-02-11 00:00] #156 closed

[2022-02-11 07:15] sastorsl commented on #173
Did the team get a chance to look into this?

[2022-02-11 16:22] JunaidChaudry opened #215 "[Enhancement] Opensearch and Dashboard Helm Charts support extra k8s Manifests"
Opensearch and Dashboard Helm Charts support extra k8s Manifests

### Description
Providing a new addition, like many other opensource helm charts (e.g. [grafana](https://github.com/grafana/helm-charts/blob/main/charts/grafana/templates/extra-manifests.yaml), prometheus, argo-cd), to support extra k8s manifests using the values files.
This allows the end user to add any additional files needed to

[2022-02-15 19:49] pgier opened #217 "[BUG] opensearch-dashboards helm install fails with 1.2.1"
**Describe the bug**
Not able to install opensearch-dashboards using 1.2.1 version of helm chart.  My values file works fine with 1.2.0 and earlier.

[code]

**To Reproduce**
Minimal values file (based on the default values) which reproduces the issue:
[code]

**Chart Name**
opensearch-dashboards

**Host/Environment (please complete the following information):**
 - Helm Version: 3.x
 - Kubernetes

[2022-02-15 19:57] pgier commented on #217
This seems to be caused by the recent PR #214 which expects opensearch_dashboards.yml to be configured as a string, and not as yaml.  This is a breaking change, and probably should have at least a minor version increment.
The example default values file should also be updated to reflect the change in behavior.

[2022-02-16 09:10] vliska commented on #217
Hi. Was this change even necessary? Even default config documentation states that you should use map and our config used to work fine prior 1.2.1. This is really breaking change (and caused us some headache) - shouldn't be just patch version.

`  config:
    opensearch_dashboards.yml:
      server.host: "0"
      server.basePath: /opensearch-dashboards
      server.rewriteBasePath: true
      serv

[2022-02-16 09:56] TheAlgo commented on #217
@pgier @vliska This was done I guess to be in uniformity with OpenSearch charts. A minor version increment was a miss here it seems.

[2022-02-20 16:54] #207 closed

[2022-02-20 17:00] peterzhuamazon commented on #199
@DandyDeveloper @TheAlgo any thoughts?

@trondhindenes could you describe what you want to do with the image?
Thanks.

[2022-02-20 17:01] peterzhuamazon commented on #198
Close this for now as we have rereleased new 1.2.4 image.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:01] #198 closed

[2022-02-20 17:04] peterzhuamazon commented on #161
Close this for now as it seems to be resolved by community.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:04] #161 closed

[2022-02-20 17:05] peterzhuamazon commented on #208
Hi @skeggr is this still an issue now?
Thanks.

[2022-02-20 17:06] peterzhuamazon commented on #210
Fixed in #209

[2022-02-20 17:06] #210 closed

[2022-02-20 17:07] peterzhuamazon commented on #211
Close this for now as we have re-released 1.2.4 to resolve this particular issue.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:07] #211 closed

[2022-02-20 17:09] peterzhuamazon commented on #217
We have bumped the current version to 1.8.0 for now.
Sorry for confusing.
If there still any issues with you using the new way to deploy @pgier ?

Thanks.

[2022-02-20 17:09] peterzhuamazon commented on #166
Close this for now as it should be resolved by the new re-release of 1.2.4.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:09] #166 closed

[2022-02-20 17:10] peterzhuamazon commented on #169
Fixed in #195

[2022-02-20 17:10] #169 closed

[2022-02-20 17:11] peterzhuamazon commented on #140
Close this for now as OpenSearch helm and guidelines has been released for months.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:11] #140 closed

[2022-02-20 17:12] peterzhuamazon commented on #12
We have 2 charts right now in the repo, should be enough example for now.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:12] #12 closed

[2022-02-20 17:13] peterzhuamazon commented on #11
Issue too old, if we see similar later we will create new issues.

[2022-02-20 17:13] #11 closed

[2022-02-20 17:14] peterzhuamazon commented on #54
Close this for now as it seems to be resolved by community.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:14] #54 closed

[2022-02-20 17:15] peterzhuamazon commented on #59
Close this for now as it has no responses for months.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:15] #59 closed

[2022-02-20 17:16] peterzhuamazon commented on #79
We have resolved this by adding community guidelines.
#169

[2022-02-20 17:16] #79 closed

[2022-02-20 17:16] peterzhuamazon commented on #87
Close this for now as it seems to be resolved by community.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:16] #87 closed

[2022-02-20 17:17] peterzhuamazon commented on #89
Security can be disabled right here:
https://github.com/opensearch-project/opensearch-build/blob/main/docker/release/README.md

[2022-02-20 17:17] #89 closed

[2022-02-20 17:17] #88 closed

[2022-02-20 17:18] peterzhuamazon commented on #119
Close this for now as it has no responses for a while.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:18] #119 closed

[2022-02-20 17:19] peterzhuamazon commented on #108
Close this for now as it seems to be resolved by #70.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:19] #108 closed

[2022-02-20 17:19] peterzhuamazon commented on #111
@Sebor is this still an issue right now?
Thanks.

[2022-02-20 17:20] peterzhuamazon commented on #115
Close this for now as it seems to be resolved by community.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:20] #115 closed

[2022-02-20 17:21] peterzhuamazon commented on #125
Close this for now as it seems to be resolved by community.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:21] #125 closed

[2022-02-20 17:22] peterzhuamazon commented on #111
Seems like deprecated:
https://github.com/opensearch-project/helm-charts/issues/141

[2022-02-20 17:23] peterzhuamazon commented on #141
Hi @sastorsl is there any actions related to this for now?
Thanks.

[2022-02-20 17:23] peterzhuamazon commented on #167
@TheAlgo Any updates?
Thanks.

[2022-02-20 17:24] peterzhuamazon commented on #180
Close this for now as there is no response for some time.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:24] #180 closed

[2022-02-20 17:24] peterzhuamazon commented on #181
Close this for now as it there is no response for some time.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:24] #181 closed

[2022-02-20 17:25] peterzhuamazon commented on #213
@DandyDeveloper @TheAlgo any thoughts?
Thanks.

[2022-02-20 17:25] peterzhuamazon commented on #191
Poke again @DandyDeveloper @TheAlgo

[2022-02-20 17:26] peterzhuamazon commented on #192
Poke again @DandyDeveloper @TheAlgo

[2022-02-20 17:26] peterzhuamazon commented on #193
Close this for now as it seems to be resolved by community.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:26] #193 closed

[2022-02-20 17:27] peterzhuamazon commented on #196
Close this for now as we have re-released 1.2.4 docker image.
Please feel free to re-open if you still have questions.

Thanks.

[2022-02-20 17:27] #196 closed

[2022-02-20 17:43] trondhindenes commented on #199
Hi, I tried to make this work with the built-in helm chart vars but couldn't make it works. So instead we do:
[code]

And then in the entrypoint script we do:
[code]

As far as I can remember, we want to retain opensearch's "demo" mode so that self-generated certs are used - we don't want to generate those ourself, but still inject a custom config, which among others disable ssl over http outside

[2022-02-20 18:48] acjohnson commented on #87
It would be nice if the init container method in this issue could become an official part of this helm chart and could be toggled with a bool value.

[2022-02-20 19:15] peterzhuamazon commented on #87
Hi @acjohnson feel free to contribute the changes if you are available for that :)
We welcome community contributions to help improve helm charts every day.

Thanks.

[2022-02-21 02:11] pgier commented on #217
@peterzhuamazon This issue is specific to the dashboard, so I think it needs an upgrade to 1.3.0?  Although, I think it's only helpful to release a 1.3.0 if you also release a 1.2.2 with the breaking change reverted.

[2022-02-21 08:20] theanotherwise opened #220 "[Enhancement][opensearch] securityConfig.config.data with subPath"
**Is your feature request related to a problem? Please describe.**
Volume with config map `securityConfig.config.data` is mounted without subPaths

**Describe the solution you'd like**
https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/templates/statefulset.yaml#L369

Add subPath to mount only specified files instead of the whole volume with config map.

**Additional con

[2022-02-22 11:57] smlx commented on #220
I think this feature was just added in this PR?
https://github.com/opensearch-project/helm-charts/pull/200

[2022-02-22 17:45] mkhpalm opened #222 "[Enhancement][opensearch] Add support for pod topology spread constraints"
**Is your feature request related to a problem? Please describe.**

Pod anti-affinity only provides a rough idea of spread within different zones or failure domains. Kubernetes has promoted a much more rigid, direct, and repeatable method to beta in k8s 1.19 that controls how a statefulset spreads out among topologies.

**Describe the solution you'd like**

Add support for topologySpreadConstraint

[2022-02-22 22:04] theanotherwise commented on #220
haha, 2 days ago, perfect! thanks :D

[2022-02-22 22:05] #220 closed

[2022-02-23 02:10] mkhpalm opened #223 "[Enhancement][opensearch] Add global support for common values"
**Is your feature request related to a problem? Please describe.**

Add support for some values being read from the global context.

**Describe the solution you'd like**

I think the role based reusable chart that currently exists is a good approach for opensearch. But if that chart was able to read common (to the cluster) values from `global` then an umbrella chart could be made to stand up an en

[2022-02-23 03:01] labaq commented on #45
have any plan on this request?

[2022-02-23 15:52] lindeberg25 commented on #192
Hello ... any solution to this problem? I am facing the same issue

[2022-02-23 18:29] sdwerwed opened #224 "[Enhancement]opensearch.yml permission denied during startup"
Chart version: 1.0.5
Image version: 1.2.4

Permission error for opensearch.yml because user is root (with read write), group is opensearch (with read)

To fix this I had to:
1. apply the helm chart
1. Change the spec of statefulset

from:
[code]
to:
[code]
3. wait the rollout restart

Request:
Add in values.yml option to set the mode

[2022-02-24 03:16] DandyDeveloper commented on #191
@peterzhuamazon Let me have a look round, I thought this got fixed in a PR somewhere.

[2022-02-24 03:17] DandyDeveloper commented on #199
There should be no reason to limit people changing the image themselves. This 100% should be resolved. I'll try and assign this to me to do, I've been very hard to give time to the project this past few weeks. I will do my best.

[2022-02-24 03:18] DandyDeveloper commented on #87
I'm indifferent about adding it. If there is an overwhelming (somewhat) need for it. It should be done. Community driver after all

[2022-02-24 03:20] DandyDeveloper commented on #192
Workaround at present is to add your own role, this is a bug. It needs resolving.

[2022-02-24 09:13] swapnilsvaidya opened #225 "Helm upgrade for opensearch chart does not disable shard reallocation before starting upgrade"
**Describe the bug**
While upgrading OpenSearch version using helm upgrade command, it is observed that shard allocation is not disabled before starting upgrade and enabled again after completing upgrade.

**To Reproduce**
Deploy any version of OpenSearch using helm chart and upgrade the same using helm upgrade command.

**Expected behavior**
As mentioned in opensearch docs https://opensearch.org/

[2022-02-24 14:30] skeggr commented on #208
Hi, it's not an issue for me anymore, because I've already found why OpenID auth was not working. But for someone this trace logs could be useful.

[2022-02-24 15:51] drewmarshburn opened #226 "masterTerminationFix Syntax Bug"
**Describe the bug**
Small chart syntax bug in the Opensearch chart StatefulSet when `masterTerminationFix` is set.

**To Reproduce**

values.yaml
[code]

` helm template --debug --dry-run . -f values.yaml`
[code]

**Expected behavior**
`StatefulSet` should render properly and include the `opensearch-master-graceful-termination-handler` sidecar.

**Chart Name**
`opensearch`

**Screenshots**
N/A

*

[2022-03-01 14:13] sevenval-admins opened #228 "[LDAP Connection timed out][opensearch/opensearch-dashboard]"
**Describe the bug**
Hello everyone, I have installed the two charts and configured opensearch in order to login via my LDAP-Server. The problem is that the authentication fails randomly (incorrect username or password).
It can happen that I can log in straight away, or that I have to try 5, 6, 10 times and refresh the page before I can.
Here are the logs:

[code]
Did anyone of you already seen th

[2022-03-01 20:19] #226 closed

[2022-03-01 20:34] #215 closed

[2022-03-02 12:17] sevenval-admins commented on #228
Here is my LDAP-Config:

[code]

[2022-03-04 04:40] Aadis-repo commented on #196
I also have the same issue, i am installing opensearch using helm which i have used inside terraform. The opensearch pod keeps getting completed --> restarting --> crashloopbackoff .
![opensearch plan](https://user-images.githubusercontent.com/43349716/156700464-3b7814f8-4d0b-496e-95b7-5998fefb2104.jpg)

I have attached my terraform plan for opensearch where some of the details are mentioned. I al

[2022-03-04 04:50] Aadis-repo commented on #196
I also checked with docker and its working fine with docker. Only with helm it is giving this issue

[2022-03-04 21:45] JunaidChaudry commented on #217
@pgier  I agree, the example values need to be updated to show the change as well... It took me an hour to figure out what changed from the last version that broke the configmap

[2022-03-07 13:25] GaneshbabuRamamoorthy commented on #119
@stockholmux @peterzhuamazon

I am still facing this issue in my IPv6 k8s cluster where I am unable to bring up the opensearch cluster.

Below is the logs details I am seeing in pods,

**opensearch-cluster-master-0**

[code]

**opensearch-cluster-master-1**

[code]

**opensearch-cluster-master-2**

[code]

Can you please help me to resolve this issue?

Thanks,
Ganeshbabu R

[2022-03-08 20:30] peterzhuamazon commented on #208
Close the issue as it has been resolved by community member.
Feel free to open if needed.
You can always find this issue in closed tab.

Thanks.

[2022-03-08 20:30] #208 closed

[2022-03-08 20:32] peterzhuamazon commented on #223
Thanks @mkhpalm for the suggestion, is this a feature you can help contribute?
Thanks.

[2022-03-08 20:34] peterzhuamazon commented on #224
This @sdwerwed for the suggestion, is it possible that you can help contribute this feature to the charts?
Thanks.

[2022-03-08 20:35] peterzhuamazon commented on #225
Hi @swapnilsvaidya do you have any workaround or perma fix to this issue per your experience?
Thanks.

cc: @DandyDeveloper @TheAlgo

[2022-03-08 20:36] peterzhuamazon commented on #228
I havent seen this issue before but I also have not tried to connect via ldap.
cc: @DandyDeveloper @TheAlgo to see if they have seen this before.

Thanks.

[2022-03-08 21:04] sdwerwed commented on #224
Hello, I could contribute that but it will not be very soon, if anyone else from community can implement that feel free to proceed.

[2022-03-09 09:14] TheAlgo commented on #228
Same here I have not tried connecting with LDAP either, need to try this out in order to reproduce this issue

[2022-03-09 09:22] DandyDeveloper commented on #228
I've used OIDC which isn't too different configuration wise but this isn't chart related. Definitely more an Opensearch Dashboard issue, most likely the configuration.

@sevenval-admins Can you provide the full context of the log on Dashboards when you do this?

[2022-03-10 04:09] GaneshbabuRamamoorthy opened #229 "Opensearch helm charts is not working in IPv6 K8s cluster"
Hi All,

https://github.com/opensearch-project/helm-charts/issues/119
I tried deploying opensearch helm chart in my IPv6 k8s cluster and I am getting the below responses in pod logs and I was able to see the cluster health status.

[code]

This is my k8s nodes details where its working fine and without any issues

[code]

and when I tested the same in other k8s environment with IPv6 cluster I am g

[2022-03-10 08:09] sevenval-admins commented on #228
Thanks to everybody for the answers.
I have solved the problem by using global-catalog port in LDAP-config, namely 3269 for TLS and 3268 without.

[2022-03-10 08:09] #228 closed

[2022-03-15 09:47] SmartGuyy commented on #115
Hi, i'm reopening this issue as all suggestions to solve this issue did not succeed for me.

I used the scripts : https://opensearch.org/docs/latest/security-plugin/configuration/generate-certificates/#sample-script to generate my certs and import them in a secret.

I have a config that is working without certs, but for security reasons, i need it so it can go to production.

Here is what i tried

[2022-03-16 15:35] prudhvigodithi opened #230 "[BUG][Chart Name] Helm chart opensearch-dashboards autoscaling field."
**Describe the bug**
Current Helm chart opensearch-dashboards has autoscaling field, that does nothing with scaling of dashboard pods based on target cpu, need to add the HPA yaml file to configure the autoscaling for dashboard pods

**To Reproduce**
Steps to reproduce the behavior:
Sample helm install command
` helm install opensearch-dashboard -n os -f ./opensearch-dashboards/values.yaml ./opens

[2022-03-17 12:20] JWebDev opened #233 "[BUG][Opensearch does not start with default helm configuration.]"
**Description**
`helm install opensearch opensearch/opensearch -n opensearch -f defaultvalues.yaml`
I do as the instructions say.
I tried both with the default tag and with 1.2.3 and 1.2.4

I don't want https so I disabled it.

_defaultvalues.yaml_
[code]

**Error:**
[code]

If i starts default installation without changes, the same errors comes:
`helm install opensearch opensearch/opensearch -n o

[2022-03-17 12:30] TheAlgo commented on #233
What is the k8s setup you are using?

[2022-03-17 12:42] JWebDev commented on #233
[code]

`Kubernetes: v1.21.5`

[code]

[2022-03-17 12:47] JWebDev commented on #233
If i completly disable security plugin then it starts.
`plugins.security.disabled=true`

But I want to disable ssl only. And leave the possibility of login. In docker, I can start opensearch with these parameters without any problems.

[code]

[2022-03-17 20:38] TheAlgo commented on #233
I meant the cluster configurations.🙂

[2022-03-17 20:40] TheAlgo commented on #233
The yaml you shared is not the same as this configurations right?

[2022-03-18 15:04] JWebDev commented on #233
Thanks for the answer.
Nope.

Just try this config with default settings:
`helm install opensearch opensearch/opensearch -n opensearch -f defaultvalues.yaml`

[code]

[2022-03-19 16:57] JWebDev opened #235 "[BUG] Opensearch 1.3.0 does not start with default helm configuration."
Hello, this is my other ticket.
Please make a working helm release.
Release 1.3.0 does not start with default settings. Just try it to start

I install a release with this configuration. Nothing more!
`helm install opensearch opensearch/opensearch -n opensearch -f values.yaml`

**values.yaml**
[code]
It won't start because.
[code]
If you look in the values.yaml, then:
https://github.com/opensearch

[2022-03-19 17:19] TheAlgo commented on #235
@JWebDev I just tried on my local with the default values and things are working. Do you mind sharing the logs and please check if your RAM >=4GB. Thanks

[2022-03-19 17:26] TheAlgo commented on #233
Looks like you are adding it in `extraEnvs`, any reason for it. Why not in config itself we have a placeholder for SSL plugin already present in the default `values.yaml`

[code]

Link : https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/values.yaml#L68

[2022-03-19 17:51] JWebDev commented on #235
My RAM:
![image](https://user-images.githubusercontent.com/1653372/159132512-68f13505-8bd8-4861-8350-531002edbe03.png)

I set Ram in **values.yaml** too
[code]

Log:
[code]

@TheAlgo The same error.

[2022-03-19 17:54] TheAlgo commented on #235
@JWebDev Is that your K8s cluster RAM? Also from the logs looks like you need some more space as well
[code]

Are you using docker-desktop or some Cloud Cluster?

[2022-03-19 18:35] JWebDev commented on #235
@TheAlgo

Yes.

I have Rancher with Kubernetes: v1.21.5. Bare Metal.

No, this is not a problem, earlier I determined 200GB for this installation. Everything was fine.

![image](https://user-images.githubusercontent.com/1653372/159134088-9f81155e-47d2-46c1-9290-f8076bfb55eb.png)

![image](https://user-images.githubusercontent.com/1653372/159134099-4171d89d-f781-4dfa-9373-b6261045ad54.png)

[2022-03-19 19:12] TheAlgo commented on #235
Do you mind trying without overriding any default values and just do a `helm install opensearch opensearch/opensearch`. Looks like some configs are not getting picked up correctly. I will not be near my laptop anymore as it is a weekend(Sorry for that). You can try above once.

[2022-03-19 19:15] JWebDev commented on #233
@TheAlgo
I tried with envs and without

[code]

The same error.
[code]

[2022-03-19 19:22] JWebDev commented on #235
`helm install opensearch opensearch/opensearch -n opensearch`

I deleted volumes too.

Error Log:
[code]

[2022-03-20 04:52] TheAlgo commented on #235
If I add a variable to values.yaml:

The variable is present [here](https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/values.yaml#L413), looks like you missed this. Your vm.max_map_count is running low because of this. Same with the other issue #233

[2022-03-20 05:43] gbates101 commented on #235
OpenSearch requires this configuration to be made on the host: https://opensearch.org/docs/latest/opensearch/install/important-settings/.

It's unfortunate that this has blocked you for a week, but I really don't see how it's incumbent on the helm chart to configure the host OS for you. Since you're running bare-metal, presumably you're running on a fixed number of  nodes with a custom image, or h

[2022-03-20 11:01] JWebDev commented on #235
@TheAlgo
So, working version.

@gbates101 - thanks for the idea.

[code]
********************
If you just set sysctl to true, then an initialization error occurs because there is no access to change this variable. It doesn't work, no rights to change with default configuration. Please configure this correctly.
[code]
********************
The second part DISABLE_INSTALL_DEMO_CONFIG. Does not work.

[2022-03-20 11:13] TheAlgo commented on #235
@JWebDev Good that you got it running but this is something to do with your cluster configurations and as @gbates101 said this is not something the chart can configure. It depends on the user of the chart whether they want to provide the privilege or not. Also when I say it works locally it means the version of the chart is working for default configurations and it does not necessarily mean that i

[2022-03-20 13:49] JWebDev commented on #235
@TheAlgo Thanks for the answer.
In addition internal_users.yml does not affects/not works.

[code]
The file is present, but the password remains the default admin:admin. Of course, there are no hashes here, I removed them. This proves once again that this is again a problem with the default installation. Yes, there is an example, but it is not working. Perhaps some options overlap each other. Ther

[2022-03-20 15:52] JWebDev commented on #235
@TheAlgo
"securityConfig" It is totally unclear how it works. Please write more documentation!

If i clone internal-users secret and write
[code]

This is not working:
[code]

I get the error:
[code]

[2022-03-20 17:07] JWebDev commented on #235
@TheAlgo
Another incomprehensible moment.
I finally changed the admin password. But after start opensearch-dashboards can't connect to opensearch.
Only works if the default password is admin:admin.

I looked at the chart, and so I suspect that it is possible to specify the name of the secret here?
https://github.com/opensearch-project/helm-charts/blob/bc015190aa54a0bdb11738ae10ccfbba055820a0/chart

[2022-03-21 13:18] JWebDev opened #236 "[BUG][opensearch-dashboards:1.3.0] - security-dashboards-plugin not visible in UI."
Hi, next bug.
Installed opensearch-dashboards with helm, but on UI Security button does not exists.
security-dashboards-plugin is in list of visible plugins.
Default user: admin:admin

![image](https://user-images.githubusercontent.com/1653372/159268683-5ff34f0b-dad6-4fe6-b57a-1daefe35263d.png)

UI:
![image](https://user-images.githubusercontent.com/1653372/159268792-9cf5d204-1b66-400b-9212-eeb606

[2022-03-21 13:58] JWebDev commented on #236
Solved.
Forgeot config
[code]

[2022-03-21 13:58] #236 closed

[2022-03-21 14:06] smlx commented on #235
Yes. This is because once you initialise the `.opendistro_security` index the config files are ignored unless you force overwriting the existing index via `securityadmin.sh`. This is documented [here](https://opensearch.org/docs/latest/security-plugin/configuration/security-admin/#a-word-of-caution)

There is plenty of documentation on https://opensearch.org/docs. I'd strongly suggest reading _all

[2022-03-21 23:06] Hongbo-Miao opened #237 "[BUG][opensearch-dashboards] annotations causing ingress connection ECONNREFUSED"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
When I deploy OpenSearch Dashboards by updating
https://github.com/opensearch-project/helm-charts/blob/bc015190aa54a0bdb11738ae10ccfbba055820a0/charts/opensearch-dashboards/values.yaml#L119-L138
to something like
[code]
the deployment succeed, however ingress still not working.

**Expected behavior**
Ingress

[2022-03-22 03:23] DandyDeveloper commented on #115
@SmartGuyy @pettax For my sake, can you provide the certificates you generated to save me some time? I'll experiment and try to provide a solid values for this.

[2022-03-22 08:15] pettax commented on #115
The certs I am trying to use for this attempt are generated by [cert-manager](https://cert-manager.io/docs/) and the YAML-files used for this are basically a carbon copy of what is in this [blog](https://eliatra.com/blog/opensearch-with-cert-manager-part-2-self-signed-ca/). The problem does not seem to be the certificates though but the ownership and/or permissions set on the files when mounting t

[2022-03-22 09:38] pettax commented on #115
With the help of a good set of eyes, I found that I have configured the key file to be called `key.crt` but the file was actually called `tls.key`. With that corrected and with the init container above it actually works now!

[2022-03-22 17:02] smlx commented on #235
As per the error message, you need to specify the Admin certificates. You can see the usage if you read the documentation links I provided.

Opensearch is a quite complex distributed system, and this helm chart is used to run it on top of Kubernetes - another complex distributed system. You really do need to actually read _all_ the documentation carefully and in full.

[2022-03-22 17:06] smlx commented on #235
To clarify, there are several sets of TLS certificates as described [here](https://opensearch.org/docs/latest/security-plugin/configuration/tls/).

[2022-03-22 18:03] JWebDev commented on #235
I understood the error, I just did not understand that I need to specify certificates, even if I have ssl disabled.

I  am working with Kubernetes about 5 years now and have an idea of how complex it is.

But this is the first chart with which I have been suffering for several days.

In the end. Did as you said. Here is the result.

[code]

Here the working solution:
1. Delete the .opendistro_secu

[2022-03-23 00:01] #237 closed

[2022-03-23 01:17] smlx commented on #235
Glad you got it working :slightly_smiling_face:

[2022-03-23 07:11] swapnilsvaidya commented on #225
only workaround I can see is to trigger disabling shard re allocation manually before triggering rolling upgrade

[2022-03-25 13:52] SmartGuyy commented on #115
@pettax at the end i did use the same tutorial for cert-manager than you and had to struggle a lot to find the logic behind with all resources that i found on Google. Now i think it seems to load correctly. Once i will have everything set up, i will post a sample of working configuration for people that will come behind us with the same issue... i nearly worked on this problem for about 1-2 weeks,

[2022-03-25 14:08] TheAlgo commented on #235
@JWebDev Any other issues you are facing?

[2022-03-25 14:09] TheAlgo commented on #233
Closing in favour of #235

[2022-03-25 14:09] #233 closed

[2022-03-25 16:38] Pale-whale opened #239 "[Enhancement][opensearch] add selector to volumeClaimTemplates"
**Is your feature request related to a problem? Please describe.**
We have many statically provided PV and we'd love to be able to pin the pvc created for the os to some of our pv

**Describe the solution you'd like**
Adding a selector field in the `volumeClaimTemplates` section

[2022-03-26 07:47] JWebDev commented on #235
@TheAlgo nope.

[2022-03-28 06:12] nitinjagjivan commented on #196
I have same issue. Log says-
ERROR: [1] bootstrap checks failed
[1]: **max virtual memory areas vm.max_map_count [65530] is too low, increase to at least [262144]**
ERROR: OpenSearch did not exit normally - check the logs at /usr/share/opensearch/logs/opensearch-cluster.log

Tried sudo sysctl -w vm.max_map_count=262144 but no luck.

[2022-03-28 12:59] #230 closed

[2022-03-29 09:21] KannappanSomu opened #241 "Deploying opensearch - seperate hot/warm/master nodes"
Hi,

I m trying to install this opensearch chart, but i did not find how to install seperate master/hot/warm nodes with their respective roles master/ingest in the documentation.

Is this something already available , or it has to be developed ?

[2022-03-29 17:02] TheAlgo commented on #235
@JWebDev Thanks for confirming

[2022-03-29 17:02] #235 closed

[2022-03-29 20:20] ayhamk commented on #156
@malcolm061990 I was wondering if you could share your yaml file with us? I'm getting an error after I deploy dashboard.

[2022-03-29 21:39] malcolm061990 commented on #156
Unfortunately I don't have full yaml now but as I mentioned [above ](https://github.com/opensearch-project/helm-charts/issues/156#issuecomment-1030001843)I used default yaml with only specified changes

[2022-03-30 19:33] michaelharrer commented on #6
Are there any updates regarding this chart?
@sastorsl is there some documentation about the bitnami solution? A "curated" chart would be really, really helpful.

[2022-03-31 09:20] rebbuh commented on #6
I would also really like to have an "official" chart which gets maintained.

[2022-04-01 15:05] Firdaus1 opened #243 "Opensearch Helm -- Cluster Formation Example Code ?"
Hi Opensearch community,

I can't seem to find an example helm chart for opensearch that includes cluster formation -- i.e. has examples of a data-statefuleset.yml and master-statefulset.yml along with discovery services for it.

I know the default opendistro helm chart includes a cluster formation.  Does someone know a place where this example resides?

appreciate your help!
Firdaus

[2022-04-01 21:26] TheAlgo commented on #243
Hi @Firdaus1

Not sure if I understood the question correctly but here in this helm chart if you wish to install a multi node cluster each having different roles you can just change the `values.yaml` file accordingly and install it. This chart has a different structure and offers more control at a granular level.

This [blog](https://opensearch.org/blog/technical-posts/2021/11/setup-multinode-clus

[2022-04-04 12:48] SmartGuyy commented on #115
As promised, here is a sample of configuration that is working for us (you must already have certificate issuer for letsencrypt-prod with cert-manager) :

certificates.yaml
`apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: tls-for-opensearch
  namespace: opensearch
spec:
  secretName: tls-for-opensearch
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
    group: ce

[2022-04-04 16:52] prudhvigodithi commented on #239
Hey @Pale-whale, after diving deep, I have not seen any `matchLabels` for a statefulset `volumeClaimTemplates `, its actually a feature for the PVC.

The actual way to do for statefulset is
[code]

Also for your requirement I dont see any direct way to do this via statefulset.

One way you can do this is:
You can work out the names of the automatically generated PersistentVolumeClaims and then cre

[2022-04-04 16:59] peternied commented on #239
@prudhvigodithi I'm not sure you meant to tag me, I do not think I can offer much help with this discussion.  Good luck!

[2022-04-04 17:01] prudhvigodithi commented on #239
Lol sry @peternied its @Pale-whale :)

[2022-04-04 20:50] KannappanSomu commented on #243
But still , the chart doesnt have below property for ISM to work according to node type (hot/warm)?
or am i missing something ?

[code]

[2022-04-04 21:27] KannappanSomu commented on #243
These parameters should be written under config section : opensearch.yml ? like this ?

[code]

[2022-04-04 21:42] KannappanSomu commented on #243
Yes , it works with above custom values.

Confirmed with cat node attributes API. I think we can close this issue.

[code]

[2022-04-04 21:43] KannappanSomu commented on #241
duplicate issue.

this is explained by author in #243

[2022-04-04 21:43] #241 closed

[2022-04-05 05:06] Firdaus1 commented on #243
@TheAlgo yes, that's what I was looking for. Thank you!

[2022-04-05 05:06] #243 closed

[2022-04-05 07:43] KannappanSomu opened #244 "Opensearch SAML authentication with Azure AD"
Opensearch SAML authentication with Azure AD:

Is there any pointers on how to deploy SAML authentication with Azure AD in opensearch chart ?
In values file , i dint find anything related to this, any help is appreciated .

[2022-04-05 15:49] Foglia-m opened #245 "[Enhancement][Chart Name]"
**No OpenId configuration  openid_auth_domain with default helm deployment config**

I install the helm chart from this repo on which I would like to configure  open-id (keycloak) as auth domain as it is mentionned in the official doc: https://opensearch.org/docs/latest/security-plugin/configuration/openid-connect/
But this config doesn't seem to appear in the cluster-master pod deployed :opensear

[2022-04-08 07:40] sastorsl commented on #173
@peterzhuamazon as a minimum, could the Release Note point to the merged PR?

Ref https://github.com/opensearch-project/helm-charts/releases/tag/opensearch-dashboards-1.4.0
It would help if one could click directly on the link to the PR.

[2022-04-08 08:59] TheAlgo commented on #173
PR link is something we can get from the commit in the release but the release note can be a bit more verbose. There are many interesting examples in the link which @smlx shared

[2022-04-08 12:19] prudhvigodithi commented on #239
Hey @Pale-whale, can we close close this issue?
Thank you

[2022-04-11 20:55] prudhvigodithi commented on #239
closing this issue, plz feel free to re open @Pale-whale  :)
Thank you

[2022-04-11 20:55] #239 closed

[2022-04-11 21:09] prudhvigodithi commented on #245
Hey @Foglia-m, looks to me like this goes with `config.yml`, you can pre create a secret that has `config.yml` and try passing in to `configSecret` .

[2022-04-12 12:57] maleksan commented on #217
The same issue is with 1.4.0 helm chart.
To solve this you have to use config section with additional pipe, in this way:
[code]

[2022-04-19 09:26] joblanc opened #248 "[BUG][opensearch] initResources not set on opensearch pods"
**Describe the bug**
When initResources are populated in values.yaml, containers in pods do not have resources set.

**To Reproduce**
Steps to reproduce the behavior:
1. Populate initResources in values.yaml with requests/limits memory/cpu
2. Deploy

**Expected behavior**
Deployed containers in pods have the resources limits/requests set.

**Chart Name**
opensearch

**Host/Environment (please comp

[2022-04-21 01:01] peterzhuamazon commented on #248
@prudhvigodithi please take a look when you have time.
Thanks.

[2022-04-21 01:03] peterzhuamazon commented on #244
That seems like a security plugin issue @KannappanSomu?

[2022-04-21 07:50] KannappanSomu commented on #244
yes  i m trying to integrate saml authentication with azure AD as idp,

Below is my configuration and I have created a secret and referred in values file under security config  like below . but I get authentication issues with error below , so would like to know what is wrong in my configuration. Any help is appreciated

error from kibana logs :

`{"type":"log","@timestamp":"2022-04-21T07:48:06Z",

[2022-04-22 11:07] prudhvigodithi commented on #248
Hey @joblanc is this about the init keystore image ?
https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/templates/statefulset.yaml#L234-L261

[2022-04-22 12:17] prudhvigodithi commented on #248
Hey @joblanc This [PR](https://github.com/opensearch-project/helm-charts/pull/250) should fix the issue.

[2022-04-25 12:23] toby181 opened #251 "[Enhancement][opensearch]add port 9600 (Performance Analyzer)"
**Is your feature request related to a problem? Please describe.**
Exposing port 9600 (Performance Analyzer) is not possible via the opensearch chart, that needs to be done manually by modifying the statefulset and service.

**Describe the solution you'd like**
Port 9600, which is required for Performance Analyzer, needs to be exposed on the master(?) node and via the opensearch-cluster-master ser

[2022-04-25 18:27] VachaShah opened #252 "Add a workflow for documenting features"
**Is your feature request related to a problem?**
Humans have to remember to document features, or at least to open issues in documentation-website for new features/changes to be documented. This is a manual process, e.g. https://github.com/opensearch-project/OpenSearch/issues/1711#issuecomment-1060893992

**What solution would you like?**
Add a workflow for creating issues in the `documentation-w

[2022-04-27 12:17] Gayu1134 opened #253 "[BUG]uncaught exception in thread [main] org.opensearch.bootstrap.StartupException: java.lang.IllegalArgumentException: unknown role [map[master:true]]"
[ERROR][o.o.b.OpenSearchUncaughtExceptionHandler] [opensearch-cluster-master-0] uncaught exception in thread [main]
org.opensearch.bootstrap.StartupException: java.lang.IllegalArgumentException: unknown role [map[master:true]]
at org.opensearch.bootstrap.OpenSearch.init(OpenSearch.java:182) ~[opensearch-1.3.1.jar:1.3.1]

![image](https://user-images.githubusercontent.com/45891998/165516231-d157d95

[2022-04-28 02:12] #248 closed

[2022-04-28 07:29] sastorsl commented on #141
@peterzhuamazon I've added a PR which removes this documentation. And as mentioned in the PR and this issue master discovery is managed automatically already, so no need to add anything else.

Will you have a look?

[2022-04-29 08:59] sastorsl opened #255 "[BUG][opensearch] opensearch helm chart 1.10.1 does not apply cleanly as a patch"
**Describe the bug**
`opensearch` helm chart version `1.10.1` does not apply cleanly as it changes resources which can not be applied with a patch.

Referencing issue #248 and PR #250

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy opensearch helm chart version `1.10.0`
2. Bump the chart to `1.10.1`
3. See errormessage

**Expected behavior**
A fix release should not break a clean patc

[2022-04-29 09:12] TheAlgo commented on #253
@Gayu1134 Can you share the `values.yaml` you are using?

[2022-04-29 10:41] sastorsl commented on #255
Workaround was to delete the `statefulset` for `opensearch`.
This appliked cleanly and the cluster is up and GREEN.
But this also creates an unfortunate downtime - not that straight forward in all our clusters.

[2022-04-29 14:03] TheAlgo commented on #255
I see as there was an update in stateful set upgrade failed. Could have been a minor version bump. @prudhvigodithi @sastorsl should we make the change go in `1.11.0`?

[2022-04-29 14:20] sastorsl commented on #255
Can that be done now that it is merged?
Or is it something which should perhaps be part of the tests going forward?

[2022-04-29 14:27] prudhvigodithi commented on #255
Hey @sastorsl it works for me to change from `1.10.0` to `1.10.1` without any issues for resources, also when I installed `1.10.0`, I dont see resources getting added, after I ran `helm upgrade` I can see resources added to the statefulset
<img width="1243" alt="Screen Shot 2022-04-29 at 10 25 09 AM" src="https://user-images.githubusercontent.com/28733332/165963801-6b0730d8-ce43-4c21-9936-5bc7b4dc

[2022-04-29 16:17] sastorsl commented on #255
Strange indeed.
I'm pulling this into an OpenShift cluster with `flux` and `HelmRelease`.
Could it be just an issue there?

[2022-04-29 16:20] TheAlgo commented on #255
Sure @prudhvigodithi I will take a look first thing tomorrow morning IST

[2022-04-29 19:19] prudhvigodithi commented on #255
Can you try with helm v3.8.1
My k8s version v1.21.5, kubectl version v1.23.4

[2022-04-29 22:05] steveellis opened #256 "[BUG][Dashboard] Unable to install on EKS"
**Describe the bug**
Dashboard chart container gets into a restart loop on EKS. Unable to reach dashboard login via port forwarding. Was hoping to use this chart to get dashboard access to opensearch service domain that has been created in a VPC shared by EKS.

**To Reproduce**
Steps to reproduce the behavior:
1. Create opensearch domain in VPC that is shared by EKS cluster
1. Install the chart on

[2022-05-02 05:06] TheAlgo commented on #255
Worked for me as well @prudhvigodithi

[2022-05-02 05:56] TheAlgo commented on #256
@steveellis have we checked whether the port is available and is not getting used by some other process?

[2022-05-02 09:21] joblanc commented on #248
Thanx for the quick fix ;-)

[2022-05-02 11:42] prudhvigodithi commented on #251
Hey @toby181 I agree with you TCP 9600 metrics port should exposed.

[2022-05-02 14:08] steveellis commented on #256
@TheAlgo If I grep on the port in the services I only see one entry, for the service.
[code]
The ip address that is in the error message on the opensearch dashboard pod changes each time the pod restarts. However that ip address does not exist in the cluster, although it is in the CIDR range. So for example the error is:
[code]
But if I do `k get pods -o wide | grep  10.0.179.4` nothing is found.

[2022-05-05 19:14] sastorsl commented on #255
Looking into this now. As I mentioned my environments are installed in OpenShift with `flux` and `HelmRelease`.
Trying to sort out if it's a problem in my environment or if it's something else.

[2022-05-05 19:19] sastorsl commented on #255
The `flux` version we are running we have is running `helm-3.8.1`.

[2022-05-05 19:32] prudhvigodithi commented on #255
Sure @sastorsl, please add your test findings here.

[2022-05-06 12:18] prudhvigodithi opened #259 "[Enhancement]OpenSearch/OpenSearch-Dashboards Helm Chart release management."
**Is your feature request related to a problem? Please describe.**
From [PR](https://github.com/opensearch-project/helm-charts/pull/257), support multiple release versions to the helm charts. Release action will keep pushing new chart versions from main, with recent release `appVersion` to `2.0.0-rc1` and two days later to `1.3.2`, which again changed back main branch to 1.x and same again with an

[2022-05-06 12:52] TheAlgo commented on #259
Can [this](https://github.com/opensearch-project/helm-charts/pull/257#issuecomment-1119582103) be included as a solution alternative?

Also 4th and 5th should be a mandatory one, we can create separate issues for them. I don't think they coincide with solution alternatives but more on the enhancement of the process.

[2022-05-06 13:07] TheAlgo commented on #253
Can you enable [this](https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/values.yaml#L410) and retry? If you don't want to enable it then you need to manually set the value of `vm_max_map_count` to `262144`

[2022-05-06 18:46] prudhvigodithi commented on #259
Added @TheAlgo

[2022-05-10 11:00] prudhvigodithi commented on #256
Hey @steveellis can you try to ping your `OPENSEARCH_HOSTS` url inside dashboard pod?

[2022-05-12 00:32] smlx commented on #259
Option 2 is the better option IMO. Did you reach out to the ingress-nginx people to see if they have any advice?

[2022-05-12 01:06] peterzhuamazon commented on #259
@smlx We have not reach out to them but we checked their repo.
They used a hack to ignore the version increment check by using `ct lint --charts`:
[code]
https://github.com/kubernetes/ingress-nginx/blob/legacy/hack/verify-chart-lint.sh#L23
https://github.com/kubernetes/ingress-nginx/blob/legacy/.github/workflows/ci.yaml#L129

Effectively they are using the same method as `CT_CHECK_VERSION_INCREMEN

[2022-05-12 02:55] lliu0947 opened #261 "[BUG]The index template does not support configuring ism policy？"
**Describe the bug**
I want to create a data stream and add ism policy to the data stream。How to add an ism policy when creating an index template？ the [index template documentation](https://opensearch.org/docs/latest/opensearch/index-templates/) does not give the corresponding example and the fields supported by the template。

**To Reproduce**
Steps to reproduce the behavior:
1. create index temp

[2022-05-12 03:09] #261 closed

[2022-05-12 08:14] TheAlgo commented on #259
+1 for Option number 2

[2022-05-16 11:18] Gayu1134 commented on #253
@TheAlgo : working fine thank you

[2022-05-16 12:00] #253 closed

[2022-05-16 21:48] peterzhuamazon commented on #259
We now have 2 different branches `1.x` and `main`, releasing two different versions of charts.

Thanks @prudhvigodithi for the tests and development on this.
And also thanks @TheAlgo @smlx chiming in on the suggestions.

I have also updated the readme with this section.
https://github.com/opensearch-project/helm-charts/blob/main/README.md#version-and-branching

![image](https://user-images.githubu

[2022-05-16 21:48] #259 closed

[2022-05-19 15:00] sevenval-admins opened #266 "[Enhancement][OpenSearch]"
**Is your feature request related to a problem? Please describe.**
Hi guys, I have the following problem: I was testing the Alerting plugin and as stated in the [documentation](https://opensearch.org/docs/latest/monitoring-plugins/alerting/security/#advanced-limit-access-by-backend-role), basically every monitor and destination that is created is visible to every user, except if the following sett

[2022-05-22 20:05] ichasco-heytrade commented on #213
I have found the error. It was because of Istio sidecar

[2022-05-22 20:05] #213 closed

[2022-05-22 20:17] ichasco-heytrade opened #268 "[SAML] Error with gsuite provider"
I am getting errors with gsuite (I am not 100% sure if I have configured as has to be?

config.yaml:

[code]

opensearch_dashboards.yml
[code]

GSUITE conf:

* Url ACS: https://kibana.example.com/_plugins/_security/saml/acs/idpinitiated

* Entity ID: kibana-saml

Opensearch Error:
[code]

OpenSearch dashboard error:

[code]

OpenSearch & Dashboard version: `2.0.0-rc1`

Deployed with HELM

[2022-05-23 07:58] ichasco-heytrade commented on #268
When created the key_exchange is fixed these problems:

[code]

But I get now a 401 error on login:

[code]

[2022-05-23 08:30] ichasco-heytrade commented on #268
The problem was the correct URL to set in Gsuite ACS is:

[code]

This is a mistake in the documentation

[2022-05-23 08:30] #268 closed

[2022-05-23 08:53] FarhanSajid1 commented on #213
@ichasco-heytrade could you provide more information?

[2022-05-23 08:59] ichasco-heytrade commented on #213
When enabled Istio sidecar, the https connection was giving me the SSL Error. When I disabled the use of the sidecar It start working as expected. I don't research more. Sure that is a MTLS error

[2022-05-23 10:06] prudhvigodithi opened #269 "[Enhancement] Artifacthub Verified Publisher badge for OpenSearch helm charts"
**Is your feature request related to a problem? Please describe.**
artifcat-hub helm charts for OpenSearch [opensearch](https://artifacthub.io/packages/helm/opensearch-project-helm-charts/opensearch)
[opensearch-dashboards](https://artifacthub.io/packages/helm/opensearch-project-helm-charts/opensearch-dashboards)
are currently not verified.

**Describe the solution you'd like**
Verify the artifcat

[2022-05-23 10:12] prudhvigodithi commented on #269
We should be having `verified-publisher` badge to OpenSearch helm charts https://artifacthub.io/docs/topics/repositories/#verified-publisher, any thoughts on how the artifacthub OpenSearch helm charts are managed ?
@bbarani @DandyDeveloper @TheAlgo @smlx @mprimeaux @peterzhuamazon ?

[2022-05-23 11:02] prudhvigodithi commented on #266
Hey @sevenval-admins from what I understood, you are targeting to share the monitors and destinations only to specific user group, this include even to exclude nested group ?

Can you please try this way?

- Create a specific group in LDAP and add only required users.
- Create a specific Role and map the role to the the group created above.

there is another option `skip_users`, it also supports r

[2022-05-23 11:04] prudhvigodithi commented on #256
Hey @steveellis were you able to install the cluster on EKS ?

[2022-05-23 11:56] sevenval-admins commented on #266
Hi @prudhvigodithi and thank you for your reply. I have already created a Group in LDAP and added only the required users, as well as created a Role and mapped it with the previous LDAP group.
The Problem is that the users that I added belongs to different LDAP groups and the separation of monitors and destinations only works if no backend role (in this case LDAP-Group) is shared.
Basically that´s

[2022-05-23 12:19] smlx commented on #266
Monitors and Alerts are associated with the _tenant_. You need to assign separate tenants to each group, and create the monitors and alerts in different tenants instead of using the Global tenant.

[2022-05-23 14:03] sevenval-admins commented on #266
Hi @smlx and thank you for you reply. Unfortunately Monitors and Alerts are not associated with tenants but with backend-role, as stated in the [Documentation](https://opensearch.org/docs/latest/monitoring-plugins/alerting/security/#advanced-limit-access-by-backend-role): "[...]when users view alerting resources in OpenSearch Dashboards (or make REST API calls), they only see monitors and destinat

[2022-05-23 14:11] smlx commented on #266
Oh sorry, yes you are correct.

[2022-05-23 14:30] prudhvigodithi commented on #266
We might need to address this by giving an other option to only look for a specified backend role (if specified) and not look for shared backend role, else go with the default behavior to look for shared backend roles.
Something like
[code]

[2022-05-23 15:02] prudhvigodithi commented on #266
Hey @sevenval-admins and @smlx I have raised an issue https://github.com/opensearch-project/alerting/issues/459 in alerting repo.

[2022-05-24 01:02] DandyDeveloper commented on #269
@TheAlgo @peterzhuamazon

Think this is the best Q for you or someone in Amazon?

[2022-05-24 02:03] peterzhuamazon commented on #269
@prudhvigodithi per our discussion last time seems like we are not in control of the artifact hub charts. Can we still get it verified on there?

Thanks.

[2022-05-24 03:57] TheAlgo commented on #269
@prudhvigodithi @peterzhuamazon Do we have the control over this artifact or is it owned by someone else?

[2022-05-24 10:54] prudhvigodithi commented on #269
Hey @peterzhuamazon we can only get once we link the [metadata](https://github.com/artifacthub/hub/blob/master/docs/metadata/artifacthub-repo.yml) file `artifacthub-repo.yml`
@TheAlgo thats true

[2022-05-24 18:53] deng47 opened #271 "[BUG][OpenSearch-1.11.1] the opensearchJavaOpts variable doesn't work"
**Describe the bug**
I am moving from Elasticsearch 7.13.4 to OpenSearch. I noticed a slow querying performance issue on OpenSearch, so I set `opensearchJavaOpts: "-Xmx6G -Xms6G -Des.allow_insecure_settings=true"` in the value.yaml. However, it doesn't help.

Also, when I tried to create a repo with keys like below
[code]
OpenSearch doesn't think the allow_insecure_settings is set
[code]
So I chec

[2022-05-26 02:19] smlx commented on #271
The default value is different: https://github.com/opensearch-project/helm-charts/blob/eddf7600391c0e583b8ce0694c7347439a0296a7/charts/opensearch/values.yaml#L132

I think you must be accidentally overriding this setting with `-Xms1g, -Xmx1g` somewhere. Could you check?

[2022-05-26 05:25] deng47 commented on #271
Thanks for the comment. By `default`, I meant the default heap size in jvm.options in the image.
[code]
In `values.yaml`, I set `opensearchJavaOpts: "-Xmx6G -Xms6G -Des.allow_insecure_settings=true"`

[2022-05-30 21:56] ict-one-nl commented on #44
Any news? :)

[2022-05-31 14:55] prudhvigodithi commented on #271
Hey @deng47 once you set the `opensearchJavaOpts` and exec into the pod try to run the following command and see the xmx head size.
`curl -XGET https://localhost:9200/_nodes/_all/jvm -u 'admin:admin' --insecure`

[2022-05-31 15:41] deng47 commented on #271
Thank you. I did a `GET _nodes/_all/jvm` in the Dev tools console. In the `values.yaml`, I set the heap size to 6G for data nodes, and 4G for master and client nodes, and `-Des.allow_insecure_settings=true` on all nodes. In the output below, I see `-Xms1g` and `-Xmx1g`. And again, Opensearch doesn't allow me to set a S3 snapshot repo with keys because it think "Setting [access_key] is insecure, bu

[2022-05-31 23:49] phijojo commented on #191
its working for me for all secrets except `node_dn.yml` and `whitelist.yml` . I don't see any mount option for those 2 files in `templates/statefulset.yaml `

[2022-06-01 10:19] #191 closed

[2022-06-02 06:00] deng47 commented on #271
Changing `-Des.allow_insecure_settings=true` to `-Dopensearch.allow_insecure_settings=true` sloved the S3 repo key issue. Thank you for pointing that out, @prudhvigodithi
I think I should correct myself that opensearchJavaOpts is actually working as expected

[2022-06-02 07:46] TH12380923 commented on #213
I have faced the same error and by disabling the istio sidecar helped to start and access the opensearch dashboard. However, my k8s cluster need istio enabled to run the dashboard outside of the cluster. In this case, may i know how we can achieve the requirement

[2022-06-02 10:41] prudhvigodithi commented on #271
Thanks for the update @deng47, closing this issue, please feel free to re-open if required.

[2022-06-02 10:41] #271 closed

[2022-06-03 02:08] mkhpalm commented on #223
I started looking at this today and noticed Helm may be adopting an enhancement `HIP 0016` that implements `export-values`. Rather than modify the `opensearch` and `opensearch-dashboards` charts to support global context a user would be able to push values to the sub-charts from a new parent chart like `opensearch-cluster`.

* https://github.com/helm/community/pull/242
* https://github.com/helm/he

[2022-06-03 03:45] smlx commented on #223
Another alternative is to use a tool like [helmfile](https://github.com/helmfile/helmfile/).

[2022-06-07 12:29] viceice commented on #205
[renovate](https://github.com/renovatebot/renovate) can so this in an automated way 🤗

[2022-06-08 23:17] danielbichuetti commented on #256
I'm unable. kube-probe startup issue on EKS. Pod get on an infinite restart loop.

[2022-06-09 00:32] smlx commented on #256
Could you share your `values.yaml`?

[2022-06-11 06:41] elkh510 commented on #111
hi
have the same issue
works only after removed this [lines of code ](https://github.com/opensearch-project/helm-charts/blob/opensearch-2.0.0/charts/opensearch/templates/statefulset.yaml#L316-L319)
and set this `opensearch.yml`
[code]
before doing that got error
[code]

[2022-06-13 06:37] Tarasovych commented on #158
Same issue with 2.0.0 Docker image

[2022-06-14 15:10] ichasco-heytrade opened #274 "[BUG][OpenSearch] Tenants file doesn't work"
**Describe the bug**
When configuring the tenants.yml file in the chart, it doesn't create it

**To Reproduce**
Steps to reproduce the behavior:
1. Define tenants.yml
[code]
2- apply the chart

**Expected behavior**
Create only the tenants in the file

**Chart Name**
Opensearch

[2022-06-15 06:46] ganilmca opened #275 "How to enable "hostNetwork: true" in opensearch helm charts in kubernates"
Hi All,

If anyone does know how to enable "hostNetwork: true" in opensearch helm charts please let us know.
when we deployed the opensearch cluster by adding "hostNetwork: true" in statefuleset.yaml file, then we were getting the indentation error, we don't know how to use this one in our helm charts.

Does it support it or not?

Please help to resolve this one.

Thanks
Anil

[2022-06-15 13:09] dblock commented on #275
Moved to https://github.com/opensearch-project/helm-charts/

[2022-06-15 13:22] demian711 opened #276 "Is "master" terminology planned to be deprecated?"
Sorry if this is not the place.
Reading Opensearch 2.0 documentation, says that inclusive language is being implemented. However for helm charts "old" terminology is still being used.

Do you plan to deprecate this in a planned version?

thanks

[2022-06-17 20:05] prudhvigodithi commented on #275
Hey Can you provide more details about your use case to add  hostNetwork to OpenSearch, right now the chart does not support `hostNetwork`.
Thank you

[2022-06-21 19:17] zelinh commented on #252
[Triage] We will be working on adding the workflow.

[2022-06-21 19:21] zelinh commented on #274
[Triage] @ichasco-heytrade Could you help us raise a PR to resolve this if you have time for contributing.

[2022-06-21 23:51] prudhvigodithi commented on #158
I still see this error with 2.0.1, consider reopening ?
@sevenval-admins @smlx @bbarani @peterzhuamazon @TheAlgo

(Found the error when working with OpenSearch Kubernetes Operator compatible tests with 2.0.0. https://github.com/Opster/opensearch-k8s-operator/issues/176)
Strange part is i get this error only when using PVC (EBS), running the cluster with `emptyDir: {}` does not show this error.
Rai

[2022-06-22 00:25] peterzhuamazon commented on #158
I reopen this @prudhvigodithi but is this something on helm charts side or on our docker?

[2022-06-22 12:27] prudhvigodithi commented on #158
Looks to me this issue is not with helm or docker, trying to create an index early even before the cluster is fully initialized will create an `.opendistro_security` and once retried it fails with the above error, more details on https://github.com/opensearch-project/security/issues/1898#issuecomment-1162483423.

[2022-06-24 18:06] TheAlgo commented on #276
Good point, we can plan this out. This is a good change to have. What do you say @prudhvigodithi @peterzhuamazon @DandyDeveloper ?

[2022-06-24 18:07] TheAlgo commented on #252
@zelinh Will you be working on this?

[2022-06-24 18:38] zelinh commented on #252
We don't have a specific person assigned to this issue. We also wonder do we have a template for this feature as this is requested across all repos. @VachaShah

[2022-06-27 21:54] peterzhuamazon commented on #276
@demian711 @TheAlgo please follow this meta issue on the status of inclusive language changes:
https://github.com/opensearch-project/OpenSearch/issues/2589#issuecomment-1101707941

Thanks.

[2022-06-28 19:46] #256 closed

[2022-07-08 14:43] nomopo45 opened #284 "[BUG]opensearch/opensearch-dashboard"
Hello i'm trying to use opensearch and opensearch-dashboard with SAML.

I have the following error when i'm trying to connect :

[code]
config.yml: |-
        _meta:
          type: "config"
          config_version: "2"
        config:
          dynamic:
            http:
              anonymous_auth_enabled: false
            authc:
              basic_internal_auth_domain:
                descr

[2022-07-10 12:27] TheAlgo commented on #276
@peterzhuamazon So I assume we can deprecate the master terminology for helm charts in for charts which are using 2.x version as default version?

[2022-07-11 09:22] foosinn opened #285 "[Enhancement][opensearch] Support disabling securityContexts"
**Is your feature request related to a problem? Please describe.**

Running Opensearch via Helm charts on Openshift is currently non trivial. Openshift manages UID and GID of each container per default and ensures it's not running as root.

**Describe the solution you'd like**

An option to disable all the security contexts in the current helm chart.

**Describe alternatives you've considered**

O

[2022-07-11 13:18] smlx opened #287 "[BUG][Opensearch] Ineffective NetworkPolicy"
**Describe the bug**
The [current NetworkPolicy](https://github.com/opensearch-project/helm-charts/blob/d987311e146835d48fe9eff2b522b3afef0308e5/charts/opensearch/templates/networkpolicy.yaml) doesn't do anything because the selectors it uses do not match any pods.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Opensearch with `.Values.networkPolicy.create=true`
2. Connect to Opense

[2022-07-11 17:28] peterzhuamazon commented on #276
The problem being not everyone has deprecated the terminology.
We can try from our part but IDK if that would cause any issues if any plugin still uses master node terminology.

Thanks.

[2022-07-12 07:59] marcinwito commented on #284
I have the same problem. Only occurs after 1.2.0 -> 2.x update.
The same configuration works fine in version 1.2.0 but not in version 2.x.

[2022-07-12 08:27] nomopo45 commented on #284
@marcinwito thanks a lot for the answer i will try in version 1.2.0, but are you talking about the opensearch version or opensearch-dashboard ?

[2022-07-12 08:30] marcinwito commented on #284
exactly on such versions:

[code]

[2022-07-12 20:09] bkomraz1 commented on #156
It is not bug. It is normal behaviour. Pipe symbol should not be used when you define content of yaml file. User just need to avoid use of "|" after filename.

Unfortunate introduced fix broke backward compatibility and does not allow partially change specific configuration file but require complete replace of file content.

In opensearch helm chart behaviour is correct and requires map format of

[2022-07-12 20:56] bkomraz1 opened #288 "[BUG][opensearch-dashboards] configMap can't be rendered from map"
**Describe the bug**
Configuration for opensearch-dashboard configuration files can't be defined as map anymore, but only as string. It means that configuration for specific file can't be changed incrementally by overriding some specific value, but only by replacing of whole content of configuration file is required.

Those behaviour was introduced by pull request: https://github.com/opensearch-pr

[2022-07-13 08:00] nomopo45 commented on #284
After some tests where i changed the image tag i have other errors now

opensearch 1.2.4 :

[code]
opensearch-dashboard 1.2.0 :

[code]

[2022-07-18 08:27] nomopo45 commented on #268
Hey i'm running into similar issue, could you tell me which version you used for opensearch and opensearch dashboard ?