[2022-07-18 10:06] ichasco-heytrade commented on #268
My config is:
[code]
Y added the exchange_key

And OpenSearch Dashboard config:

[code]
Try to add also `requestHeadersAllowlist` parameter

And If you are not able to fix with this changes, paste also the gsuite configuration.

[2022-07-18 10:11] nomopo45 commented on #268
Thanks a lot ! which version are you using at the moment ?

[2022-07-18 10:14] ichasco-heytrade commented on #268
At this moment I am using AWS's OpenSearch that is 1.2

But I have tested the HELM with the 1.2 and 2.0 working with both of them

[2022-07-18 11:14] chrismanynames opened #290 "[BUG][opensearch] tls connection (handshake) randomly stops working"
**Describe the bug**
After starting up a 3 node cluster, opensearch randomly fails during tls handshake (after a few days) until the pods are restartet.
See log below:

javax.net.ssl.SSLHandshakeException: Invalid Alert message: no sufficient data
        at sun.security.ssl.Alert.createSSLException(Alert.java:131) ~[?:?]
        at sun.security.ssl.Alert.createSSLException(Alert.java:117) ~[?:?]

[2022-07-18 13:18] nomopo45 commented on #284
Ok i deleted eveything.

I use the 2.1.0 tag for the image and below the config my helm values i have new error:

for opensearch-dashboard :

[code]

and here for opensearch :

[code]

Here is the error i have :

[code]

[2022-07-19 10:25] nomopo45 commented on #268
Hello,

Good news i'm almost there ! now i just need to configure mu gsuite correctly i guess.

you can see my SAML request below :

GET:

[code]

POST:

[code]

[2022-07-19 13:22] ganilmca opened #293 "How to take backup and restore from one cluster to another in kubernates"
Hi Team,

1. We have deployed the 2 individual Kubernetes clusters with the same version(2.0.0) in both clusters.

2. We have registered the repository in the 1st cluster like in the below command.

curl -k -u admin:admin -XPUT https://opensearch-cluster-master-0:9200/_snapshot/my-repository?verify=false -H 'Content-Type: application/json' -d'
{
  "type": "fs",
  "settings": {
    "location": "/us

[2022-07-19 14:08] ichasco-heytrade commented on #268
Could you paste the gsuite SAML configuration?

[2022-07-19 19:34] bbarani commented on #284
@opensearch-project/security Can someone take a look at this issue and provide an update?

[2022-07-19 19:38] prudhvigodithi commented on #158
Closing this issue here in helm repo as there is already an open issue in security repo
https://github.com/opensearch-project/security/issues/1898#issuecomment-1162483423
Please feel free to re-open if required.

[2022-07-19 19:40] bbarani commented on #287
@dblock @reta Can you provide some additional insights on the ask here?

[2022-07-19 19:48] bbarani commented on #290
@opensearch-project/security Can someone please take a look at this issue and provide an update?

[2022-07-21 09:54] viceice opened #295 "[BUG][opensearch-dashboards] invalid type for io.k8s.api.core.v1.ConfigMap.data: got "map", expected "string""
**Describe the bug**
#294 broke my deployment with terraform:

[code]

**values.yaml**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. deploy dashboards chart v1.7.0 with yaml above
2. upgrade to v1.7.1

**Expected behavior**
Patch upgrade should not break existing users

**Chart Name**
opensearch-dashboards

**Screenshots**
no screenshots

**Host/Environment (please complete the foll

[2022-07-21 14:11] prudhvigodithi commented on #295
Hey @viceice @DandyDeveloper I have raised a [PR](https://github.com/opensearch-project/helm-charts/pull/296) that should fix this issue
Now following both should work, can you please test with my fork @viceice

[code]
[code]
@peterzhuamazon @bbarani @TheAlgo

[2022-07-22 07:55] JustinasKO opened #299 "[BUG][opensearch-dashboards] Ingress config does not set parameters as shown in values.yaml"
**Describe the bug**
values.yaml file for opensearch-dashboards ingress config look like:
[code]
but in template file ingress.yaml we have:
[code]
We can see that in host part (old structure < 1.19 and new) values: `serviceName` and `servicePort` uses values: {{ $fullName }} and {{ $svcPort }} - instead of what you would expect looking at values.yaml example.

These values should be configurable a

[2022-07-22 11:29] prudhvigodithi commented on #288
Hey @bkomraz1  Closing this issue, please feel free to reopen.
Thank you

[2022-07-22 11:29] #288 closed

[2022-07-22 18:41] peterzhuamazon commented on #295
Close this as it is fixed now.
Thanks.

[2022-07-22 18:41] #295 closed

[2022-07-23 16:30] daniel-dodoo opened #302 "[BUG][OpenSearch Dashboard]-CrashLoopBackOff Error"
**CrashLoopBackOff Error**
I am deploying an OpenSearch cluster on my local machine, after successfully installing the pods with the helm command

I checked the status of my pods with **kubectl get pods** command but it returns a "CrashLoopBackOff" error

I found a solution on StackOverflow that requires increasing the initialDelaySeconds to 300s but that doesn't seem to work

**To Reproduce**
Ste

[2022-07-23 18:05] TheAlgo commented on #302
@daniel-dodoo Can you share the values.yaml file you are using, also share the helm chart version you are using for spinning up the multi-cluster nodes. Thanks

[2022-07-23 22:31] daniel-dodoo commented on #302
@TheAlgo  Sure sure

helm version: Version:"v3.9.1"

**master.yaml**
---
clusterName: "opensearch-cluster"
nodeGroup: "master"

# The service that non master groups will try to connect to when joining the cluster
# This should be set to clusterName + "-" + nodeGroup for your master group
masterService: "opensearch-cluster-master"

# OpenSearch roles that will be applied to this nodeGroup
# These w

[2022-07-24 17:46] TheAlgo commented on #302
@daniel-dodoo I meant the chart version and not the helm version so that I can try reproducing the issue. Also you can check the logs of the pods using the command `kubectl logs` command, this will help us why the container is crashing as I can see the container was started and it crashed post that.

[2022-07-25 15:48] reta commented on #287
@bbarani I am not very familiar with Helm charts, but it seems like the pods should have labels [1] (and network policy enabled), which could be configured here [2]

[code]

[1]  https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/values.yaml#L397
[2] https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/values.yaml#L130

[2022-07-25 19:14] daniel-dodoo commented on #302
@TheAlgo ,

Sorry for the delayed response

Helm Chart Version: 2.3.0

![Screenshot (368)](https://user-images.githubusercontent.com/109669328/180856380-82099bab-c76e-42c4-acb3-0cde80b065cc.png)

Kindly find the logs the pods attached:
[opensearch-cluster-client-0 logs.txt](https://github.com/opensearch-project/helm-charts/files/9184156/opensearch-cluster-client-0.logs.txt)
[opensearch-cluster-mas

[2022-07-28 12:36] TheAlgo commented on #302
Looks like this is the error
[code]

Also looks like you are following the [blog](https://opensearch.org/blog/technical-posts/2021/11/setup-multinode-cluster-kubernetes/) and it is using chart versions for OpenSearch is 1.2.4 and 1.0.6 for OpenSearch Dashboards.

Can you add the following in all YAML(s) and retry?
[code]

[2022-07-30 23:46] daniel-dodoo commented on #302
Hello @TheAlgo

How do I view the Helm chart version for OpenSearch Dashboard?

I followed your instructions and made changes to the yaml files for master, data and client

I have the following error now: **forbidden sysctl: "vm.max_map_count" not allowlisted**

![Screenshot (4)](https://user-images.githubusercontent.com/109669328/182003780-d4bbf849-34fb-4d88-a7cd-7dae84bc3bf3.png)
![Screenshot (5

[2022-07-31 13:45] TheAlgo commented on #302
You can follow this [issue](https://github.com/opensearch-project/helm-charts/issues/87) to fix it.

[2022-07-31 22:45] daniel-dodoo commented on #302
Hello @TheAlgo ,

Many thanks

The pods are now in the running state, I have 2 errors which I have tried to debug to no avail

1. **OpenSearch Security not Initialised** when I run "curl -XGET https://localhost:9200 -u 'admin:admin' --insecure" command
![Screenshot (9)](https://user-images.githubusercontent.com/109669328/182048326-e105a9f9-55b2-4607-9251-9a967219a520.png)

2. **Startup probe faile

[2022-08-01 07:43] TheAlgo commented on #302
@daniel-dodoo Can you share the pod logs so that we can see what is the issue you are getting.

P:S :
Alternatively just wanted to share if you are not aware of  : if you don't want a dedicated master, data, client structure you can follow the simpler way of installation [here](https://opensearch.org/docs/latest/opensearch/install/helm/) as well.

[2022-08-01 23:47] daniel-dodoo commented on #302
@TheAlgo

Kindly find the logs for master, data and client attached

Many thanks, I will definitely review the simpler documentation but I will first like to troubleshoot my errors in the current deployment

[master.log](https://github.com/opensearch-project/helm-charts/files/9237975/master.log)
[data.log](https://github.com/opensearch-project/helm-charts/files/9237980/data.log)
[data.log](https:/

[2022-08-02 09:02] Jonathan-w6d commented on #161
Hello, I'm actually facing the same issue.
I tried adding my config.yml for SSO to `securityConfig.config.data`, the secret is created but it seems like the config.yml isn't taken into account.
I tried creating the `config` secret by hand, and add it to `securityConfig.configSecret`, nothing.
I also tried to change the `securityConfig.path` from `/usr/share/opensearch/plugins/opensearch-security/s

[2022-08-02 09:12] Jonathan-w6d commented on #245
Hello @Foglia-m any luck with you issue ?
I'm trying to set up OIDC too but it seems to me that I can't update config.yml properly with the Helm chart... I tried mounting a secret an add it to `securityConfig.configSecret`, i tried `securityConfig.config.data`, I even tried to change the `path` of `securityConfig` to `/usr/share/opensearch/config/opensearch-security/`, but nothing seems to do the

[2022-08-02 11:57] smlx commented on #161
@Jonathan-w6d it will be easier to help if you can open a new issue and provide the full chart version, your `values.yaml`, commands you ran etc.

[2022-08-02 13:08] Jonathan-w6d opened #303 "[BUG][Opensearch] Config.yml doesn't update when applying Helm chart"
**Describe the bug**
Hello everyone, I've deployed Opensearch trying to modify `config.yml` via Helm chart, to add openId connect.
Thing is, no matter how I do it, my conf doesn't update.
I tried :

-  Creating the secret on my own and add it to `securityConfig.configSecret`, it gets mounted into the pods but the conf doesn't update.

- Adding the config.yml via `securityConfig.config.data` (file

[2022-08-02 15:41] smlx commented on #161
No, that is not the case.

You don't. Please read [the documentation about this](https://opensearch.org/docs/latest/security-plugin/configuration/security-admin/#a-word-of-caution).

:+1:

[2022-08-02 18:43] #299 closed

[2022-08-02 19:55] #144 closed

[2022-08-04 07:13] itshikanov opened #306 "[Enhancement][opensearch] tpl function for securityconfig.yaml"
add tpl function to render securityconfig.yaml
[code]
change to
[code]

like in configmap.yaml

[2022-08-04 16:42] TheAlgo commented on #302
Seeing this error log some permission issues in the cluster which needs to be fixed it seems You can use official [documentation](https://opensearch.org/docs/latest/security-plugin/configuration/security-admin/#a-word-of-caution) as well to fix security plugin issues in the cluster:

[code]
Also do you mind installing charts with the version mentioned in the blog? You can use the flag `--version 6

[2022-08-08 07:23] daniel-dodoo commented on #302
@TheAlgo

"Also do you mind installing charts with the version mentioned in the blog? You can use the flag --version 6.7.4"

How do I install --version 6.7.4?

When I tried to specify the version in the helm install command but I have a syntax error response

Eg.   helm install opensearch-master opensearch/opensearch -f  master.yaml --version 6.7.4

Error: INSTALLATION FAILED: failed to download "

[2022-08-08 07:50] daniel-dodoo commented on #302
@TheAlgo

 After I run the helm repo update and helm search repo opensearch

 The latest OpenSearch chart  version was **opensearch/opensearch:** 2.3.0 and **opensearch/opensearch-dashboards:** 2.2.4

![Screenshot (374)](https://user-images.githubusercontent.com/109669328/183366359-5fc55999-5b7c-4b22-befb-0d985fad8e7d.png)

[2022-08-08 10:37] daniel-dodoo commented on #302
@TheAlgo
I run into an error when running the securityadmin.sh [Documentation](https://opensearch.org/docs/latest/security-plugin/configuration/security-admin/#a-word-of-caution)

./securityadmin.sh -cd ../../../config/opensearch-security/ -icl -nhnv \
  -cacert ../../../config/root-ca.pem \
  -cert ../../../config/kirk.pem \
  -key ../../../config/kirk-key.pem

  **I receive the following error r

[2022-08-09 14:16] sastorsl commented on #225
I think this should **not** be part of the chart as there are quite a few assumptions which must be made (do we have a cluster, do we have indices) and checks to perform (was shard allocation indeed disabled).

Upgrading OpenSearch (as was/is with the original upstream) requires some planning and forethought.

[2022-08-10 06:09] kamil-stc opened #307 "[Enhancement][opensearch] readinessProbe uses tcp socket instead of health api endpoint & no livenessProbe"
**Is your feature request related to a problem? Please describe.**
Recently we had an issue when running opensearch 2.1 in k8s cluster (1.22.9). When one of the coordinating nodes is being evicted filebeat's start having connection issues. We are currently testing it with changed readinessProbe to http. Due to https://github.com/helm/helm/issues/5184 it is not possible to overwrite values shipped

[2022-08-15 14:06] ecemakti opened #309 "[BUG][Opensearch] - ErrImagePull Error"
**Describe the bug**
Hi All, I am deploying an OpenSearch cluster on my local machine, after successfully installing the pods with the helm command

I checked the status of my pods with kubectl get pods command but it returns a "ErrImagePull " error

**To Reproduce**
Steps to reproduce the behavior:
helm install opensearch-master opensearch/opensearch -f master.yml
Go to kubectl get pods
View the

[2022-08-15 20:47] daniel-dodoo opened #310 "[ ImagePullBackOff][Opensearch]"
I am deploying an Opensearch application on Kubernetes locally

I have the following error, "**ImagePullBackOff**", I have tried to troubleshoot the cause to no avail

I am following the official documentation on Opensearch Helm installation

[Helm - OpenSearch documentation](https://opensearch.org/docs/latest/opensearch/install/helm/)

![Screenshot (383)|690x388](upload://9TkkAJGDhEH0MNIwxOwzGJOZ

[2022-08-15 23:50] smlx commented on #309
TLS Handshake timeout seems to indicate a networking problem in your cluster.

[2022-08-22 18:44] dobharweim commented on #284
@peternied any update on this one guys?

[2022-08-22 20:34] peternied commented on #284
@dobharweim thanks for reaching out, I've been unable to make progress in this space.  I'm going to remove myself so someone else can pick this work up.

[2022-08-23 10:54] pauloduartepinho opened #311 "[BUG][opensearch-dashboards] Ingress path value does not work"
When changing the ingress path from default (root value /) to custom, we are unable to access dashboards

All configuration is the default one expect for:

[code]

When accessing https://custom.host.local/search/opensearch-dashboards/ I get 404 not found :
![image](https://user-images.githubusercontent.com/1556117/186140385-4c82b126-0b69-4763-9197-abd192cf3b38.png)

Please tell me if any more info

[2022-08-24 07:58] jonardcaguioa commented on #284
I am encountering this on as well. do u know any workarounds?

[2022-08-24 08:48] nomopo45 commented on #284
You can follow my thread i manage to make it work :

https://forum.opensearch.org/t/opensearch-opensearch-dashboard-failed-to-get-saml-header-error-error-failed-parsing-saml-config/10224

[2022-08-26 13:37] #111 closed

[2022-08-30 11:59] Lobosque commented on #310
I am having a similar and probably related problem trying to pull that `busybox` image when installing the opendashboard helm:

[code]

[2022-08-30 19:28] prudhvigodithi commented on #310
Hey @daniel-dodoo @Lobosque we should be able to fetch the docker images, please make sure there are no issues with docker setup from your client side, also the opensearch images are now available in [ECR](https://gallery.ecr.aws/opensearchproject/opensearch), you can try to fetch from ECR repo
[code]

[2022-08-30 19:30] prudhvigodithi commented on #309
Similar issue https://github.com/opensearch-project/helm-charts/issues/310

[2022-08-30 19:41] prudhvigodithi commented on #307
Hey @kamil-stc the link you provided is specific to the security plugin, the health check endpoint should be for the cluster alone.
@TheAlgo can you add your thoughts from this PR https://github.com/opensearch-project/helm-charts/pull/172

[2022-08-30 19:43] prudhvigodithi commented on #306
Hey @itshikanov can you add some details on what issue was occurred with existing implementation? Also please feel free to raise a PR.
Thank you

[2022-08-30 19:46] prudhvigodithi commented on #303
Adding @DandyDeveloper @TheAlgo

[2022-08-31 01:03] smlx commented on #303
This behaviour is documented: https://opensearch.org/docs/latest/security-plugin/configuration/security-admin/#a-word-of-caution

[2022-08-31 12:52] prudhvigodithi commented on #303
I think this should be possible, setup a job every-time when identified a change in secret that can run `securityadmin.sh`.

[2022-08-31 16:11] TheAlgo commented on #303
This is a property of OpenSearch and nothing much to do with helm charts. A sidecar for any kind  of job/hook will help here.

Also @smlx thanks for the suggestion, I guess we should have a FAQ section in the chart README. This will be of great help for the users.

[2022-08-31 16:19] indiealexh commented on #303
I'm not sure I understand.
We are supposed to run a script manually after deployment to configure the security config properly?

[2022-08-31 16:29] TheAlgo commented on #307
@kamil-stc There were various cases because of which it was decided to not use an authenticated probe. It will be great if you can read through the conversations in the PR to understand why this decision was taken

https://github.com/opensearch-project/helm-charts/pull/172#issuecomment-1110432997

[2022-09-01 00:08] daniel-dodoo commented on #310
I am getting an Imagepullbackoff error deploying a kubernetes application on wsl but I have no issues with deploying a different workstation, host or vm?

Any idea what could be the possible cause to the error? @prudhvigodithi

[2022-09-01 11:28] JustinasKO opened #314 "[BUG][OpenSearch dashboards] Can't set named port or `use-anotation` for ingress config"
**Describe the bug**
When setting value ingress.hosts[1].paths[0].backend.servicePort as named port or use-annotation (to take configuration from annotations) getting error:
`Error: error validating "": error validating data: ValidationError(Ingress.spec.rules[0].http.paths[0].backend.service.port.number): invalid type for io.k8s.api.networking.v1.ServiceBackendPort.number: got "string", expected

[2022-09-01 11:38] bkomraz1 opened #315 "[Enhancement][opensearch/opensearch-dashboards] configmap should be templated"
**Is your feature request related to a problem? Please describe.**
All configuration files should be templated and support map format as well string format

**Describe the solution you'd like**
Use tpl function for  rendering configmap content and toYaml function for map content

[2022-09-01 15:35] indiealexh commented on #303
AH! Got ya, yeah this was not clear as helm charts are typically change values and upgrade and it applies, maybe I can contribute a post upgrade to the Statefulset to run the script after upgrade.

[2022-09-02 02:18] prudhvigodithi opened #320 "[BUG]Helm chart-releaser parallel release."
**Describe the bug**
When doing 2 releases from main (2.x) and 1.x (1.x) branch which recently happened with 2.2.1 and 1.3.5, the release 2.2.1 failed to update the gh-pages `index.yml` file.
failed action:
https://github.com/opensearch-project/helm-charts/actions/runs/2975206760/attempts/1

**To Reproduce**
By doing 2 releases from 2 different branches within the same repo.

**Expected behavior**

[2022-09-02 03:56] smlx commented on #320
Looks like `concurrency` needs to be configured: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-only-cancel-in-progress-jobs-or-runs-for-the-current-workflow

[2022-09-12 11:57] #314 closed

[2022-09-12 17:00] kunal-parsewar opened #330 "[BUG][OpenSearch] Only ReadOnly file system is allowed while installing OpenSearch via helm chart"
**Describe the bug**
I am trying to install opensearch 1.2.3 helm chart in an AKS cluster but getting error as "Only Read-Only root file system container is allowed " and " Privilege escalation container is not allowed." Our security team is not ready to provide the exception for this helm chart deployment.

Have anyone faced this issue and how they resolved it without taking an exception from the

[2022-09-15 18:48] lieberlois opened #328 "[Enhancement][Opensearch/Opensearch-Dashboards] Helm Charts are missing kubernetes health probes"
The helm charts don't properly ship with sufficient health checks. While the `opensearch`-chart only lacks a liveness probe, the `opensearch-dashboard`-chart lacks any kind of probes. This causes several problems:
* Deployments of Opensearch Dashboards can't be awaited (since no meaningful readinessProbe is configured)
* Deployments of Opensearch Dashboards are marked as ready, even if they aren't

[2022-09-19 10:46] sastorsl commented on #328
Would be a valued attribution, also discussed in #44
The current example in `values.yaml` with `lifecycle.postStart` should at the same time be replaced with a sane `startupProbe`.

[2022-09-20 11:24] kunal-parsewar commented on #330
Hi @prudhvigodithi  , I think I am using pretty old chart ( version: 1.5.1 ).

Let me try installing the newer version with some changes according to our environment.

May i know if current chart version will not produce above raised errors?

[2022-09-20 11:44] kunal-parsewar commented on #330
Just to clarify 1.2.3 is the OpenSearch version.

[2022-09-20 22:21] prudhvigodithi commented on #330
Hey @kunal-parsewar
Can you confirm the chat version https://artifacthub.io/packages/helm/opensearch-project-helm-charts/opensearch ?
Are you using the helm chart from above provided links?
Also just curious any reason to use 1.2.3? Please try with the latest chart
There are multiple options available https://github.com/opensearch-project/helm-charts/tree/main/charts/opensearch to leverage the sys

[2022-09-23 13:44] prudhvigodithi commented on #330
@kunal-parsewar can you share the full error log?
which component is causing this ? (pod, statefulset etc)?
Can you also share the k8s version?
When you added gatekeeper policies, can you also share what are these policies?
Can you also check the statefulset if `readOnlyRootFilesystem: true` is set to tru?
https://github.com/opensearch-project/helm-charts/blob/main/charts/opensearch/values.yaml#L2

[2022-09-23 15:06] Pigueiras commented on #303
Is there anything special that we need to set in the values.yaml in order to apply the custom securityConfig at bootstrap? I've been trying to reinstall the helm chart but every time I reinstall it I need to execute the `securityAdmin.sh` script in order to apply the configuration defined under `securityConfig` in the helm values.

[2022-09-27 10:49] kunal-parsewar commented on #330
Hi @prudhvigodithi  , sorry for the late reply . Please find below error that we were receiving.

[4:14 PM] Bhanu M
ERROR: [allow-privilege-escalation] Privilege escalation container is not allowed: fsgroup-volume29s Warning FailedCreate statefulset/opensearch-cluster-master create Pod opensearch-cluster-master-0 in StatefulSet opensearch-cluster-master failed error: admission webhook "validation.

[2022-09-29 15:39] #311 closed

[2022-09-29 15:39] pauloduartepinho opened #332 "[BUG][opensearch-dashboards] Ingress path value does not work"
When changing the ingress path from default (root value /) to custom, we are unable to access dashboards

All configuration is the default one expect for:

[code]

When accessing https://custom.host.local/search/opensearch-dashboards/ I get 404 not found :
![image](https://user-images.githubusercontent.com/1556117/186140385-4c82b126-0b69-4763-9197-abd192cf3b38.png)

Please tell me if any more info

[2022-09-29 18:31] peterzhuamazon commented on #315
This is done in #316 and #331 so close it now.

[2022-09-29 18:31] #315 closed

[2022-09-29 18:34] peterzhuamazon commented on #320
[Triage] We need to explore the concurrency but the solution now is to merge PRs one by one with delays in between.

[2022-09-29 18:38] peterzhuamazon commented on #330
Hi @kunal-parsewar @prudhvigodithi is it possible for you to try on any other cluster for the deployment?
Such as using kind/minikube on your local machine, or other similar online offerings to ensure it is actually an issue with the chart not the kube cluster.

Thanks.

[2022-09-29 18:46] peterzhuamazon commented on #332
[Triage] @TheAlgo @prudhvigodithi any ideas about this issue here?
Thanks.

[2022-09-30 10:06] MonGMZ commented on #213
Hi,

I'm in the same situation as you. Any help getting istio to work along opensearch would be appreciated.

[2022-09-30 11:14] kunal-parsewar commented on #330
@peterzhuamazon i have tried installing on guest OS k8s cluster ( Virtual Box ) , it installed successfully without any issue. Our company environment contains gatekeeper policies that is restricting the installation with the mentioned errors.

Even I have tried the latest version 2.3

Thanks ,
Kunal

[2022-09-30 18:01] #328 closed

[2022-10-11 16:49] Nexus2k commented on #268
@nomopo45 try removing the subject_key parameter, NameID is the default you seemingly have it set to "sub".

[2022-10-12 04:51] thanksmate1985 commented on #303
I know your comment is 19 days old and you've probably solved it, but for others this fixed it for me:

In values.yaml I had to :
 1) set securityConfig.path to /usr/share/opensearch/config/opensearch-security
 2) Comment out securityConfigSecret: ""

I did 1) above because I noticed in the logs thats where it was loading it from, I suspect its just a new default location in the newest Opensearch

[2022-10-12 07:01] Jonathan-w6d commented on #303
@thanksmate1985 hello there, can you actually confirm that 1) and 2) are enough ?
I'm positive it isn't, I tried changing the path too.

As stated earlier by someone else it's written in the docs that you have to launch security config manually in order to apply confs.

Also, if it ever works, be wary that you may overwrite configuration changes made via opensearch dashboards (new user created etc

[2022-10-12 08:15] kunal-parsewar commented on #330
HI Team,

Can anyone help on this?

Regards,
Kunal

[2022-10-12 11:16] ph311o opened #335 "[Enhancement][opensearch] Add hostPort support for http- and transport-ports"
**Is your feature request related to a problem? Please describe.**
There is no possibility to expose hostPort for http- and transport-ports in chart.

**Describe the solution you'd like**
2 new values:
- hostHttpPort
- hostTransportPort
hostPort only exposed  in opensearch container if values set in values.yaml

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-10-12 12:27] thanksmate1985 commented on #303
Hi Jonathan,

Just to confirm, I'm only talking about Pigueira's question on how to do it via bootstrap only?

I'm new to Kubernetes so please correct me if I've done something wrong.

Initially when I saw your post, I admit i did run:
/usr/share/opensearch/plugins/opensearch-security/tools/securityadmin.sh -cacert /usr/share/opensearch/config/root-ca.pem -cert /usr/share/opensearch/config/esnode.

[2022-10-12 12:44] Jonathan-w6d commented on #303
@thanksmate1985 that's my bad then ! It actually works at bootstrap, but it's the only time it does.
You are right

[2022-10-13 00:53] smlx commented on #330
[code]
This is the init container which may not be necessary for your environment. `--set=persistence.enableInitChown=false` should get you past this error since it disables the init container.

[2022-10-14 11:40] kunal-parsewar commented on #330
Thanks @smlx  , let me try with that.

Regards,
Kunal

[2022-10-17 09:03] iamtanmay opened #338 "[BUG] [opensearch-dashboards] "certificate signature failure" with self signed certs"
**Describe the bug**

Error:

"tags":["error","opensearch","data"],"pid":1,"message":"[ConnectionError]: certificate signature failure"}
"tags":["error","savedobjects-service"],"pid":1,"message":"Unable to retrieve version information from OpenSearch nodes."}

My dashboards chart. Host:

`opensearchHosts: "https://opensearch-cluster-master.opensearch.svc.cluster.local:9200"`

Config:

`config:

[2022-10-17 09:09] iamtanmay commented on #338
Just to add, there is nothing in the node container logs, so it looks like the dashboard service couldn't even reach it

[2022-10-18 03:22] subbareddydagumati commented on #228
@sevenval-admins Can you please explain in detail how did you fix this issue. I am also having the same issue.

[2022-10-20 12:54] retoo opened #339 "[Enhancement][opensearch] allow change the volumeClaimTemplate name"
**Is your feature request related to a problem? Please describe.**
The current volumeClaimTemplate name is rather long, currently the name `opensearch.uname`being used. The problem is, that this leads to really long PVC names, i.e. if your `clusterName` is `opensearch-test`then your `volumeClaimTemplate`will be `opensearch-test-master` which leads to the pvc name `opensearch-test-master-opensearch

[2022-10-21 06:37] smlx commented on #339
Could you explain a bit why the current naming scheme is causing problems for you?

[2022-10-21 11:49] retoo commented on #339
It just creates super long PVC names. Lets say I name my cluster `opensearch-myapp-integration`, this leads to both the claim-template and the statefulset to be called: `opensearch-myapp-integration-master` (the groupname `master`gets appended).

When a statefulset scales up, it looks for a claim named: `$CLAIM_TEMPLATE_NAME-$STATEFULSET_NAME-{0..N}`

Meaning, it will create a PVC named: `opensear

[2022-10-23 18:16] TheAlgo commented on #335
I understand the requirement but may I know why are you using this approach for exposing OpenSearch? From what I know the host IP can change when the container is restarted, two containers using the same hostPort cannot be scheduled on the same node and the usage of the hostPort is considered a privileged operation on OpenShift. Am I right on this? Would like to learn more from you.

[2022-10-24 17:46] BionIT opened #341 "[Enhancement][opensearch-dashboards]Provide entry point for installing external plugins"
**Is your feature request related to a problem? Please describe.**
Here is what I want to do: install an external plugin for Opensearch dashboard, but there is no entry/param to feed that. I figured to use post start lifecycle hooks to install plugins and was able to install plugins successfully that way, however to use the plugin, it also involves a schema change to add custom configs into the op

[2022-10-24 20:10] kevinlmadison commented on #180
We're having the same issue.

[2022-10-25 01:49] smlx commented on #180
You need to convert the key to `pkcs8` format in order for Opensearch to be able to load it.

This is covered in the documentation here https://opensearch.org/docs/latest/security-plugin/configuration/generate-certificates/

[2022-10-25 01:53] smlx commented on #341
Using a custom image is the documented way to do this https://opensearch.org/docs/latest/opensearch/install/docker#working-with-plugins

Installing at pod-start time seems very fragile.

[2022-10-25 05:37] peterzhuamazon commented on #180
@smlx I believe with these PRs we can also use pkcs1:

https://github.com/opensearch-project/OpenSearch/pull/4893
https://github.com/netty/netty/pull/12670

[2022-10-25 17:02] BionIT commented on #341
Yeah, installing using the post start hook is the hack that is only available option without creating a custom image.
OSD has script to install plugins, and I think providing the entry to allow specifying plugins to install would be a nice feature for the community, I do find other OSD helm chart providing entries for plugins and other settings which is more flexible https://artifacthub.io/package

[2022-10-25 19:44] rishabh6788 commented on #338
@prudhvigodithi @peterzhuamazon can you please take a look at this?

[2022-10-25 19:50] rishabh6788 commented on #341
@peterzhuamazon @prudhvigodithi please take a look and provide your inputs.

[2022-10-25 19:52] Ryanj535 commented on #192
Are the role requirements listed somewhere?

[2022-10-26 00:55] peterzhuamazon commented on #338
This seems more of an issue on security plugin.
Let us know if we can move this issue to their repo.
Thanks.

[2022-10-27 18:07] peterzhuamazon commented on #341
Hi @BionIT this can be an interesting feature to simplify the task.

It would be great if you can have a draft PR to showcase the possible changes.

Note that this is related to plugin installation, so it is better to add for both OpenSearch and Dashboards together.

Thanks.

[2022-10-27 18:31] BionIT commented on #341
Sounds great! Thanks a lot @peterzhuamazon for your suggestion! Happy to work on a draft PR!

[2022-10-27 19:43] TheAlgo commented on #341
@BionIT Are you looking for some entrypoint like this : https://github.com/opensearch-project/helm-charts/blame/aca0199c9ff1fbeb0904b1ce4bf423dc388132c2/charts/opensearch/values.yaml#L436

[2022-10-27 20:02] BionIT commented on #341
@TheAlgo Yes, looks like OS has this, but OSD doesn't - is there a particular reason? Is it something we are interested to have for OSD plugins as well?

[2022-10-28 05:03] TheAlgo commented on #341
Yes definitely it is good to have. Thanks for making a PR for this @BionIT

[2022-10-28 15:23] kevinlmadison opened #343 "[BUG][opensearch + opensearch-dashboards]"
**Describe the bug**
So I'm trying to deploy a "mostly" vanilla deployment of these two charts but I'm getting an error in the dashboard logs.
[code]

As far as I can tell the logs in the opensearch cluster pods look good.

**To Reproduce**
I'm running this in RKE2 but I'm granting unrestricted access via podSecurityPolicies.

`helm install opensearch opensearch/opensearch -n admin -f values.yaml`

[2022-11-01 15:19] albgus opened #345 "[BUG] OpenSearchException: Transport client authentication no longer supported"
**What is the bug?**
When starting an OpenSearch cluster from the Helm chart and attempting the nodes start, but are throwing an exception because they're apparently not allowed to communicate.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Follow the OpenSeach Helm installation guide: https://opensearch.org/docs/latest/opensearch/install/helm/
2. Go through the undocument

[2022-11-02 12:38] albgus commented on #345
After another day of trial and error it seems that replacing the certificates with ones genrated by the OpenSearch operator (which has a bunch of other issues) makes it work... I have no idea why but I'm fairly confident that it's not really a bug of the Helm chart.

I think this is more of an issue that there is no documentation on how to set up an OpenSearch cluster in anything other than an ins

[2022-11-02 15:00] albgus commented on #345
I feel a bit stupid now but I've somehow managed to gloss over this page in the docs: https://opensearch.org/docs/latest/security-plugin/configuration/generate-certificates/

Furthermore it seems that the trick here is to add "Registered ID: 1.2.3.4.5.5", to allow the cluster to work without specifying nodes_dn: (which was the discrepancy between the example config)

[code]
with extfile: `subjectA

[2022-11-02 15:00] #345 closed

[2022-11-02 15:21] peternied commented on #345
@albgus Thanks for sharing your journey - you aren't alone on missing a step in the process, just recently I was attempting to reproduce build failures for windows platform ... on a linux machine.

If you have any thoughts on how the documentation could be improved or augmented feel free to drop in to `documentation-website` [1] with any suggestions through issues or maybe even a pull request.

[1

[2022-11-02 15:24] peternied commented on #345
FYI @cwillum - He is the championing the security plugin's documentation.

[2022-11-02 15:56] timweine opened #347 "[BUG] Unable to attach or mount volume | 2 of 3 pods are running"
**Describe the bug**
I'm trying to install opensearch, but get only 2 of 3 pods running.
`failed to attach or mount volume of 1 Pod.`  See following event logs:

![image](https://user-images.githubusercontent.com/93273500/199537904-e66cbb34-e904-43bf-90a9-b56ca17732d1.png)

![image](https://user-images.githubusercontent.com/93273500/199538377-6c2ae39a-1896-46e8-a31a-8944d84f8760.png)

**NOTE**
* i

[2022-11-02 16:53] #347 closed

[2022-11-03 18:08] TheAlgo commented on #339
If this is something which is really impacting users of the chart, then I don't have any strong opinions for this change. We can keep the default value and give a facility for configuring it.

[2022-11-03 18:13] TheAlgo commented on #307
Closing this issue for now.

[2022-11-03 18:13] #307 closed

[2022-11-08 15:16] patsevanton opened #348 "[BUG][opensearch] bootstrap checks failed"
**Describe the bug**
[code]

**To Reproduce**
Setup k8s with 3 nodes by 2 cpu and 4 GB
[code]

**Expected behavior**
Installed opensearch

**Chart Name**
opensearch

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Host/Environment (please complete the following information):**
 - Helm Version: v3.10.1
 - Kubernetes Version: 1.21.5
 - opensearch chart version 2.6.2

[2022-11-08 20:34] prudhvigodithi commented on #343
Hey @kevinlmadison does the default installation work without modifying the security context ?
Thanks you

[2022-11-08 20:40] prudhvigodithi commented on #348
Hey @patsevanton it looks like it's an error with `max virtual memory`, can you try on nodes with larger vm.max_map_count and update here?
Thank you

[2022-11-12 15:34] patsevanton commented on #348
@prudhvigodithi fixed by
[code]

[2022-11-12 15:34] #348 closed

[2022-11-16 13:46] nitinjagjivan commented on #87
With k8s v1.25 PodSecurity "baseline:latest" or PodSecurity "restricted:latest",  initContainer solution provided above doesn't work as it needs **securityContext.privileged: true** which is dangerous as well.

Also [helm-charts/charts/opensearch/values.yaml](https://github.com/opensearch-project/helm-charts/blob/8aaa89e2ed43896910dd50a57a50e05380ddea71/charts/opensearch/values.yaml#L373) doesn't

[2022-11-23 00:08] devops-pulp-py commented on #161
Hi,
I solved the issue by changing the following in the helm chart

**from this**
`securityConfig:
  enabled: true
  path: "/usr/share/opensearch/plugins/opensearch-security/securityconfig"
`

**to this **
`securityConfig:
  enabled: true
  path: "/usr/share/opensearch/config/opensearch-security"
`
This the final values.yaml that worked for me
`---
clusterName: "opensearch-cluster"
nodeGroup: "mas

[2022-11-24 19:23] peterzhuamazon commented on #161
In review now:
* https://github.com/opensearch-project/helm-charts/pull/344

[2022-11-30 08:26] ganilmca opened #351 "Not able to deploy the cluster with master data client nodes separately"
Hi Team,

In the below link helm charts, we are not able to deploy the cluster with master nodes separately and data nodes.
We want dedicated master, data, and client nodes.
Can anyone tell us how to deploy the cluster like the above?

We mentioned the roles below: **in this case we could able to deploy the cluster with all roles for each pod**
roles:
  - master
  - ingest
  - data
  - remote_clus

[2022-11-30 10:15] nitinjagjivan opened #352 "[Enhancement] [filebeat] violates PodSecurity baseline:latest hostPath volumes"
**Describe the bug**
On kubernetes v1.25 with baseline or restricted policy, the filebeat chart fails as it uses hostPath volumes

**Chart Name**
filebeat

**Host/Environment (please complete the following information):**
 - Helm Version: [e.g. 3.7.2]
 - Kubernetes Version: [e.g. 1.25.1]